<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">

<div class="ui-widget-content ui-corner-all"  style="margin-bottom: 10px;">
<table width="100%">
	<tr>
		<th class="ui-widget-header  ui-corner-all">{HUSERFILTER}</th>
		<th class="ui-widget-header  ui-corner-all">{HOPERATIONFILTER}</th>
	</tr>
	<tr>
		<td>{USERFILTER}</td>
		<td>{OPERATIONFILTER}</td>
	</tr>
</table>
</div>

<div class="ui-widget-content ui-corner-all"  style="margin-bottom: 10px;">
<table width="100%">
	<tr>
		<th colspan="5"><div class="ui-widget-header ui-corner-all">{PAGETITLE}</div></th>
	</tr>
	<tr>
		<th colspan="5">{JOMRESTOOLBAR}</th>
	</tr>
	<tr>
		<th class="ui-widget-header">{HDATE}</span></th>
		<th class="ui-widget-header">{HTIME}</span></th>
		<th class="ui-widget-header">{HUSER}</span></th>
		<th class="ui-widget-header">{HOPERATION}</span></th>
		<th class="ui-widget-header">{HVIEWSQL}</span></th>
	</tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr>
		<td>{THEDATE}</td>
		<td>{THETIME}</td>
		<td>{USER}</td>
		<td>{OPERATION}</td>
		<td>{VIEWSQL}</td>
	</tr>
	</patTemplate:tmpl>
</table>
</div>

<input type="hidden" name="task" value="showAuditTrail" />
</form>
</patTemplate:tmpl>
