<patTemplate:tmpl name="cancelbooking">
<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">

<form action="index.php?option=com_jomres" method="post" name="adminForm">
<table class="jradmin_innerwrapper">
	<tr>
		<td class="jomres_title">{PAGETITLE}</td>
	</tr>
	<tr>
		<td>{JOMRESTOOLBAR}</td>
	</tr>
	<tr>
		<td>
			<table class="jradmin_table">
				<tr>
					<td class="jradmin_subheader_la">{HARRIVAL}</td>
					<td class="jradmin_field_la">{ARRIVAL}</td>
				</tr>
				<tr>
					<td class="jradmin_subheader_la">{HDAYSTOARRIVAL}</td>
					<td class="jradmin_field_la">{DAYSTOARRIVAL}</td>
				</tr>
				<tr>
					<td class="jradmin_subheader_la">{HDEPOSITPAID}</td>
					<td class="jradmin_field_la">{DEPOSITAMOUNT}</td>
				</tr>
				<tr>
					<td class="jradmin_subheader_la">{HCONTRACTTOTAL}</td>
					<td class="jradmin_field_la">{CONTRACTTOTAL}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{HREASON}
<textarea class="inputbox" cols="40" rows="3" name="reason"></textarea>

{JOMRESTOKEN}
<input type="hidden" name="contract_uid" value="{CONTRACT_UID}" />
<input type="hidden" name="Itemid" value="{ITEMID}" />
<input type="hidden" name="task" value="saveCancellation" />
</form>

</patTemplate:tmpl>
</patTemplate:tmpl>