<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<script src="http://maps.google.com/maps?file=api&v=2.x&key={APIKEY}&hl=en" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
function OnChange(dropdown)
	{	
	var myindex	= dropdown.selectedIndex
	var baseURL= "{JOMRES_SITEPAGE_URL}&task=editProperty"
	top.location.href = baseURL + "&propertyUid={PROPERTYUID}&selectedCountry="+dropdown.options[myindex].value;
	return true;
	}

function OnChange(dropdown)
	{	
	var myindex	= dropdown.selectedIndex
	var baseURL= "{JOMRES_SITEPAGE_URL}&task=editProperty"
	top.location.href = baseURL + "&propertyUid={PROPERTYUID}&selectedCountry="+dropdown.options[myindex].value;
	return true;
	}
<!-- Clickable locations adapted from http://universimmedia.pagesperso-orange.fr/geo/loc.htm -->
function load() {
	if (GBrowserIsCompatible()) {
		var map = new GMap2(document.getElementById("map"));
		map.setUIToDefault();
		map.setMapType(G_HYBRID_MAP);
		map.enableScrollWheelZoom();
		var center = new GLatLng({LAT},{LONG});
		map.setCenter(center, 15);
		geocoder = new GClientGeocoder();
		var marker = new GMarker(center, {draggable: true});  
		map.addOverlay(marker);
		document.getElementById("lat").innerHTML = center.lat().toFixed(5);
		document.getElementById("lng").innerHTML = center.lng().toFixed(5);

		GEvent.addListener(marker, "dragend", function() {
			var point = marker.getPoint();
			map.panTo(point);
			jomresJquery('#lat').val(point.lat().toFixed(5));
			jomresJquery('#lng').val(point.lng().toFixed(5));
			});

		GEvent.addListener(map, "moveend", function() {
			map.clearOverlays();
			var center = map.getCenter();
			var marker = new GMarker(center, {draggable: true});
			map.addOverlay(marker);
			jomresJquery('#lat').val( center.lat().toFixed(5) );
			jomresJquery('#lng').val( center.lng().toFixed(5) );

			GEvent.addListener(marker, "dragend", function() {
				var point =marker.getPoint();
				map.panTo(point);
				jomresJquery('#lat').val(point.lat().toFixed(5));
				jomresJquery('#lng').val( point.lng().toFixed(5));
				});
			});
		}
	}

function showAddress(address) {
	var map = new GMap2(document.getElementById("map"));
	map.addControl(new GSmallMapControl());
	map.addControl(new GMapTypeControl());
	if (geocoder) {
		geocoder.getLatLng(
		address,
		function(point) {
			if (!point) {
				alert(address + " not found");
			} else {
				jomresJquery('#lat').val(point.lat().toFixed(5));
				jomresJquery('#lng').val( point.lng().toFixed(5));
				map.clearOverlays()
				map.setCenter(point, 14);
				var marker = new GMarker(point, {draggable: true});  
				map.addOverlay(marker);
				GEvent.addListener(marker, "dragend", function() {
					var pt = marker.getPoint();
					map.panTo(pt);
					jomresJquery('#lat').val(pt.lat().toFixed(5));
					jomresJquery('#lng').val(pt.lng().toFixed(5));
					});

		GEvent.addListener(map, "moveend", function() {
			map.clearOverlays();
			var center = map.getCenter();
			var marker = new GMarker(center, {draggable: true});
			map.addOverlay(marker);
			jomresJquery('#lat').val(center.lat().toFixed(5));
			jomresJquery('#lng').val(center.lng().toFixed(5));

			GEvent.addListener(marker, "dragend", function() {
				var pt = marker.getPoint();
				map.panTo(pt);
				jomresJquery('#lat').val(pt.lat().toFixed(5));
				jomresJquery('#lng').val(pt.lng().toFixed(5));
				});
			});
		}
		});
	}
}

jomresJquery(document).ready(function() {
	load()
	});

</script>
<h2>{PAGETITLE}</h2>
<p class="ui-state-highlight">{CHANGECOUNTRYWARNING}</p>
<p>{DELETEWARNING}</p>
<form action="{JOMRES_SITEPAGE_URL}" method="post" name="regForm">
{JOMRESTOOLBAR}
<table class="ui-widget-content ui-corner-all" border="0" width="100%">	
	<tr>
		<td width="30%">{HCOUNTRY}</td>
		<td >{COUNTRIESDROPDOWN}</td>
	</tr>
	<tr>
		<td>{HREGION}</td>
		<td>{REGIONDROPDOWN}</td>
	</tr>
	<tr>
		<td>{HPROPERTY_TYPE}</td>
		<td>{PROPERTY_TYPE_DROPDOWN}</td>
	</tr>
	<tr>
		<td>{HNAME}<span class="required">*</span></td>
		<td><input class="inputbox" type="text" size="20" name="property_name" value="{PROPERTY_NAME}" /></td>
	</tr>
	<tr>
		<td>{HSTREET}<span class="required">*</span></td>
		<td><input class="inputbox" type="text" size="20" name="property_street" value="{PROPERTY_STREET}" /></td>
	</tr>
	<tr>
		<td>{HTOWN}<span class="required">*</span></td>
		<td><input class="inputbox" type="text" size="20" name="property_town" value="{PROPERTY_TOWN}" /></td>
	</tr>
	<tr>
		<td>{HPOSTCODE}<span class="required">*</span></td>
		<td><input class="inputbox" type="text" size="20" name="property_postcode" value="{PROPERTY_POSTCODE}" /></td>
	</tr>
	<tr>
		<td>{HTELEPHONE}<span class="required">*</span></td>	
		<td><input class="inputbox" type="text" size="20" name="property_tel" value="{PROPERTY_TEL}" /></td>
	</tr>
	<tr>
		<td>{HFAX}</td>
		<td><input class="inputbox" type="text" size="20" name="property_fax" value="{PROPERTY_FAX}" /> </td>
	</tr>
	<tr>
		<td>{HEMAIL}<span class="required">*</span></td>
		<td><input class="inputbox" type="text" size="20" name="property_email" value="{PROPERTY_EMAIL}" /></td>
	</tr>
	<tr>
		<td>{HPRICE}</td>
		<td>{CURRENCY}<input class="inputbox" type="text" size="20" name="price" value="{PRICE}" /></td>
	</tr>
	<tr>
		<td>Lat: (nn.nnnn)</td>
		<td><input id="lat" class="inputbox" type="text" size="20" name="lat" value="{LAT}" /></td>
	</tr>
	<tr>
		<td>Long: (nn.nnnn)</td>
		<td><input id="lng" class="inputbox" type="text" size="20" name="long" value="{LONG}" /></td>
	</tr>
	<tr>
		<td>{LATLONG_DESC}</td>
		<td><div align="left" id="map" style="width: 500px; height: 350px"></div></td>
	</tr>
	<tr>
		<td>{HFEATURES}</td>
		<td>{FEATURES}</td>
	</tr>
	<tr>
		<td>{HFEATURES}</td>
		<td>
			<patTemplate:tmpl name="globalPfeatures">
			<div style="float:left;">
			<input type="checkbox" name="pid[]" value="{PID}" style="float:left;" > {FEATURE}
			</div>
			</patTemplate:tmpl>
		</td>
	</tr>
	<tr>
		<td>{HPROPDESCRIPTION}<span class="required">*</span></td>
		<td>{PROPERTY_DESCRIPTION}</td>
	</tr>
	<tr>
		<td>{HCHECKINTIMES}</td>
		<td>{PROPERTY_CHECKIN_TIMES}</td>
	</tr>
	<tr>
		<td>{HAREAACTIVITIES}</td>
		<td>{PROPERTY_AREA_ACTIVITIES}</td>
	</tr>
	<tr>
		<td>{HDRIVINGDIRECTIONS}</td>
		<td>{PROPERTY_DRIVING_DIRECTIONS}</td>
	</tr>
	<tr>
		<td>{HAIRPORTS}</td>
		<td>{PROPERTY_AIRPORTS}</td>
	</tr>
	<tr>
		<td>{HOTHERTRANSPORT}</td>
		<td>{PROPERTY_OTHERTRANSPORT}</td>
	</tr>
	<tr>
		<td>{HPOLICIESDISCLAIMERS}</td>
		<td>{PROPERTY_POLICIES_DISCLAIMERS}</td>
	</tr>
	<tr>
		<td>Meta title</td>
		<td><input class="inputbox" type="text" size="70" name="metatitle" value="{METATITLE}" /></td>
	</tr>
	<tr>
		<td>Meta description</td>
		<td><input class="inputbox" type="text" size="70" name="metadescription" value="{METADESCRIPTION}" /></td>
	</tr>
</table>
{JOMRESTOKEN}
<input type="hidden" name="property_uid" value="{PROPERTYUID}" />
<input type="hidden" name="task" value="saveProperty" />
{TOOLBAR2}
</form>
<h3>{UPLOADIMAGE}</h3>
<p class="ui-state-highlight">{SAVEBEFOREUPLOADWARNING}</p>
<form enctype="multipart/form-data" action="{JOMRES_SITEPAGE_URL}&task=uploadPropertyImage" method="post">
<table class="ui-widget-content ui-corner-all" border="0" width="100%">
	<tr>
		<td width="30%"><input type='file' name='image'/></td>
		<td><input type="submit" value="{UPLOADIMAGE}" class="fg-button ui-state-default ui-corner-all" /></td>
	</tr>
	<tr>
		<td>{DELETEIMAGE}</td>
		<td>{IMAGE}</td>
	</tr>
</table>
{JOMRESTOKEN}
</form>
</patTemplate:tmpl>