<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<table width="100%" border="0">
	<tr>
		<td width="30%">{_JOMRES_COM_MR_EB_ARRIVALFIRSTNAME_EXPL}</td>
		<td>{GUEST_FIRSTNAME}</td>
	</tr>
	<tr>
		<td>{_JOMRES_COM_MR_EB_ARRIVALSURNAME_EXPL}</td>
		<td>{GUEST_SURNAME}</td>
	</tr>
	<tr>
		<td>{ARRIVALTEXT}</td>
		<td>{BOOKING_ARRIVAL}</td>
	</tr>
	<tr>
		<td>{DEPARTURETEXT}</td>
		<td>{BOOKING_DEPARTURE}</td>
	</tr>
	<tr>
		<td>{_JOMRES_COM_MR_EB_GUEST_JOMRES_EMAIL_EXPL}</td>
		<td><a href="{EMAIL_LINK}">{EMAIL_ADDRESS}</a></td>
	</tr>
	<tr>
		<td>{_JOMRES_COM_MR_EB_ROOM_BOOKINGSPECIALREQ}</td>
		<td>{SPECIALREQS}</td>
	</tr>
</table>
</patTemplate:tmpl>