<patTemplate:tmpl name="pageoutput">
<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
<div class="ui-widget-content ui-corner-all"  style="margin-bottom: 10px;">

<table width="100%">
	<tr>
		<th colspan="8"> <div class="ui-widget-header ui-corner-all">{PAGETITLE}</div></th>
	</tr>
	<tr>
		<td colspan="8">{JOMRESTOOLBAR}</td>
	</tr>
	<tr>
		<td class="ui-widget-header ui-corner-left">{HTYPE}</td>
		<td class="ui-widget-header ">{HNAME}</td> 
		<td class="ui-widget-header ">{HNUMBER}</td>
		<td class="ui-widget-header ">{HFLOOR}</td>
		<td class="ui-widget-header ">{HDISABLED}</td>
		<td class="ui-widget-header ">{HMAXPEOPLE}</td>
		<td class="ui-widget-header ">{HSMOKING}</td>
		<td class="ui-widget-header ui-corner-right">{HSUPPLIMENT}</td>
	</tr>
	<tr>
		<td>{TYPEDROPDOWN}</td>
		<td><input class="inputbox" type="text" name="room_name" value="{ROOMNAME}" /> </td>
		<td><input class="inputbox" type="text" size="4" name="room_number" value="{ROOMNUMBER}" /> </td>
		<td><input class="inputbox" type="text" size="4" name="room_floor" value="{ROOMFLOOR}" /> </td>
		<td>{DISABLED} </td>
		<td><input class="inputbox" type="text" size="4" name="max_people" value="{MAXPEOPLE}" /> </td>
		<td>{SMOKING}</td>
		<td>{CURRENCY}<input class="inputbox" type="text" size="4" name="singleperson_suppliment" value="{SUPPLIMENT}" /></td>
	</tr>
	<tr>
		<td class="" colspan="8" >{SUPPLIMENT_DESC}</td>
	</tr>
	<tr>
		<td colspan="8">
			<table width="100%">
				<tr>
					<td class="ui-widget-header ui-corner-all">{HFEATURES}</td>
				</tr>
				<tr>
					<td>{FEATURES}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{JOMRESTOKEN}
<input type="hidden" name="roomUid" value="{ROOMUID}" />
<input type="hidden" name="task" value="saveRoom" />
</form>

<br />

<form enctype="multipart/form-data" action="{JOMRES_SITEPAGE_URL}&task=uploadRoomImage" method="post" name="upload">

<table width="100%">
	<tr>
		<td colspan="3" class="ui-widget-header ui-corner-all">{UPLOADIMAGE}</td>
	</tr>
	<tr>
		<td><input type='file' name='image'/></td>
		<td><input type="hidden" name="roomUid" value="{ROOMUID}" /></td>
		<td><input type="submit" value="{UPLOADIMAGE}" class="button" ></td>
	</tr>
	<tr>
		<td colspan="3" class="ui-widget-header ui-corner-all">&nbsp;</td>
	</tr>
	<tr>
		<td>{DELETEIMAGE}</td>
		<td colspan="2">{IMAGE}</td>
	</tr>
</table>

{JOMRESTOKEN}
</form>
</patTemplate:tmpl>