<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<h2>{PAGETITLE}</h2>
<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<table width="100%" border="0" class="ui-widget-content ui-corner-all">
	<tr>
		<td width="30%">{HEXNAME}</td>
		<td><input class="inputbox" type="text" name="name" value="{EXNAME}" /></td>
	</tr>
	<tr>
		<td>{HEXDESC}</td>
		<td><input class="inputbox" type="text" name="desc" value="{EXDESCRIPTION}" /></td>
	</tr>
	<tr>
		<td>{HMAXQUANTITY}</td>
		<td>{MAXQUANTITYDROPDOWN}</td>
	</tr>
	<tr>
		<td>{HEXPRICE}</td>
		<td>{CURRENCY}<input class="inputbox" type="text" name="price" value="{EXPRICE}" /></td>
	</tr>
	<tr>
		<td>{HTAXRATE}</td>
		<td>{TAXRATEDROPDOWN}</td>
	</tr>
	<tr>
		<td>{HAUTO_SELECT}</td>
		<td>{AUTO_SELECT}</td>
	</tr>
</table>
<br />
<patTemplate:tmpl name="extra_models" type="simpleCondition" requiredVars="extramodel_force1">
<table border="0" width="100%">
	<tr>
		<th class="ui-state-default">{_JOMRES_EXTRAS_MODELS_MODEL}</th>
		<th class="ui-state-default">{_JOMRES_EXTRAS_MODELS_PARAMS}</th>
		<th class="ui-state-default">{_JOMRES_EXTRAS_MODELS_FORCE}</th>
	</tr>
	<tr class="odd">
		<td><input type="radio" name="extramodel[]" value="1" {EXTRAMODEL_PERWEEK_CHECKED} >{EXTRAMODEL_PERWEEK}</td>
		<td>&nbsp;</td>
		<td>{EXTRAMODEL_FORCE1}</td>
	</tr>
	<tr class="even">
		<td><input type="radio" name="extramodel[]" value="2" {EXTRAMODEL_PERDAYS_CHECKED}>{EXTRAMODEL_PERDAYS}</td>
		<td>&nbsp;</td>
		<td>{EXTRAMODEL_FORCE2}</td>
	</tr>
	<tr class="odd">
		<td><input type="radio" name="extramodel[]" value="3" {EXTRAMODEL_PERBOOKING_CHECKED}>{EXTRAMODEL_PERBOOKING}</td>
		<td>&nbsp;</td>
		<td>{EXTRAMODEL_FORCE3}</td>
	</tr>
	<tr class="even">
		<td><input type="radio" name="extramodel[]" value="4" {EXTRAMODEL_PERPERSONPERBOOKING_CHECKED}>{EXTRAMODEL_PERPERSONPERBOOKING}</td>
		<td>&nbsp;</td>
		<td>{EXTRAMODEL_FORCE4}</td>
	</tr>
	<tr class="odd">
		<td><input type="radio" name="extramodel[]" value="5" {EXTRAMODEL_PERPERSONPERDAY_CHECKED}>{EXTRAMODEL_PERPERSONPERDAY}</td>
		<td>&nbsp;</td>
		<td>{EXTRAMODEL_FORCE5}</td>
	</tr>
	<tr class="even">
		<td><input type="radio" name="extramodel[]" value="6" {EXTRAMODEL_PERPERSONPERWEEK_CHECKED}>{EXTRAMODEL_PERPERSONPERWEEK}</td>
		<td>&nbsp;</td>
		<td>{EXTRAMODEL_FORCE6}</td>
	</tr>
	<tr class="odd">
		<td><input type="radio" name="extramodel[]" value="7" {EXTRAMODEL_PERDAYSMINDAYS_CHECKED}>{EXTRAMODEL_PERDAYSMINDAYS} </td>
		<td>{MINDAYSDROPDOWN}</td>
		<td>{EXTRAMODEL_FORCE7}</td>
	</tr>
	<tr class="even">
		<td><input type="radio" name="extramodel[]" value="8" {EXTRAMODEL_PERDAYSPERROOM_CHECKED}>{EXTRAMODEL_PERDAYSPERROOM} </td>
		<td>&nbsp;</td>
		<td>{EXTRAMODEL_FORCE8}</td>
	</tr>
	<tr class="odd">
		<td><input type="radio" name="extramodel[]" value="9" {EXTRAMODEL_PERROOMPERBOOKING_CHECKED}>{EXTRAMODEL_PERROOMPERBOOKING} </td>
		<td>&nbsp;</td>
		<td>{EXTRAMODEL_FORCE9}</td>
	</tr>
</table>
</patTemplate:tmpl>
<input type="hidden" name="uid" value="{EXTRAID}" />
<input type="hidden" name="task" value="saveExtra" />
<input type="hidden" name="no_html" value="1" />
</form>
</patTemplate:tmpl>