<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<form action="{JOMRES_SITEPAGE_URL}"  method="post" name="adminForm">
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all"  style="margin-bottom: 10px;">
<table width="100%">
	<tr>
		<th><div class="fg-toolbar ui-widget-header ui-corner-all">{PAGETITLE}</div></th>
	</tr>
	<tr>
		<td>{JOMRESTOOLBAR}</td>
	</tr>
	<tr>
		<td>{DROPDOWNLIST}</td>
	</tr>
</table>
<input type="hidden" name="task" value="bookGuestOut" />
</div>
</form>

</patTemplate:tmpl>
