<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<form action="{JOMRES_SITEPAGE_URL}"  method="post" name="adminForm">
<table>
	<tr>
		<td>{JOMRESTOOLBAR}</td>
	</tr>
	<tr>
		<td class="jfg-toolbar ui-widget-header ui-corner-all">{HPROPERTYTYPE}</td>
		<td class="jfg-toolbar ui-widget-header ui-corner-all">{RATETEXT}</td>
		<td class="jfg-toolbar ui-widget-header ui-corner-all">{HMAXPEOPLE_TARIFF}</td>
	</tr>
		<td>
			<table class="jradmin_table">
				<tr>
					
				</tr>
				<patTemplate:tmpl name="rows" unusedvars="nbsp">
				<tr>
					<td class="jradmin_field_ca">{ROOM_CLASS_RADIO}</td>
				</tr>
				</patTemplate:tmpl>
			</table>
		</td>
		<td class="jradmin_field_ca">{ROOMRATEPERDAY}</td>
		<td class="jradmin_field_ca">{MAX_PEOPLE}</td>
	</tr>
</table>
{JOMRESTOKEN}
<input type="hidden" name="task" value="save_normalmode_tariffs" />
</form>
</patTemplate:tmpl>
