<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<h2>{PAGETITLE}</h2>
<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<table width="100%" border="0" class="ui-widget-content ui-corner-all">
	<patTemplate:tmpl name="bookingsrows" unusedvars="nbsp">
	<tr>
		<td width="40">{CHECKBOX}</td>
		<td>{EDITLINK}</td>
	</tr>
	</patTemplate:tmpl>
	<tr>
		<td colspan="2">{NOBLACKBOOKINGS}</td>
	</tr>
</table>
<input type="hidden" name="task" value="delete_multiple_blackbookings" />
</form>
</patTemplate:tmpl>