<patTemplate:tmpl name="reception">
<table>
	<tr>
		<td><form action="" method="post" name="propertyDropdown">{PROPERTYDROPDOWN}<input type="hidden" name="task" value="com_jomres"></form></td>
		<td><form action="" method="post" name="tagSearch"><!--{HTAGSEARCH}-->{SEARCHIMAGE}<input class="inputbox" type="text" name="tag" size="9" value=""></form></td>
		<td>{CLICKCOUNTIMAGE}&nbsp;{CLICKCOUNT}</td>
		<td><div id='jomresmenu_hint' style=color:red; >&nbsp;</div></td>
	</tr>
</table>
{JOMRESTOOLBAR}
</patTemplate:tmpl>