<patTemplate:tmpl name="pageoutput">
<script language="javascript">
<!--
function OnChange(dropdown)
	{	
	cty=jQuery("select#country").val();
	var baseURL= "{MOSCONFIGLIVESITE}/index.php?option=com_jomres&task=registerProp_step1&Itemid={ITEMID}"
	location.href = baseURL + "&selectedCountry="+cty;
	return true;
	}
function submitCountry(){
	document.regForm.action = "index.php?option=com_jomres&task=registerProp_step2"
	document.regForm.submit();
	return true;
	}
//-->
</script>

<form action="index.php?option=com_jomres" method="post" name="regForm" >
<table class="jradmin_table">
	<tr>
		<td class="jradmin_field_ca">{REGISTRATION_INSTRUCTIONS_STEP1}</td>
	</tr>
	<tr>
		<td>
			<table class="jradmin_table">
				<tr>
					<td class="jradmin_subheader_ca">{HCOUNTRY}</td>
					<td class="jradmin_subheader_ca">{HREGION}</td> 
				</tr>
				<tr>
					<td class="jradmin_field_ca">{COUNTRIESDROPDOWN}</td>
					<td class="jradmin_field_ca">{REGIONDROPDOWN}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<input type="hidden" name="task" value="registerProp_step2" />
<input type="hidden" name="Itemid"		 value="{ITEMID}" />
<input type="button" name="send" value="Submit" class="button" onclick="submitCountry();" />
</form>
</patTemplate:tmpl>
