core-plugins
uploadedimages
temp
/configuration.php
sessions
cache
remote-plugins
updates
/logs/Core.application.log
vendor/ezyang/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer/HTML/4.9.3,039209994080c416d43e1a443a5b919d9bdafeb5,1.ser
/remote_plugins
desktop.ini
/logs/.gitignore
/language/rvhire
