core-plugins
uploadedimages
temp
/configuration.php
sessions
cache
remote-plugins
/updates/
/logs/Core.application.log
/vendor/ezyang/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer/HTML/
/remote_plugins
desktop.ini
/logs/.gitignore
/language/rvhire
/node_modules/x-editable/test/*
/node_modules/jquery-ui/external/*
/encryption_key.class.php
/database/updates/9.15.0/jomres_images_resource_id_update_rmtypes.php
/libraries/node_modules/x-editable/test
/libraries/node_modules/jquery-ui/external
/libraries/vendor/ezyang/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer/HTML/4.12.0,039209994080c416d43e1a443a5b919d9bdafeb5,1.ser
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSansMono.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSansMono-Bold.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSansMono-BoldOblique.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSansMono-Oblique.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSans-Oblique.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSerif.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSerif-Bold.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSerif-BoldItalic.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSerifCondensed-Bold.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSerifCondensed-BoldItalic.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSerifCondensed-Italic.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSerif-Italic.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuinfo.txt
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSans.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSans-Bold.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSans-BoldOblique.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSansCondensed-Bold.ttf
/libraries/vendor/mpdf/mpdf/ttfonts/DejaVuSansCondensed-BoldOblique.ttf
/libraries/vendor/ezyang/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer/HTML/4.12.0,fdca343d1464f9bfac09c10f378b10ecf76b08cf,1.ser
packages

.idea/

composer.json

composer.lock

hashes

package-lock.json

package.json

assets/images/ajax_animation/fading_lines.gif

assets/images/ajax_animation/snake.gif

database/updates/9.10.0/sample.php

libraries/packages/

.idea/
