<patTemplate:tmpl name="pageoutput" >
<h2>{_JOMRES_SA_FORMS_REGISTRATION_TITLE}</h2>
<form name="form1" method="post" action="{POSTACTION}">
	<fieldset>
    	<legend>{_JOMRES_SA_FORMS_REGISTRATION_DESC}</legend>
        <table>
			<tr>
               	<td><label for="login">{_JOMRES_SA_FORMS_USERNAME}:</label></td>
				<td><input type="text" name="login" size="30" value="{LOGIN}"></td>
            </tr>
            <tr>
            	<td><label for="password">{_JOMRES_SA_FORMS_PASSWORD}:</label></td>
				<td><input name="password" type="password" value="{PASSWORD}" size="30"></td>
				<td>{_JOMRES_SA_FORMS_UPDATEUSER_MINCHARS}</td>
            </tr>
           	<tr>
            	<td><label for="confirm">{_JOMRES_SA_FORMS_UPDATEUSER_CONFIRMPASSWORD}:</label></td>
                <td><input name="confirm" type="password" value="{PASSWORDCONFIRM}" size="30"></td>
  				<td> *</td>
            </tr>
            <tr>
            	<td><label for="name">{_JOMRES_SA_FORMS_UPDATEUSER_REALNAME}:</label></td>
				<td><input name="name" type="text" value="{FULLNAME}" size="30"></td>
           	</tr>
            <tr>
            	<td><label for="email">{_JOMRES_SA_FORMS_UPDATEUSER_EMAIL}:</label></td>
                <td><input name="email" type="text" value="{EMAIL}" size="30"></td>
                <td> *</td>
            </tr>
            <tr>
            	<td><label for="info">{_JOMRES_SA_FORMS_UPDATEUSER_EXTRAINFO}:</label></td>
                <td><input name="info" type="text" value="{INFO}" size="30"></td>
            </tr>
            <tr>
            	<td>&nbsp;</td>
                <td><input type="submit" name="Submit" value="Update"></td>
            </tr>
            <tr>
            	<td colspan="3"><p><b>{ERROR}</b></p></td>
            </tr>
        </table>
  </fieldset>
</form>
<!-- Notice! you have to change this links here, if the files are not in the same folder -->
<!--<p><a href="{CONTROLPANELLINK}">{_JOMRES_CONTROLPANEL}</a></p>-->
</patTemplate:tmpl>