/* Jomres Email CSS */
body {margin:10px;padding:0;background:#fff;padding-bottom: 1px;font-size:11px;font-family:Arial,Helvetica,sans-serif;}
a, img, form, table, tr, td {padding:0;margin:0;}
a:link {color:#0B55C4;text-decoration:none;}
img { border: 0 none; }
p {margin-bottom: 15px;margin-top: 10px;}
h2 {font-size:16px;font-weight:bold;}
h3 {font-size:14px;font-weight:bold;}
.ui-widget-content {font-size: 11px;}