/* CSS Document */

div.ui-widget input{
 font-size:16px;
}

div.blockMsg {
	width:  30%;
	top:	20%;
	left:   30%;
	text-align: center;
	background-color: #000;
	border: 1px solid #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); 
	-moz-opacity:.70;
	opacity:.70;
	padding: 15px;
	color: #fff;
}

.jomres_bt_tooltip_ajaxpage
	{
	float: left;
	}

.jomres_bt_tooltip_imageonly
	{
	float: left;
	padding: 5px;
	}
	
.jomres_bt_tooltip_room_type
	{
	float: left;
	padding: 5px;
	}

.jomres_bt_tooltip_features
	{
	float: left;
	padding: 5px;
	}
	
.jomres_bt_tooltip
	{
	float: left;
	}
	
.jomres_bt_tooltip_hover_content
	{
	width: 80px;
	text-align: center;
	border: 2px solid #666666;
	padding: 5px;
	background-color: #00FFFF;
	height: 45px;
	display: block;
	float: left;
	}
	
/**
 * styling for tip content
 * mostly for example
 * note: canvas (the tip itself) cannot be styled here. use javascript options for that.
 */
.bt-content {
  font-size: small;
  color: #000;
  line-height: normal;
}

/* styling for active target elements - usually for background hilighting */
.bt-active {
  /*
  background-color: red !important;
   */
}
	
	
.panelwrapper 
	{
	color: #000;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
	}

.innerwrapper,
.jradmin_innerwrapper  
	{	
	width: 100%;
	}


	.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
	.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
	
	a.fg-button { float:left; }
	
	/* remove extra button width in IE */
	button.fg-button { width:auto; overflow:visible; }
	
	.fg-button-icon-left { padding-left: 2.1em; }
	.fg-button-icon-right { padding-right: 2.1em; }
	.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
	.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
	
	.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	
	
	.fg-buttonset { float:left; }
	.fg-buttonset .fg-button { float: left; }
	.fg-buttonset-single .fg-button, 
	.fg-buttonset-multi .fg-button { margin-right: -1px;}
	
	.fg-toolbar { padding: .5em; margin: 0;  }
	.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
	.fg-toolbar .fg-button { font-size: 1em;  }


.jomrestexteditable 
	{
	color: #99f;
	background-color: #fff;	
	}


.pathway img {
	position: relative;
	top: 2px;
	left: 0;
	}



.viewproperty_leftcol 
	{
	background: #ffffff;
	/* This is important. It sets the height of the div that wraps around the content tabs in the composite property details. Without it the page will skip to the top of the page every time you click a tab. Ah, the wonders of modern technology. */
	height: 1000px;
	}


.viewproperty_rightcol 
	{
	background: #ffffff;
	padding: 10px;
	}

.bform_table 
	{
	}

.bform_table th
	{
	color: #000;
	line-height: 20px;
	}
	
.bform_small {
	font-size: .70em;
	color: #f1f1f1;
	font-weight: normal;
	text-align: left;
}

.bform_table_totals 
	{
	background: #f1f1f1;
	border: 1px solid #666666;
	margin-bottom: 5px;
	}

.bform_table_totals th
	{
	background: #F8F831;
	color: #000;
	text-indent: 5px;
	font-size: 11px;
	height: 20px;
	}
	
.bform_table_totals td 
	{
	padding: 3px;
	}

#availRooms
	{
	}

#selectedRooms
	{
	margin-bottom: 3px;
	margin-top: 3px;
	}
	

.roomslist_noroomsselected 
	{
	background-color: #fc0000;
	color: #ffffff;
	font-weight: bold;
	font-size: 11px;
	padding: 3px;
	margin: 0;
	}


/* Booking confirmation */
.confirmation_table 
	{
	background: #ffffff;
	border: 1px solid #cccccc;
	margin-bottom: 5px;
	text-align: left;
	}

.confirmation_table th
	{
	background: #F8F831;
	color: #000;
	text-indent: 5px;
	font-size: 11px;
	text-align: left;
	}
	
.confirmation_table td 
	{
	padding: 1px 5px 1px 5px;
	}


.confirmation_gateway_header 
	{
	background: #f1f1f1;
	color : #fff;
	} 

.confirmation_gateway_foot 
	{
	text-align: right;
	}

/* Booking completed */
.completion_header 
	{
	background: #d9dee2;
	color : #000;
	}
	
.completion_content 
	{
	background: #fff;
	}
	
.completion_footer 
	{
	background: #d9dee2;
	}
	
/* Availability Calendars */
.availability_calendar_header 
	{
	background: #f1f1f1;
	color: #000;
	font-weight: bold;
	}

.availability_calendar_months 
	{
	background: #f1f1f1;
	color: #000;
	font-size: 10px;
	}
 
.availability_calendar_days  
	{
	background: #fff;
	}

.availability_calendar_calendars 
	{
	text-align: center;
	}

table .rescal, table .rescal_dashboard  
	{
	vertical-align: middle;
	text-align: center;
	} 

table .rescal th, table .rescal_dashboard th 
	{
	font-size: 9px;
	text-align: center;
	font-weight: normal;
	}

table .rescal td, .rescal td, table .rescal_dashboard td, .rescal_dashboard td 
	{
	width: 16px;
	height: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 9px;
	border: 1px solid #ffffff;
	text-align: center;
	}

a.rescal:link, a.rescal:visited  
	{
	display: block;
	width: 16px;
	height: 16px;
	padding-top: 2px;
	font-size: 10px;
	}

a.rescal:link, a.rescal:visited, tr.rescal, td.rescal {
	display : block;
	}

a.rescal:hover {
	background-color : grey;
	color : black;
	}

	
a.rescal:hover  
	{
	background-color: white;
	color: black;
	}

/* Slideshows */
.slideshow 
	{
	width: 100%;
	}

.slideshow_header 
	{
	}

.slideshow_content 
	{
	}


.jradmin_rowtoolbar 	
	{
	width: 74px;	
	}
	
.jradmin_rowtoolbar table 
	{
	background: #d9dee2;
	}
	

.jradmin_table 
	{
	width: 100%;
	}
	
.jradmin_header_la, .jradmin_header_ca, .jradmin_header_ra,
.jradmin_subheader_la, .jradmin_subheader_ca, .jradmin_subheader_ra,
.jradmin_rowheader_la, .jradmin_rowheader_ca, .jradmin_rowheader_ra
	{
	text-align: center;
	padding-left: 5px;
	padding-right: 2px;
	height: 25px; 
	vertical-align: middle;
	}

.jradmin_header_la,
.jradmin_header_ca,
.jradmin_header_ra
	{
	background: #D6D8DB;
	color: #931638;
	}

.jradmin_subheader_la,
.jradmin_subheader_ca,
.jradmin_subheader_ra
	{
	background: #E8EAEE;
	color: #333333;
	}
	
.jradmin_rowheader_la,
.jradmin_rowheader_ca,
.jradmin_rowheader_ra
	{
	background: #F1F1F2;
	color: #931638;
	}
	
.jradmin_field_la,
.jradmin_field_ca,
.jradmin_field_ra,
.jradmin_rowtoolbar
	{
	background: #F6F7F8;
	color: #000000;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	}

.jradmin_header_la,
.jradmin_subheader_la,
.jradmin_rowheader_la,
.jradmin_field_la
	{
	text-align: left;
	}

.jradmin_header_ca,
.jradmin_subheader_ca,
.jradmin_rowheader_ca,
.jradmin_field_ca
	{
	text-align: center;
	}

.jradmin_header_ra,	
.jradmin_subheader_ra,
.jradmin_subheader_ra,
.jradmin_field_ra
	{
	text-align: right;
	}

.jomres_title 
	{
	color: #fffef9;
	font-weight: bold;
	background: #913638;
	text-align: center;
	line-height: 20px;
	}
	
.jomres_message 
	{
	color: #cc0000;
	font-size: 10px;
	line-height: 12px;
	}

div.block_ui_bookingform h3
	{
	font-size: 11px;
	text-align: center;
	padding-top: 10px;
	}


