body {
background-color:#cc0000;
border:0;
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
color:#333333;
padding:0;
}

a:link {color:#000000;}      /* unvisited link */
a:visited {color:#000000;}  /* visited link */
a:hover {color:#000000;}  /* mouse over link */
a:active {color:#000000;}  /* selected link */

#wrap {
width:970px;
background:#ffffff url(../images/footer-admin.gif) bottom no-repeat;
text-align:left;
}

#header {
background:#ffffff url(../images/header-admin.gif) top no-repeat;
height:70px;
}

#logo {
cursor:pointer;
position:relative;
background:url(../images/logo_admin.png) no-repeat ;
width:170px;
height:42px;
}

#header_right {
color:#fff;
font-size:11px;
text-align:right;
float:right;
padding-right:20px;
padding-top:10px;
}

#header_right a, #header_right a:hover {
color:#ffffff;
text-decoration:none;
font-size:12px;
font-weight:bold;
}

#menu_wrap {
}

#extra_menu {
clear:both;
padding:2px 0 0;
}

#content {
font-size:12px;
padding:20px 20px 90px;
}

input, textarea {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #aaaaaa;
color:#333333;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
margin:5px 0;
}

fieldset {
border:1px solid #aaaaaa;
margin:20px 0 35px;
padding:20px;
}

.loginform {
margin:0 auto 60px;
width:500px;
}

h2
{
color:#cc0000;
font-size:20px;
font-weight:normal;
padding:20px 0 0 0 !important;
line-height:20px;
}

legend {
color:#aaaaaa;
font-size:14px;
font-weight:bold;
margin:0;
padding:5px 10px;
}