body {
background-color:#ffffff;
border:0;
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
color:#333333;
padding:0;
}

a {
color:#333333;
text-decoration:none;
}

a:hover {
color:#333333;
text-decoration:underline;
}

#wrap {
width:960px;
border:1px solid #cccccc;
text-align:left;
}

#header {
height:60px;
}

#logo {
cursor:pointer;
position:relative;
background:url(../images/logo_admin.jpg) no-repeat ;
width:170px;
height:42px;
margin:10px;
}

#header_right {
color:#333;
font-size:11px;
text-align:right;
float:right;
padding:20px;
}

#header_right a, #header_right a:hover {
color:#CC0000;
text-decoration:none;
font-size:12px;
font-weight:bold;
}

#menu_wrap {
}

#extra_menu {
clear:both;
padding:2px 0 0;
}

#content {
font-size:12px;
padding:20px;
}

input, textarea {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #aaaaaa;
color:#333333;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
margin:5px 0;
}

fieldset {
border:1px solid #aaaaaa;
margin:20px 0 35px;
padding:20px;
}

.loginform {
margin:0 auto 100px;
width:500px;
}

h2
{
color:#cc0000;
font-size:20px;
font-weight:normal;
padding:20px 0 0 0 !important;
line-height:20px;
}

legend {
color:#aaaaaa;
font-size:14px;
font-weight:bold;
margin:0;
padding:5px 10px;
}