body {
background:#ffffff url(../images/wrap.gif) repeat-x scroll center top; font-family:Arial,Helvetica,sans-serif; font-size:12px; padding:0; margin:0; color:#333333;
}


a:link {color:#ffffff;}      /* unvisited link */
a:visited {color:#ffffff;}  /* visited link */
a:hover {color:#ffffff;}  /* mouse over link */
a:active {color:#ffffff;}  /* selected link */
#wrap {
width:760px;
text-align:left;
}

#header {
background:url(../images/default_header.png) no-repeat ;
width:760px;
height:198px;
margin-top:20px;
}

#logo {
cursor:pointer;
float:left;
background:url(../images/logo.png) no-repeat ;
width:191px;
height:190px;
}

#headerimage {
}

#header_right {
color:#333;
font-size:11px;
text-align:right;
float:right;
margin:0 10px;
}

#header_right a, #header_right a:hover {
text-decoration:none;
font-size:12px;
font-weight:bold;
}

#menu_wrap {
	margin:0;
	padding:0;
}

#content {
font-size:12px;
}

form {
  margin: 0;
  padding: 0;
}

input.button { cursor: pointer; }

p { margin-top: 0; margin-bottom: 5px; }

img { border: 0 none; }

input, textarea {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #aaaaaa;
color:#333333;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
margin:5px 0;
}

fieldset {
border:1px solid #aaaaaa;
margin:20px 0 35px;
padding:20px;
}

h2
{
color:#cc0000;
font-size:20px;
font-weight:normal;
margin:20px 0 0 0 !important;
}

legend {
color:#aaaaaa;
font-size:14px;
font-weight:bold;
margin:0;
padding:5px 10px;
}

.footer {
background:url(../images/footer.gif) no-repeat ;
height:70px;
margin-top:20px;
}
.footertext {
text-align:center;
padding-top:48px;
}