<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<style type="text/css">
a.fg-button.more-info-link {float: none !important;}
</style>
<div class="ui-widget ui-widget-content ui-corner-all" style="float:left;width:140px;margin-bottom:10px;margin:5px;">
	<center>
		<div style="padding:5px;" class="ui-helper-clearfix">
			<div style="font-weight:bold;">{PROPERTY_NAME}</div>
			<div style="height:16px;">{STARSIMAGES}</div>
			<div style="margin-top:5px;height:100px;"><a href="{MOREINFORMATIONLINK}"><img src = "{THUMBNAIL}"/></a></div>
			<div style="font-size:11px;height: 36px;">{PRICE}</div>
            <div align="center" style="text-align:center;margin:5px 0;"><a href="{MOREINFORMATIONLINK}" class="fg-button ui-state-default ui-corner-all more-info-link" >{MOREINFORMATION}</a></div>
		</div>
	</center>

<!-- 
These are included in the template in case you wish to use them.
{PROPERTY_STREET}
{PROPERTY_TOWN}
{PROPERTY_POSTCODE}
{PROPERTY_REGION}
{PROPERTY_COUNTRY}
{PROPERTY_COUNTRY_CODE} -->

<!--

{PROPERTY_TEL}
{PROPERTY_FAX}
{PROPERTY_EMAIL}
{STARS}
{STARSIMAGES}
{LAT}
{LONG}
{PROPERTY_DESCRIPTION}
{PROPERTY_CHECKIN_TIMES}
{PROPERTY_AREA_ACTIVITIES}
{PROPERTY_DRIVING_DIRECTIONS}
{PROPERTY_AIRPORTS}
{PROPERTY_OTHERTRANSPORT}
{PROPERTY_POLICIES_DISCLAIMERS}
--> 
 
<patTemplate:tmpl name="room_types" type="simpleCondition" requiredVars="abbv">
	<!-- <img src = "{IMAGE}"/><br/> -->
</patTemplate:tmpl>

<patTemplate:tmpl name="room_features" type="simpleCondition" requiredVars="desc">
	<!-- {DESC}<br/> -->
</patTemplate:tmpl>
</div>
</patTemplate:tmpl>