<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<script type="text/javascript">
jomresJquery(document).ready(function(){
  jomresJquery("#pdetails_tabs").tabs();
});
jomresJquery(window).load(function(){
  jomresJquery("#property_details_loading").fadeOut("fast");
  jomresJquery("#property_details").fadeIn("fast");
  jomresJquery("#sd").effect("pulsate", { times:5 }, 1500);
});
</script>
<!--<a href="{PRINT_LINK}" target="_blank"><img src="{PRINT_ICON}" width="25px" height="25px"/></a>-->

<div class="full-width ui-helper-clearfix">
	<div id="property_details_loading" ><img src="{LIVE_SITE}/jomres/images/ajax_animation/broken_circle.gif" /></div>
	<div id="property_details" class="ui-helper-hidden">
        <div id="gallerywrapper" class="ui-widget-content ui-corner-all left-column-slideshow float-left">{SLIDESHOW}</div>
        <div class="right-column-buttons float-right ui-widget-content ui-helper-jomres-buttons">
			<div class="big-price">{REAL_ESTATE_PROPERTY_PRICE}</div>
        	<patTemplate:tmpl name="bookinglink" type="simpleCondition" requiredVars="link"  unusedvars="nbsp">
            	<a href="{LINK}" class="fg-button ui-state-default ui-corner-all ui-priority-primary plist-button">{TEXT}</a></patTemplate:tmpl>
            <patTemplate:tmpl name="contactuslink" type="simpleCondition" requiredVars="link"  unusedvars="nbsp">
           		<a href="{LINK}" class="fg-button ui-state-default ui-corner-all ui-priority-secondary plist-button">{TEXT}</a></patTemplate:tmpl>
            <patTemplate:tmpl name="slideshowlink" type="simpleCondition" requiredVars="link"  unusedvars="nbsp">
                <a href="{LINK}" class="fg-button ui-state-default ui-corner-all ui-priority-secondary plist-button">{TEXT}</a></patTemplate:tmpl>
            <patTemplate:tmpl name="tariffslink" type="simpleCondition" requiredVars="link"  unusedvars="nbsp">
                <a href="{LINK}" class="fg-button ui-state-default ui-corner-all ui-priority-secondary plist-button">{TEXT}</a></patTemplate:tmpl>
            <patTemplate:tmpl name="roomslistlink" type="simpleCondition" requiredVars="link"  unusedvars="nbsp">
                <a href="{LINK}" class="fg-button ui-state-default ui-corner-all ui-priority-secondary plist-button">{TEXT}</a></patTemplate:tmpl>
			<div style="clear:both;"></div>
			<div id="sd" class="select-dates"></div>
			<div class="arrival-select" >{INLINE_CALENDAR}</div>
        </div>
        <div style="clear:both;">&nbsp;</div>
        <div id="pdetails_tabs">
            <ul>
                <patTemplate:tmpl name="tabs_titles">
                <li><a href="#{TAB_ANCHOR}">{TAB_TITLE}</a></li>
                </patTemplate:tmpl>
            </ul>
            <patTemplate:tmpl name="tabs_content">
            <div id="{TAB_ANCHOR}">
                {TAB_CONTENT}
            </div>
            </patTemplate:tmpl>
        </div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
    </div>
</div>
</patTemplate:tmpl>