<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<h2>{PAGETITLE}</h2>
<p>{DESC}</p>
<form action="index.php?option=com_jomres" method="post" name="adminForm">
<table class="ui-widget-content ui-corner-all" width="100%" border="0">
	<tr>
		<td>{HFIRSTNAME}</td>
		<td><input class="jomres_inputbox" type="text" name="firstname" value="{FIRSTNAME}" /></td>
	</tr>
	<tr>
		<td>{HSURNAME}</td>
		<td><input class="jomres_inputbox" type="text" name="surname" value="{SURNAME}" /></td>
	</tr>
	<tr>
		<td>{HADDRESS}</td>
		<td><input class="jomres_inputbox" type="text" name="address" value="{ADDRESS}" /></td>
	</tr>
	<tr>
		<td>{HCOUNTRY}</td>
		<td>{COUNTRYDROPDOWN}</td>
	</tr>
	<tr>
		<td>{HPOSTCODE}</td>
		<td><input class="jomres_inputbox" type="text" name="postcode" value="{POSTCODE}" /></td>
	</tr>
	<tr>
		<td colspan="2"><input type="button" name="send" value="{SUBMIT}" class="fg-button ui-state-default ui-corner-all" onclick="document.adminForm.submit();"/></td>
	</tr>
</table>
{JOMRESTOKEN}
<input type="hidden" name="package_id" value="{PACKAGE_ID}" />
<input type="hidden" name="option" value="com_jomres" />
<input type="hidden" name="task" value="save_subscriber" />
<input type="hidden" name="no_html" value="1" />
</form>
</patTemplate:tmpl>