<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all"  style="margin-bottom: 10px;">
<table width="100%">
	<tr>
		<th><div class="fg-toolbar ui-widget-header ui-corner-all">{PAGETITLE}</div></th>
	</tr>
	<tr>
		<td>{JOMRESTOOLBAR}</td>
	</tr>
	<tr>
		<td>
			<table class="jradmin_table">
				<tr>
					<td class="fg-toolbar ui-widget-header ui-corner-all">{TASK_FILTER_ANY}</td><td class="fg-toolbar ui-widget-header ui-corner-all">{TASK_FILTER_UNPAID}</td><td class="fg-toolbar ui-widget-header ui-corner-all">{TASK_FILTER_PAID}</td><td class="fg-toolbar ui-widget-header ui-corner-all">{TASK_FILTER_CANCELLED}</td><td class="fg-toolbar ui-widget-header ui-corner-all">{TASK_FILTER_PENDING}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table class="jradmin_table">
				<tr>
					<td class="fg-toolbar ui-widget-header ui-corner-all">&nbsp;</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">ID</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">{HSTATUS}</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">&nbsp;</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">&nbsp;</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">{HRAISED}</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">{HDUE}</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">{HPAID}</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">{HSUBSCRIPTION}</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">{HINITTOTAL}</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">{HRECURTOTAL}</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">&nbsp;</td>
				</tr>
				<patTemplate:tmpl name="rows" type="simpleCondition" requiredVars="editlink">
				<tr>
					<td>{EDITLINK}</td>
					<td>{ID}</td>
					<td>{STATUS}</td>
					<td>{GUEST}</td>
					<td>{ITEMS}</td>
					<td>{RAISED}</td>
					<td>{DUE}</td>
					<td>{PAID}</td>
					<td>{SUBSCRIPTION}</td>
					<td>{INITTOTAL} <span class="small">({CURRENCYCODE})</span></td>
					<td>{RECURTOTAL}  <span class="small">({CURRENCYCODE})</span> </td>
					<td>{PAYNOW}</td>
					
				</tr>
				</patTemplate:tmpl>
			</table>
		</td>
	</tr>
</table>
<input type="hidden" name="task" value="edit_invoice" />
</div>
</form>
</patTemplate:tmpl>
