<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<script language="JavaScript" type="text/javascript">
<!--
jomresJquery(document).ready(function() {
	var oTable = jomresJquery('#frontend_list_invoices').dataTable({
		"bJQueryUI": true,
		"bStateSave": true,
		"sPaginationType": "full_numbers",
		"sDom": '<"H"lTfr>t<"F"ip>',
		"oTableTools": {
			"sSwfPath": "{LIVESITE}/jomres/javascript/copy_cvs_xls_pdf.swf",
			"aButtons": [
				"copy",
				{
				"sExtends": "csv",
				"sCharSet": "utf8"
				},
				{
				"sExtends": "xls",
				"sCharSet": "utf16le"
				},
				{
				"sExtends": "pdf",
				"sCharSet": "utf8",
				"sPdfOrientation": "landscape",
				"sTitle": "{PAGETITLE}"
				},
				"print"
			]
		}
	});
} );
//-->
</script>
<h2>{PAGETITLE}</h2>
<table class="ui-widget-content ui-corner-all" border="0" width="100%">
	<tr align="center">
		<td><a href="{TASK_FILTER_ANY}">{_JOMRES_FRONT_ROOMSMOKING_EITHER}</a></td>
		<td><a href="{TASK_FILTER_UNPAID}">{_JRPORTAL_INVOICES_STATUS_UNPAID}</a></td>
		<td><a href="{TASK_FILTER_PAID}">{_JRPORTAL_INVOICES_STATUS_PAID}</a></td>
		<td><a href="{TASK_FILTER_CANCELLED}">{_JRPORTAL_INVOICES_STATUS_CANCELLED}</a></td>
		<td><a href="{TASK_FILTER_PENDING}">{_JRPORTAL_INVOICES_STATUS_PENDING}</a></td>
	</tr>
</table>
<br />
<table id="frontend_list_invoices" width="100%">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>ID</th>
			<th>{HUSER}</th>
			<th>{HSTATUS}</th>
			<th>Line Items</th>
			<th>{HRAISED}</th>
			<th>{HDUE}</th>
			<th>{HPAID}</th>
			<th>{HSUBSCRIPTION}</th>
			<th>{HINITTOTAL}</th>
			<th>{HRECURTOTAL}</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<patTemplate:tmpl name="rows" unusedvars="nbsp">
		<tr>
			<td>{EDITLINK}</td>
			<td>{ID}</td>
			<td>{USER}</td>
			<td>{STATUS}</td>
			<td>{ITEMS}</td>
			<td>{RAISED}</td>
			<td>{DUE}</td>
			<td>{PAID}</td>
			<td>{SUBSCRIPTION}</td>
			<td>{INITTOTAL}({CURRENCYCODE})</td>
			<td>{RECURTOTAL}({CURRENCYCODE})</td>
			<td>{PAYNOW}</td>
		</tr>
		</patTemplate:tmpl>
	</tbody>
</table>
</patTemplate:tmpl>