<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<script type="text/javascript">
jomresJquery(document).ready(function() {
	init_map_{RANDOM_IDENTIFIER}();
	});

	{UPDATEMARKERPOSITION}


function init_map_{RANDOM_IDENTIFIER}()
	{
	var latLng = new google.maps.LatLng({LAT}, {LONG});
	var options_{RANDOM_IDENTIFIER} = {
		center: latLng,
		zoom: 12,
		{DISABLE_UI}
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		};
	
	var map = new google.maps.Map(document.getElementById("map_{RANDOM_IDENTIFIER}"),
		options_{RANDOM_IDENTIFIER});
	var marker = new google.maps.Marker({
		position: latLng{DRAGABLE}
		});
	marker.setMap(map);
	
	{DRAG_LISTENER}
	
	}
</script>

<div id="map_{RANDOM_IDENTIFIER}" class="ui-corner-all" style="width:{MAP_WIDTH}px; height:{MAP_HEIGHT}px"></div> <!-- do not set these sizes to 100% or anything with percentages in, the map will not show if you do. I wasted ages figuring that out. -->
</patTemplate:tmpl>