<patTemplate:tmpl name="pageoutput" unusedvars="strip">
{JOMRES_SITEPAGE_URL_AJAX}
<div>
<patTemplate:tmpl name="layout_rows" type="simpleCondition" requiredVars="title">
<a href="{LINK}" class="ui-state-default ui-corner-all plist-button">{TITLE}</a>&nbsp;
</patTemplate:tmpl>
</div>
<patTemplate:tmpl name="property_details" unusedvars="strip">
<div width="200px" class="ui-widget-content ui-corner-all jomres_property_list_propertywrapper" id="{UID}" style="float:left">
            <div class="property-image"><a href="{MOREINFORMATIONLINK}">{IMAGE_POPUP}</a></div>

			<div class="property-title"><a href="{MOREINFORMATIONLINK}">{PROPERTYNAME}</a>&nbsp;{STARS}</div>
			<!-- <div><em>{PROP_TOWN}, {PROP_REGION}, {PROP_COUNTRY}</em></div> -->
			<div class="jomres_message property-desc">{LASTMINUTE}</div>
		<!--
		</td>
		<td valign="top">
			<div class="ui-state-highlight ui-corner-all price-wrapper" align="center">
				<div class="prices-from">{PRICE_PRE_TEXT}</div>
				<div class="big-price">{PRICE_PRICE}</div>
				<div class="prices-period">{PRICE_POST_TEXT}</div>
			</div>
		</td>
		<td class="fg-toolbar fg-buttonset plist-buttons" valign="top" align="right">
				<a href="{LINK}" class=" ui-state-default ui-corner-all plist-button ui-helper-hidden">{BOOKTHIS_TEXT}</a>
				<a href="{MOREINFORMATIONLINK}" class=" ui-state-default ui-corner-all plist-button ui-helper-hidden">{MOREINFORMATION}</a>
				<a href="javascript:void(0);" onClick="quick_info({UID});" class=" ui-state-default ui-corner-all plist-button-last ui-helper-hidden">{_JOMRES_QUICK_INFO}</a>
		</td>
    </tr>-->
</div>
</patTemplate:tmpl>
</patTemplate:tmpl>