<patTemplate:tmpl name="pageoutput">

<patTemplate:tmpl name="nav_output_top" type="simpleCondition" requiredVars="writepagescounter">
<div>
	{WRITEPAGESCOUNTER}
</div>
<div>
	{WRITEPAGESLINKS}
</div>
</patTemplate:tmpl>
<script type="text/javascript">
	
	var clicktohide = '{CLICKTOHIDE}';
	var clicktoshow = '{CLICKTOSHOW}';
	
	jomresJquery(function(){
		//all hover and click logic for buttons
		jomresJquery(".fg-button:not(.ui-state-disabled)")
		.hover(
			function(){ 
				jomresJquery(this).addClass("ui-state-hover"); 
			},
			function(){ 
				jomresJquery(this).removeClass("ui-state-hover"); 
			}
		)
		.mousedown(function(){
				jomresJquery(this).parents('.fg-buttonset-single:first').find(".fg-button.ui-state-active").removeClass("ui-state-active");
				if( jomresJquery(this).is('.ui-state-active.fg-button-toggleable, .fg-buttonset-multi .ui-state-active') ){ jomresJquery(this).removeClass("ui-state-active"); }
				else { jomresJquery(this).addClass("ui-state-active"); }
		})
		.mouseup(function(){
			if(! jomresJquery(this).is('.fg-button-toggleable, .fg-buttonset-single .fg-button,  .fg-buttonset-multi .fg-button') ){
				jomresJquery(this).removeClass("ui-state-active");
			}
		});
		
	});
	
function toggle_review_div(uid)
	{
	div_id = "#property_reviews"+uid;
	div_click_link = '#property_reviews_link'+uid;
	jomresJquery( div_id ).dialog({
		width: 800,
		height: 500,
		show: 'slide',
		modal: false
		});
	}
	
var killScroll = false; // IMPORTANT
function lastAddedLiveFunc() 
	{
	jomresJquery.get("{JOMRES_SITEPAGE_URL_AJAX}&task=ajax_list_properties&nofollowtmpl&lastID="+jomresJquery(".jomres_property_list_propertywrapper:last").attr("id"),
	//alert (jomresJquery(".jomres_property_list_propertywrapper:last").attr("id"));
		function(data){
			if (data != "") {
			jomresJquery(".jomres_property_list_propertywrapper:last").after(data);
			
			}
		killScroll = false; // IMPORTANT - Make function available again.
		});
	
	};  
	
	jomresJquery(window).scroll(function(){
		if (jomresJquery(window).height() + jomresJquery(window).scrollTop() >= jomresJquery(document).height()-300) {
		if (killScroll == false) { // IMPORTANT - Keeps the loader from fetching more than once.
			killScroll = true; // IMPORTANT - Set killScroll to true, to make sure we do not trigger this code again before it's done running.
			lastAddedLiveFunc();
			}
		}
	}); 
</script>

<patTemplate:tmpl name="property_details"  unusedvars="strip">
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all jomres_property_list_propertywrapper" id={UID} style="margin-bottom: 10px;">
	<table width="100%">
		<tr valign="top">
			<td class="ui-tabs ui-widget ui-widget-content ui-corner-all">
				<div id="property_name" class="fg-toolbar ui-widget-header ui-corner-all">
					<a href="{MOREINFORMATIONLINK}"><strong>{PROPERTYNAME}</strong></a>&nbsp;{STARS}&nbsp;
					<span style="font-size:11px;">{PROPERTY_TYPE}</span>
				</div>
				<div style="padding-bottom:5px;padding-left:5px;padding-top:5px;">
					{PROP_TOWN}, {PROP_REGION}, {PROP_COUNTRY}
				</div>
				<div style="padding:5px;">
					{PROPERTYDESC}
				</div>
				<div style="padding:5px;">
					<div class="{LASTMINUTECLASS}">
						{LASTMINUTE}
					</div>
				</div>
				<div >
					{ROOMTYPES}
				</div>
				<div style="clear:both;"></div>
				<div>
					{FEATURELIST}
				</div>
				<div style="clear:both;"></div>
				<div style="padding:5px;clear:both;">
					{_JOMRES_REVIEWS} {COLON} {_JOMRES_REVIEWS_AVERAGE_RATING} {AVERAGE_RATING} {HYPHEN} {_JOMRES_REVIEWS_TOTAL_VOTES} {NUMBER_OF_REVIEWS} <a href="javascript:void(0);" onClick="toggle_review_div({UID});" style="outline: none;"><div id="property_reviews_link{UID}">{_JOMRES_REVIEWS_CLICKTOSHOW}</div></a>
				</div>
				
			</td>
			<td width="30%">
				<table>
					<tr>
						<td>
							 <div align="right">
								{PRICESFROM}&nbsp;&nbsp;<strong>{LOWESTPRICE}</strong>
							</div>
							<div class="{LASTBOOKING_STYLE}" style="padding:1px">{LASTBOOKED}</div>
						</td>
					</tr>
					<tr>
						<td>
							<div style="float:right;">
								<a href="{MOREINFORMATIONLINK}" >{TOOLTIP_IMAGE}</a>
							</div>
						</td>
					</tr>
					<tr>
						<td align="center">
							<div class="fg-toolbar fg-buttonset">
								<div style="float:right;width:150px;">
									<a href="{LINK}" class="fg-button ui-state-default ui-corner-all fg-button-icon-left" > <span class="ui-icon ui-icon-circle-plus"></span>{BOOKTHIS_TEXT}</a>
								</div>
								<div style="float:right;width:150px;margin-top:5px;">
									<a href="{MOREINFORMATIONLINK}" class="fg-button ui-state-default ui-corner-all" >{MOREINFORMATION}</a>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-resizable" id="property_reviews{UID}" style="display: none">
		{REVIEWS}
	</div>
</div>
</patTemplate:tmpl>


<patTemplate:tmpl name="nav_output_bottom" type="simpleCondition" requiredVars="writepagescounter">
<div>
	{WRITEPAGESCOUNTER}
</div>
<div>
	{WRITEPAGESLINKS}
</div>
</patTemplate:tmpl>
</patTemplate:tmpl>