<patTemplate:tmpl name="pageoutput">
<script>
//jomresJquery('#jomres_menu_wrapper').prependTo('body');


jomresJquery(document).ready(function() {

	(function() {
		//settings
		var fadeSpeed = 200, fadeTo = 0.3, topDistance = 30;
		var topbarME = function() { jomresJquery('#jomres_menu').fadeTo(fadeSpeed,1); }, topbarML = function() { jomresJquery('#jomres_menu').fadeTo(fadeSpeed,fadeTo); };
		var inside = false;
		//do
		jomresJquery(window).scroll(function() {
			position = jomresJquery(window).scrollTop();
			if(position > topDistance && !inside) {
				//add events
				topbarML();
				jomresJquery('#jomres_menu').bind('mouseenter',topbarME);
				jomresJquery('#jomres_menu').bind('mouseleave',topbarML);
				inside = true;
			}
			else if (position < topDistance){
				topbarME();
				jomresJquery('#jomres_menu').unbind('mouseenter',topbarME);
				jomresJquery('#jomres_menu').unbind('mouseleave',topbarML);
				inside = false;
			}
		});
	})();

});


jomresJquery(function() {
	jomresJquery( "#accordion" ).accordion({
		autoHeight: false,
		navigation: true,
		collapsible: true
	});
});

function runEffect() {
	jomresJquery('#jomres_menu_wrapper').slideToggle();
};

</script>

<style>
#jomres_menu {
	font-size:.9em;
	}
	
#jomres_menu_trigger {
	position:fixed;
	top:0px;
	left:0px;
	height:20px;
	}
#jomres_menu_wrapper {
	position:fixed;
	top:26px;
	left:0px;
	width:200px;
	}
</style>
<div id="jomres_menu">
	<div id="jomres_menu_wrapper" class="ui-helper-hidden">
		<div id="accordion">
			<patTemplate:tmpl name="button_output">
				{DIV}
			</patTemplate:tmpl>
		</div>
	</div>
	<div id="jomres_menu_trigger" style="height:100px;width:130px;">
		<a href="javascript:void(0);" onMouseover="runEffect();" class="fg-button ui-state-default ui-corner-all">{_JOMRES_CONTROLPANEL}</a>
	</div>
</div>
</patTemplate:tmpl>