<patTemplate:tmpl name="property_deets" unusedvars="nbsp">
<div class="panelwrapper">
	<div class="innerwrapper">
		<div class="viewproperty">
			<table border="0" width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td class="viewproperty_leftcol" valign="top">
						<patTemplate:tmpl name="customoutput_discounts">
						<div class="jomres_message">
							{LASTMINUTE}
						</div>
						</patTemplate:tmpl>
						<div>
						{DESCRIPTION}
						</div>
						<div class="leftinfo_title">
							<strong>{HAREAACTIVITIES}</strong>
						</div>
						<div class="leftinfo_content">
							{AREAACTIVITIES}
						</div>
						<!--<div class="leftinfo_title">
							<strong>{HPOLICIESDISCLAIMERS}</strong>
						</div>
						<div class="leftinfo_content">
							{POLICIESDISCLAIMERS}
						</div>-->
					</td>
					<td class="viewproperty_rightcol" valign="top">
						<patTemplate:tmpl name="bookinglink" type="simpleCondition" requiredVars="bookinglink">
						<div class="jomres_button">
							{BOOKINGLINK}
						</div>
						</patTemplate:tmpl>
						<patTemplate:tmpl name="slideshowlink" type="simpleCondition" requiredVars="slideshowlink">
						<div class="jomres_button">
							{SLIDESHOWLINK}
						</div>
						</patTemplate:tmpl>
						<patTemplate:tmpl name="tariffslink" type="simpleCondition" requiredVars="tariffslink">
						<div class="jomres_button">
							{TARIFFSLINK}
						</div>
						</patTemplate:tmpl>
						<patTemplate:tmpl name="gallerylink" type="simpleCondition" requiredVars="gallerylink">
						<div class="jomres_button">
							{GALLERYLINK}
						</div>
						</patTemplate:tmpl>
						<patTemplate:tmpl name="roomslistlink" type="simpleCondition" requiredVars="roomslistlink">
						<div class="jomres_button">
							{ROOMSLISTLINK}
						</div>
						</patTemplate:tmpl>
						<patTemplate:tmpl name="mappinglink" type="simpleCondition" requiredVars="mappinglink">
						<div class="jomres_button">
							{MAPPINGLINK}
						</div>
						</patTemplate:tmpl>
						<div>
							{MINICOMPONENTOUTPUT}
						</div>
						<div class="rightinfo_title">
							{HRTYPES}
						</div>
						<div>
							<patTemplate:tmpl name="roomtypes" type="simpleCondition" requiredVars="feature">
								{FEATURE}
							</patTemplate:tmpl>
						</div>
						<div class="rightinfo_title">
							{HFEATURES}
						</div>
						<div>
							<patTemplate:tmpl name="featurelist" type="simpleCondition" requiredVars="feature">
							{FEATURE}
							</patTemplate:tmpl>
						</div>
						<div class="rightinfo_title">
							{COM_A_BASICTEMPLATE_SHOWADDRESS}
						</div>
						<div class="rightinfo_content">
							{STREET}, {TOWN}, {REGION}, {POSTCODE}, {COUNTRY}<br />{TELEPHONE}
						</div>
						<div class="rightinfo_title">
							{HCHECKINTIMES}
						</div>
						<div class="rightinfo_content">
							{CHECKINTIMES}
						</div>
						<div class="rightinfo_title">
							{HDRIVINGDIRECTIONS}
						</div>
						<div class="rightinfo_content">
							{DRIVINGDIRECTIONS}
						</div>
						<div class="rightinfo_title">
							{HAIRPORTS}
						</div>
						<div class="rightinfo_content">
							{AIRPORTS}
						</div>
						<div class="rightinfo_title">
							{HOTHERTRANSPORT}
						</div>
						<div class="rightinfo_content">
							{OTHERTRANSPORT}
						</div>
					</td>
				</tr>
			</table>
		</div>
		<br/><center><div class="jomres_button">{CONTACTUS}</div></center><br/>
		<div style="clear:both;"></div>
	</div>
</div>

</patTemplate:tmpl>