<patTemplate:tmpl name="output" unusedvars="nbsp">
	<patTemplate:tmpl name="show_tariffs">
	<table class="ui-tabs ui-widget ui-widget-content ui-corner-all" style="margin-bottom: 20px;" width="100%">
		<tr >
			<td class = "ui-widget-header" colspan="2">{HTITLE}</td>
			<td class = "ui-widget-header" colspan="2">{TITLE}</td>
		</tr>
		<tr >
			<td colspan="2"><strong>{HDESC}</strong></td>
			<td colspan="2">{DESC}</td>
		</tr>
		<tr>
			<td colspan="1"><strong>{HROOMTYPE}</strong></td>
			<td colspan="1">{ROOMCLASSABBV} </td>
			<td colspan="2">{ROOMCLASSFULLDESC} </td>
		</tr>
		<tr>
			<td><strong>{HSTARTS}</strong></td>
			<td>{VALIDFROM}</td>
			<td><strong>{HENDS}</strong></td>
			<td>{VALIDTO}</td>
		</tr>
		<tr>
			<td><strong>{HMINDAYS}</strong></td>
			<td>{MINDAYS}</td>
			<td><strong>{HMAXDAYS}</strong></td>
			<td>{MAXDAYS}</td>
		</tr>
		<tr>
			<td><strong>{HMINPEEPS}</strong></td>
			<td>{MINPEOPLE}</td>
			<td><strong>{HMAXPEEPS}</strong></td>
			<td>{MAXPEOPLE}</td>
		</tr>
		<tr>
			<td colspan="4"><b>{ROOMRATEPERDAY}<b></td>
		</tr>
		<tr>
			<td colspan="4"><strong>{NOTWEEKENDS}</strong></td>
		</tr>
		<tr><td colspan="4">{GOOGLECURRENCYLINKS}</td></tr>
	</table>
	</patTemplate:tmpl>
</patTemplate:tmpl>
