<patTemplate:tmpl name="property_header" unusedvars="strip">
<div>&nbsp;</div>
<table border="0" width="100%" class="ui-widget-content ui-corner-all">
<patTemplate:tmpl name="room_headers">
<tr>
	<th class="ui-widget-header"></th>
	<th class="ui-widget-header">{HEADER_ROOMNUMBER}</th>
	<th class="ui-widget-header">{HEADER_ROOMTYPE}</th>
	<th class="ui-widget-header">{HEADER_MAXPEOPLE}</th>
	<th class="ui-widget-header">{HEADER_ROOMNAME}</th>
	<th class="ui-widget-header">{HEADER_ROOMFLOOR}</th>
	<th class="ui-widget-header">{HEADER_SMOKING}</th> 
	<th class="ui-widget-header">{HEADER_DISABLEDACCESS}</th>
</tr>
</patTemplate:tmpl>
<patTemplate:tmpl name="room_details">
<tr align="center">
	<td>{IMAGE}</td>
	<td>{ROOMNUMBER}</td>
	<td>{ROOMTYPE}</td>
	<td>{MAXPEOPLE}</td>
	<td>{ROOMNAME}</td>
	<td>{ROOMFLOOR}</td>
	<td>{SMOKING}</td>
	<td>{DISABLEDACCESS}</td>       
</tr>
</patTemplate:tmpl>
</table>
<br />
<table border="0" width="100%">
<patTemplate:tmpl name="room_features">
<tr>
	<td>{ROOMFEATURE}</td>    
</tr>
</patTemplate:tmpl>
</table>
</patTemplate:tmpl>