<patTemplate:tmpl name="property_header">
<div class="panelwrapper">
	<table class="innerwrapper">
		<tr>
			<td class="leftcol">
				<table border="0"  class="normal">
					<patTemplate:tmpl name="room_headers">
					<tr>
						<th>{HEADER_ROOMNUMBER}</th>
						<th>{HEADER_ROOMTYPE}</th>
						<th>{HEADER_SMOKING}</th>
						<th>{HEADER_ROOMNAME}</th>
						<th>{HEADER_AVLCALLINK}</th>
						<th>{HEADER_ROOMFLOOR}</th> 
						<th>{HEADER_DISABLEDACCESS}</th>
						<th>{HEADER_MAXPEOPLE}</th>    
					</tr>
					</patTemplate:tmpl>
					<patTemplate:tmpl name="room_details">
					<tr>
						<td>{ROOMNUMBER}</td>
						<td>{ROOMTYPE}</td>
						<td>{SMOKING}</td>
						<td>{ROOMNAME}</td>
						<td>{AVLCALLINK}</td>
						<td>{ROOMFLOOR}</td>
						<td>{DISABLEDACCESS}</td>
						<td>{MAXPEOPLE}</td>        
					</tr>
					
				</table>
				<img src="{IMAGE}" border="0" width="30" height="30" onmouseover="return overlib(&lt;<img src={IMAGE}>&gt;, ABOVE, CENTER);" onmouseout="return nd();">
				</patTemplate:tmpl>
				<table border="0">
					<patTemplate:tmpl name="room_features">
					<tr>
						<td>{ROOMFEATURE}</td>    
					</tr>
					</patTemplate:tmpl>
				</table>
			</td>
		</tr>
	</table>
</div>
</patTemplate:tmpl>