<patTemplate:tmpl name="pageoutput" >
<table class="jradmin_innerwrapper">
	<tr>
		<td>
			<table class="jradmin_table">
				<tr>
					<th class="jradmin_subheader_la">{HBUSINESSNAME}</b></th>
					<th class="jradmin_field_la" colspan="3">{BUSINESS_NAME}</th>
				</tr>
				<tr>
					<th class="jradmin_subheader_la">{HVATNO}</b></th>
					<th class="jradmin_field_la" colspan="3">{VATNO}</th>
				</tr>
				<tr>
					<td class="jradmin_subheader_la">{HSTREET}</td>
					<td class="jradmin_field_la">{STREET}</td>
					<td class="jradmin_subheader_la">{HTOWN}</td>
					<td class="jradmin_field_la">{TOWN}</td>
				</tr>
				<tr>

					<td class="jradmin_subheader_la">{HREGION}</td>
					<td class="jradmin_field_la">{REGION}</td>
					<td class="jradmin_subheader_la">{HCOUNTRY}</td>
					<td class="jradmin_field_la">{COUNTRY}</td>
				</tr>
				<tr>

					<td class="jradmin_subheader_la">{HPOSTCODE}</td>
					<td class="jradmin_field_la">{POSTCODE}</td>
					<td class="jradmin_subheader_la">{HTELEPHONE}</td>
					<td class="jradmin_field_la">{TELEPHONE}</td>
				</tr>
				<tr>
					<td class="jradmin_subheader_la">{HEMAIL}</td>
					<td class="jradmin_field_la" colspan="3" >{EMAIL}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</patTemplate:tmpl>