<patTemplate:tmpl name="pageoutput">
<div id='jomresmenu_hint' style="color:red;" >&nbsp;</div>
<div class="ui-widget ui-widget-content ui-corner-all"  style="margin-bottom: 20px;">
	<table width="100%" class="innerwrapper" id="guest_menu">
		<tr>
			<td class="ui-widget-header" style="font-size: 12px;"><b>{TITLE}</b></td><td class="ui-widget-header" style="text-align: right;">{PUBLISHEDPROPERTIESTXT} : {PUBLISHEDPROPERTIES}</td>
		</tr>
		<tr>
			<td colspan="2">
				<div class="cpanel" style="padding-top:5px;margin-bottom:10px;">
				<table width="100%">
					<tr>
						<patTemplate:tmpl name="rows" unusedvars="nbsp" requiredVars="options">
							{OPTIONS}
						</patTemplate:tmpl>
					</tr>
				</table>
				</div>
			</td>
		</tr>
	</table>
</div>
<div style="clear:both;"></div>
</patTemplate:tmpl>