<patTemplate:tmpl name="pageoutput" >
<div id = "jomres_content_area">
<style type="text/css">
tr, td {
	border: 0px;
	}
</style>
<script type="text/javascript">
var word_next = "{NEXT}";
var word_previous = "{PREVIOUS}";

	jQuery(function(){
		//all hover and click logic for buttons
		jQuery(".fg-button:not(.ui-state-disabled)")
		.hover(
			function(){ 
				jQuery(this).addClass("ui-state-hover"); 
			},
			function(){ 
				jQuery(this).removeClass("ui-state-hover"); 
			}
		)
		.mousedown(function(){
				jQuery(this).parents('.fg-buttonset-single:first').find(".fg-button.ui-state-active").removeClass("ui-state-active");
				if( jQuery(this).is('.ui-state-active.fg-button-toggleable, .fg-buttonset-multi .ui-state-active') ){ jQuery(this).removeClass("ui-state-active"); }
				else { jQuery(this).addClass("ui-state-active"); }
		})
		.mouseup(function(){
			if(! jQuery(this).is('.fg-button-toggleable, .fg-buttonset-single .fg-button,  .fg-buttonset-multi .fg-button') ){
				jQuery(this).removeClass("ui-state-active");
			}
		});

		jQuery("#tabs").tabs();
    });
</script>

<noscript>
<blockquote>
<p><font size="3" color="#FF0000"><b>You do not have JavaScript enabled.</b></font><br/>
<font size="2" color="#000080">The functionality of this site requires the use of JavaScript so please enable before continuing. For assistance in enabling JavaScript, please contact the webmaster.</font></p>
</blockquote>
</noscript>
 
<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="2" style="text-align:right;">{TIMEZONEBLURB}&nbsp;&nbsp;</td>
		<td> {TIMEZONE_DROPDOWN} </td>
	</tr>
	<tr>
		<td style="text-align:right;">{EDITING_MODE_DROPDOWN}</td>
		<td style="text-align:right;">{MANAGEMENT_VIEW_DROPDOWN}</td>
		<td style="text-align:right; width: 100px;">{LANGDROPDOWN}</td>
	</tr>
</table>

<patTemplate:tmpl name="messages" type="simpleCondition" requiredVars="message">
	<!-- <a href="javascript:void(0);" onclick="jQuery.jGrowl('{MESSAGE}',{sticky: true});">Message</a> -->
	<script type="text/javascript">
		jQuery.jGrowl("{MESSAGE}", { life: 10000 });
	</script>
</patTemplate:tmpl>
<patTemplate:tmpl name="sticky_messages" type="simpleCondition" requiredVars="message">
	<!-- <a href="javascript:void(0);" onclick="jQuery.jGrowl('{MESSAGE}',{sticky: true});">Message</a> -->
	<script type="text/javascript">
		jQuery.jGrowl("{MESSAGE}", { life: 10000, sticky: true });
	</script>
</patTemplate:tmpl>

</patTemplate:tmpl>