<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">

<form enctype="multipart/form-data" action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
<div class="ui-widget-content ui-corner-all"  style="margin-bottom: 10px;">
<table width="100%">
	<tr>
		<th colspan="2"><div class="ui-widget-header ui-corner-all">{PAGETITLE}</div></th>
	</tr>
	<tr>
		<th colspan="2">{JOMRESTOOLBAR}</th>
	</tr>
	<tr>
		<td><input type='file' name='image0' id='image0'/></td>
		<td><input type='file' name='image1' id='image1'/></td>
	</tr>
	<tr>
		<td><input type='file' name='image2' id='image2'/></td>
		<td><input type='file' name='image3' id='image3'/></td>
	</tr>
	<tr>
		<td><input type='file' name='image4' id='image4'/></td>
		<td><input type='file' name='image5' id='image5'/></td>
	</tr>
	<tr>
		<td><input type='file' name='image6' id='image6'/></td>
		<td><input type='file' name='image7' id='image7'/></td>
	</tr>
	<tr>
		<td><input type='file' name='image8'/ id='image8'></td>
		<td><input type='file' name='image9'/ id='image9'></td>
	</tr>
	<tr>
		<td><input type='file' name='image10'/ id='image10'></td>
		<td><input type='file' name='image11'/ id='image11'></td>
	</tr>
</table>

<input type="hidden" name="task" value="batchUploadPropertyImages" />
</form>
<br />
<form action="{JOMRES_SITEPAGE_URL_DELIMAGES}" method="post" name="imageList">
<table class="jradmin_innerwrapper">
	<tr>
		<th class="ui-widget-header ui-corner-all" colspan="3">{IMAGESALREADYINDIR}</th>
	</tr>
	<patTemplate:tmpl name="rows">
	<tr class="ui-widget-content ui-corner-all">
		<td>{CHECKBOX}</td>
		<td>{IMAGENAME}</td>
		<td><img src="{IMAGEOUTPUT}" /></td>
	</tr>
	</patTemplate:tmpl>
</table>
</div>
<input type="submit" value="{DELETEIMAGES}" class="button" />
</form>
</patTemplate:tmpl>