<patTemplate:tmpl name="bookguestin">
<patTemplate:tmpl name="pageoutput">
<form action="{VALIDATELINK}" method="post" name="adminForm">
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all"  style="margin-bottom: 10px;">
<table width="100%">
	<tr>
		<th><div class="fg-toolbar ui-widget-header ui-corner-all">{PAGETITLE}</div></th>
	</tr>
	<tr>
		<td>{JOMRESTOOLBAR}</td>
	</tr>
	<tr>
		<td>{DROPDOWNLIST}</td>
	</tr>
</table>
</div>
<input type="hidden" name="task" value="bookGuestIn" />
<input type="hidden" name="no_html" value="1" />
</form>
</patTemplate:tmpl>
</patTemplate:tmpl>