<patTemplate:tmpl name="pageoutput" unusedvars="nbsp" >
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all"  style="margin-bottom: 10px;">
<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
<table width="100%">
	<tr>
		<th><div class="fg-toolbar ui-widget-header ui-corner-all">{PAGETITLE}</div></th>
	</tr>
	<tr>
		<td>{JOMRESTOOLBAR}</td>
	</tr>
	<tr>
		<td>
			<table width="100%">
				<tr>
					<td colspan="2" >{INVOICETITLE}</td>
				</tr>
				<tr>
					<td class="ui-widget-header">{HSTAYNIGHTS}</td>
					<td style="text-align: right;"><b>{STAYNIGHTS}</b></td>
				</tr>
				<tr>
					<td class="ui-widget-header">{HCONTRACTAGREED}</td>
					<td style="text-align: right;"><b>{CONTRACTAGREED}</b></td>
				</tr>
				<tr>
					<td class="ui-widget-header">{HCOSTPERNIGHT}</td>
					<td style="text-align: right;"><b>{COSTPERNIGHT}</b></td>
				</tr>
				<tr>
					<td class="ui-widget-header">{HSINGLEPERSON_COST}</td>
					<td style="text-align: right;"><b>{SINGLEPERSON_COST}</b></td>
				</tr>
				<tr>
					<td colspan="2">{HEXTRASERVICE}</td>
				</tr>
				<patTemplate:tmpl name="output_extras" unusedvars="nbsp" >
				<tr>
					<td class="ui-widget-header">{DESC}</td>
					<td style="text-align: right;"><b>{VAL}</b></td>
				</tr>
				</patTemplate:tmpl>
				<tr>
					<td class="ui-widget-header">{HEXTRASERVICE_TOTAL}</td>
					<td td style="text-align: right;"><b>{EXTRASERVICE_TOTAL}</b></td>
				</tr>
				<tr>
					<td class="ui-widget-header">{HGRANDTOTAL}</td>
					<td style="text-align: right;"><b>{GRANDTOTAL}</b></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{JOMRESTOKEN}
<input type="hidden" name="contractTotal" value="{GRANDTOTAL}" />
<input type="hidden" name="contract_uid" value="{CONTRACTUID}" />
<input type="hidden" name="task" value="saveBookout" />
<input type="hidden" name="no_html" value="1" />
</form>
</div>
</patTemplate:tmpl>