<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<style type="text/css">
.tariffinputbox {
	padding: 1px;
	 font-size: 9px;
	border:solid 1px #cccccc;
	background-color: #ffffff;
}
</style>
<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
<table class="jradmin_innerwrapper">
	<tr>
		<td class="jomres_title">{PAGETITLE}</td>
		</tr>
		<tr>
		<td>{JOMRESTOOLBAR}</td>
	</tr>
	<tr>
		<td>
			<table class="jradmin_table">
				<tr>
					<td class="jradmin_subheader_ca" colspan="2">{HTARIFFTITLE}</td>
					<td class="jradmin_field_ca" colspan="3"><input type="text" size="20" class="inputbox" name="tarifftypename" value="{TARIFFTYPENAME}" /></td>
				</tr>
				<tr>
					<td class="jradmin_subheader_ca">{HMINDAYS}</td>
					<td class="jradmin_subheader_ca">{HMAXDAYS}</td>
					<td class="jradmin_subheader_ca">{HMINPEOPLE}</td>
					<td class="jradmin_subheader_ca">{HMAXPEOPLE}</td>
					<td class="jradmin_subheader_ca">&nbsp;</td>
				</tr>
				<tr>
					<td class="jradmin_field_ca"><input type="text" size="2" class="inputbox" name="mindays" value="{MINDAYS}" /></input></td>
					<td class="jradmin_field_ca"><input type="text" size="2" class="inputbox" name="maxdays" value="{MAXDAYS}" /></input></td>
					<td class="jradmin_field_ca"><input type="text" size="2" class="inputbox" name="minpeople" value="{MINPEOPLE}" /></td>
					<td class="jradmin_field_ca"><input type="text" size="2" class="inputbox" name="maxpeople" value="{MAXPEOPLE}" /></td>
					<td class="jradmin_field_ca">&nbsp;</td>
				</tr>
				<tr>
					<td class="jradmin_subheader_ca">{HROOMTYPEDROPDOWN}</td>
					<td class="jradmin_subheader_ca">{HFIXED_DAYOFWEEK}</td>
					<td class="jradmin_subheader_ca">{HIGNOREPPPNDROPDOWN}</td>
					<td class="jradmin_subheader_ca">{HALLOWWEEKENDSDROPDOWN}</td>
					<td class="jradmin_subheader_ca">{HWEEKENDONLY}</td>
					
				</tr>
				<tr>
					<td class="jradmin_field_ca">{ROOMTYPEDROPDOWN}</td>
					<td class="jradmin_field_ca">{FIXED_ARRIVAL_DAYOFWEEK}</td>
					<td class="jradmin_field_ca">{IGNOREPPPNDROPDOWN}</td>
					<td class="jradmin_field_ca">{ALLOWWEEKENDSDROPDOWN}</td>
					<td class="jradmin_field_ca">{WEEKENDONLY}</td>
				</tr>
			</table>
			<patTemplate:tmpl name="already_selected_rows" type="simpleCondition" requiredVars="hminrooms">
			<table border="0" class="jradmin_table">
				<tr>
					<td class="jradmin_subheader_ca">{HMINROOMS}</td>
					<td class="jradmin_field_ca">{MINROOMS_ALREADYSELECTED}</td>
					<td class="jradmin_subheader_ca">{HMAXROOMS}</td>
					<td class="jradmin_field_ca">{MAXROOMS_ALREADYSELECTED}</td>
				</tr>
				<tr>
					<td class="jradmin_subheader_ca" colspan="2" >{MINROOMS_DESC}</td>
					<td class="jradmin_subheader_ca" colspan="2" >{MAXROOMS_DESC}</td>
				</tr>
			</table>
			</patTemplate:tmpl>
		</td>
	</tr>
</table>
<br/>
<hr>
<table class="jradmin_innerwrapper">
	<tr>
		<td>
			{PICKER_DAYSOFWEEK}
		</td>
	</tr>
	<tr>
		<td>
			<table class="jradmin_table">
				<tr>
				<patTemplate:tmpl name="prefillbuttons" unusedvars="nbsp">
					<td class="jradmin_subheader_ca">
					{BUTTON}{JS}
					</td>
				</patTemplate:tmpl>
				</tr>
				<tr>
				<patTemplate:tmpl name="prefills" unusedvars="nbsp">
					<td class="jradmin_field_ca">
					{INPUT}
					</td>
				</patTemplate:tmpl>
				</tr>

			</table>
		</td>
	</tr>
</table>

<script>
function jomres_micromanage_rate_picker()
	{
	from_value = jQuery('input[name=picker_from]').val();
	to_value = jQuery('input[name=picker_to]').val();
	new_rate = jQuery('#picker_value').val();

	epoch_from = jomres_micromanage_picker_get_epoch(from_value);
	epoch_to = jomres_micromanage_picker_get_epoch(to_value);
	var i = epoch_from;
	var r_colour = random_colour();
	
	while (i <= epoch_to)
		{
		jQuery("input[name=tariffinput["+i/1000+"]]").css("border","2px solid #"+r_colour);
		jQuery("input[name=tariffinput["+i/1000+"]]").val(new_rate);
		tomorrow = new Date( i.getTime() + 86400000 ); 
		i = tomorrow;
		}
	}

function jomres_micromanage_picker_get_epoch(jsdate)
	{
	dformat = "{DATE_FORMAT}";
	var day=0
	var mon=0
	var year=0
	if (dformat=="%d/%m/%Y"){
		dateArray=jsdate.split("/")
		day=dateArray[0]
		mon=dateArray[1]
		year=dateArray[2]
		}
	if (dformat=="%Y/%m/%d"){
		dateArray=jsdate.split("/")
		day=dateArray[2]
		mon=dateArray[1]
		year=dateArray[0]
		}
	if (dformat=="%m/%d/%Y"){
		dateArray=jsdate.split("/")
		day=dateArray[1]
		mon=dateArray[0]
		year=dateArray[2]
		}
	if (dformat=="%d-%m-%Y"){
		dateArray=jsdate.split("-")
		day=dateArray[0]
		mon=dateArray[1]
		year=dateArray[2]
		}
	if (dformat=="%Y-%m-%d"){
		dateArray=jsdate.split("-")
		day=dateArray[2]
		mon=dateArray[1]
		year=dateArray[0]
		}
	if (dformat=="%m-%d-%Y"){
		dateArray=jsdate.split("-")
		day=dateArray[1]
		mon=dateArray[0]
		year=dateArray[2]
		}
	return new Date(Date.UTC(year,mon-1,day,0,0,0)); 
	}

	// http://www.namepros.com/code/37251-javascript-random-hex-color.html
	function random_colour()
		{
		colours = new Array(14)
		colours[0]="0"
		colours[1]="1"
		colours[2]="2"
		colours[3]="3"
		colours[4]="4"
		colours[5]="5"
		colours[5]="6"
		colours[6]="7"
		colours[7]="8"
		colours[8]="9"
		colours[9]="a"
		colours[10]="b"
		colours[11]="c"
		colours[12]="d"
		colours[13]="e"
		colours[14]="f"

		digit = new Array(5)
		colour=""
		for (i=0;i<6;i++){
			digit[i]=colours[Math.round(Math.random()*14)]
			colour = colour+digit[i]
			}
		return colour;
		}
</script>
<hr width="50%">

<table class="jradmin_table">
	<tr>
		<td colspan="3">{PICKER_DATERANGES}</td>
	</tr>
	<tr>
		<td class="jradmin_subheader_ca">{PICKER_DATERANGES_START}</td><td class="jradmin_subheader_ca">{PICKER_DATERANGES_END}</td><td class="jradmin_subheader_ca">{PICKER_DATERANGES_RATE}</td><td class="jradmin_subheader_ca">&nbsp;<td>
	</tr>
	<tr>
		<td class="jradmin_field_ca">{PICKER_FROM}</td>
		<td class="jradmin_field_ca">{PICKER_TO}</td>
		<td class="jradmin_field_ca"><input type="text" size="5" style="padding: 1px; font-size: 9px;border:solid 1px #cccccc; background-color: #ffffff;" id="picker_value" value="55" /></td>
		<td class="jradmin_field_ca"><input type="button" id="set_value" value="{PICKER_DATERANGES_SET}" onClick="jomres_micromanage_rate_picker()" /></td>
	</tr>
</table>



<hr>
<table class="jradmin_innerwrapper">
	<patTemplate:tmpl name="daterows" unusedvars="nbsp">
	<tr>
		<td class="jradmin_subheader_ca">{YEAR} {MONTH}</td>
	</tr>
	<tr>
		<td>
			<table class="jradmin_table">
				<tr>
					<td class="jradmin_subheader_ca">{DAYS1}</td>
				</tr>
				<tr>
					<td class="jradmin_field_ca">{INPUTS1}</td>
				</tr>
			</table>
			<table class="jradmin_table">
				<tr>
					<td class="jradmin_subheader_ca">{DAYS2}</td>
				</tr>
				<tr>
					<td class="jradmin_field_ca">{INPUTS2}</td>
				</tr>
			</table>
		</td>
	</tr>
	</patTemplate:tmpl>
</table>

{JOMRESTOKEN}
<input type="hidden" name="tarifftypeid" value="{TARIFFTYPEID}" />
<input type="hidden" name="task" value="saveTariff" />
</form>
</patTemplate:tmpl>
