<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<h2>{PAGETITLE}</h2>
<p>{INFO}</p>
<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<table width="100%" border="0" class="ui-widget-content ui-corner-all">
	<tr>
		<td width="30%">{HCOUPONCODE}</td>
		<td><input class="inputbox" type="text" name="coupon_code" value="{COUPONCODE}" /></td>
	</tr>
	<tr>
		<td>{HVALIDFROM}</td>
		<td>{VALIDFROM}</td>
	</tr>
	<tr>
		<td>{HVALIDTO}</td>
		<td>{VALIDTO}</td>
	</tr>
	<tr>
		<td>{_JRPORTAL_COUPONS_BOOKING_VALIDFROM}</td>
		<td>{BOOKING_VALIDFROM}</td>
	</tr>
	<tr>
		<td>{_JRPORTAL_COUPONS_BOOKING_VALIDTO}</td>
		<td>{BOOKING_VALIDTO}</td>
	</tr>
	<tr>
		<td>{HAMOUNT}</td>
		<td><input class="inputbox" type="text" name="amount" value="{AMOUNT}" /></td>
	</tr>
	<tr>
		<td>{HISPERCENTAGE}</td>
		<td>{ISPERCENTAGE}</td>
	</tr>
	<tr>
		<td>{_JRPORTAL_COUPONS_GUESTNAME}</td>
		<td>{GUEST_DROPDOWN}</td>
	</tr>
</table>
<input type="hidden" name="coupon_id" value="{COUPON_ID}" />
<input type="hidden" name="task" value="saveCoupon" />
<input type="hidden" name="no_html" value="1" />
</form>
</patTemplate:tmpl>