<patTemplate:tmpl name="pageoutput" >
<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
<div class="ui-widget-content ui-corner-all"  style="margin-bottom: 10px;">

<table width="100%">
	<tr>
		<th colspan="5"><div class="ui-widget-header ui-corner-all">{PAGETITLE}</div></th>
	</tr>
	<tr>
		<th colspan="5">{JOMRESTOOLBAR}</th>
	</tr>
	<tr>
		<th class="ui-widget-header  ui-corner-left">{HCOUPONCODE}</th>
		<th class="ui-widget-header">{HVALIDFROM}</th>
		<th class="ui-widget-header">{HVALIDTO}</th>
		<th class="ui-widget-header">{HAMOUNT}</th>
		<th class="ui-widget-header ui-corner-right">{HISPERCENTAGE}</th>
	</tr>
	<tr>
		<td><input class="inputbox" type="text" name="coupon_code" value="{COUPONCODE}" /></td>
		<td>{VALIDFROM}</td>
		<td>{VALIDTO}</td>
		<td><input class="inputbox" type="text" name="amount" value="{AMOUNT}" size="7" /></td>
		<td>{ISPERCENTAGE}</td>
	</tr>
</table>

</div>
<input type="hidden" name="coupon_id" value="{COUPON_ID}" />
<input type="hidden" name="task" value="saveCoupon" />
<input type="hidden" name="no_html" value="1" />
</form>
</patTemplate:tmpl>