<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<script type="text/javascript">
<!--
jomresJquery(document).ready(function() {
	var oTable = jomresJquery('#rooms').dataTable({
		"bJQueryUI": true,
		"bStateSave": true,
		"sPaginationType": "full_numbers"
	});
} );

//-->
</script>
<h2>{PAGETITLE}</h2>
<table width="100%" border="0" id="rooms">
	<thead>
		<tr>
			<th>{_JOMRES_COM_MR_VRCT_ROOM_HEADER_LINK}</th>
			<th>{_JOMRES_COM_MR_LISTTARIFF_ROOMCLASS}</th>
			<th>{_JOMRES_COM_MR_VRCT_ROOM_HEADER_NAME}</th>
			<th>{_JOMRES_COM_MR_VRCT_ROOM_HEADER_NUMBER}</th>
			<th>{_JOMRES_COM_MR_VRCT_ROOM_HEADER_FLOOR}</th>
			<th>{_JOMRES_COM_MR_VRCT_ROOM_HEADER_DISABLEDACCESS}</th>
			<th>{_JOMRES_COM_MR_VRCT_ROOM_HEADER_MAXPEOPLE}</th>
			<th>{_JOMRES_COM_MR_QUICKRES_STEP2_ROOMSMOKING}</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<patTemplate:tmpl name="rows" unusedvars="nbsp">
		<tr>
			<td>{BUTTONS}</td>
			<td>{ROOM_TYPE}</td>
			<td>{ROOM_NAME}</td>
			<td>{ROOM_NUMBER}</td>
			<td>{ROOM_FLOOR}</td>
			<td>{DISABLED_ACCESS}</td>
			<td>{MAX_PEOPLE}</td>
			<td>{SMOKING}</td>
			<td>{ROOM_FEATURES}</td>
			<td><img src="{ROOM_IMAGE}" /></td>
		</tr>
		</patTemplate:tmpl>
	</tbody>
</table>

</patTemplate:tmpl>