<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<form action="{JOMRES_SITEPAGE_URL}"  method="post" name="adminForm">
<div class="ui-widget-content ui-corner-all"  style="margin-bottom: 10px;">
<table width="100%">
	<tr>
		<th colspan="4"><div class="ui-widget-header ui-corner-all">{PAGETITLE}</div></th>
	</tr>
	<tr>
		<th colspan="4">{JOMRESTOOLBAR}</th>
	</tr>
	<tr>
		<th class="ui-widget-header ui-corner-all">{HEDITLINK}</td>
		<th class="ui-widget-header ui-corner-all">{HEXNAME}</td>
		<th class="ui-widget-header ui-corner-all">{HEXDESC}</td>
		<th class="ui-widget-header ui-corner-all">{HEXPRICE}</td>
	</tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr>
		<td>{EDITLINK}</td>
		<td>{EXNAME}</td>
		<td>{EXDESC}</td>
		<td>{CURRENCY} {EXPRICE}</td>
	</tr>
	</patTemplate:tmpl>
</table>

</div>
<input type="hidden" name="task" value="newExtra" />
</form>
</patTemplate:tmpl>
