<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<form action="{JOMRES_SITEPAGE_URL}"  method="post" name="adminForm">
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all"  style="margin-bottom: 10px;">
<table width="100%">
	<tr>
		<th colspan="3"><div class="fg-toolbar ui-widget-header ui-corner-all">{PAGETITLE}</div></th>
	</tr>
	<tr>
		<td width="70%">{JOMRESTOOLBAR}</td>
		<td width="30%">
		<td>{SURNAMEDROPDOWN}</td>
	</tr>
	<tr>
		<td colspan="3">
			<table class="jradmin_table">
				<tr>
					<td class="fg-toolbar ui-widget-header ui-corner-all">{HEDITLINK}</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">{HINVOICELINK}</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">{HFIRSTNAME}</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">{HSURNAME}</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">{HHOUSE}</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">{HSTREET}</td>
					<td class="fg-toolbar ui-widget-header ui-corner-all">{HTOWN}</td>
					<!-- <td class="fg-toolbar ui-widget-header ui-corner-all">&nbsp;</td> -->
				</tr>
				<patTemplate:tmpl name="rows" unusedvars="nbsp">
				<tr>
					<td>{EDITLINK}</td>
					<td>{INVOICELINK}</td>
					<td>{FIRSTNAME}</td>
					<td>{SURNAME}</td>
					<td>{HOUSE}</td>
					<td>{STREET}</td>
					<td>{TOWN}</td>
					<!-- <td>{CREDITCARDLINK}</td> -->
				</tr>
				</patTemplate:tmpl>
			</table>
		</td>
	</tr>
</table>
</div>
<input type="hidden" name="guestUid" value="" />
<input type="hidden" name="task" value="listguests" />
</form>
</patTemplate:tmpl>
