<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<script type="text/javascript">
<!--
jomresJquery(document).ready(function() {
	var oTable = jomresJquery('#list_extras').dataTable({
		"bJQueryUI": true,
		"bStateSave": true,
		"sPaginationType": "full_numbers"
	});
} );
//-->
</script>
<h2>{PAGETITLE}</h2>
<form action="{JOMRES_SITEPAGE_URL}"  method="post" name="adminForm">
{JOMRESTOOLBAR}
<table width="100%" id="list_extras" border="0">
	<thead>
		<tr>
			<th>{HEDITLINK}</th>
			<th>{HEXNAME}</th>
			<th>{HEXDESC}</th>
			<th>{HEXPRICE}</th>
		</tr>
	</thead>
	<tbody>
		<patTemplate:tmpl name="rows" unusedvars="nbsp">
		<tr>
			<td>{EDITLINK}</td>
			<td>{EXNAME}</td>
			<td>{EXDESC}</td>
			<td>{CURRENCY} {EXPRICE}</td>
		</tr>
		</patTemplate:tmpl>
	</tbody>
</table>
<input type="hidden" name="task" value="newExtra" />
</form>
</patTemplate:tmpl>