<patTemplate:tmpl name="pageoutput">
<script language="JavaScript" type="text/javascript">
<!--
jomresJquery(document).ready(function() {
	var oTable = jomresJquery('#showLiveBookings').dataTable({
		"bJQueryUI": true,
		"bStateSave": true,
		"sPaginationType": "full_numbers",
		"sDom": '<"H"lTfr>t<"F"ip>',
		"oTableTools": {
			"sSwfPath": "{LIVESITE}/jomres/javascript/copy_cvs_xls_pdf.swf",
			"aButtons": [
				"copy",
				{
				"sExtends": "csv",
				"sCharSet": "utf8"
				},
				{
				"sExtends": "xls",
				"sCharSet": "utf16le"
				},
				{
				"sExtends": "pdf",
				"sCharSet": "utf8",
				"sPdfOrientation": "landscape",
				"sTitle": "{PAGETITLE}"
				},
				"print"
			]
		}
	});
} );
//-->
</script>
<h2>{PAGETITLE}</h2>
<table width="100%" border="0" class="ui-widget-content ui-corner-all">
	<tr>
		<td><img src="{IMG_PENDING}" border="0" /></td><td>{TEXT_PENDING}</td>
		<td><img src="{IMG_ARRIVETODAY}" border="0" /></td><td>{TEXT_ARRIVETODAY}</td>
		<td><img src="{IMG_RESIDENT}" border="0" /></td><td>{TEXT_RESIDENT}</td>
	</tr>
	<tr>
		<td><img src="{IMG_LATE}" border="0" /></td><td>{TEXT_LATE}</td>
		<td><img src="{IMG_DEPARTTODAY}" border="0" /></td><td>{TEXT_DEPARTTODAY}</td>
		<td><img src="{IMG_STILLHERE}" border="0" /></td><td>{TEXT_STILLHERE}</td>
	</tr>
</table>
<br />
<table width="100%" border="0" id="showLiveBookings">
	<thead>
		<tr>
			<th>{_JOMRES_COM_MR_VIEWBOOKINGS_STATUS}</th>
			<th>{_JOMRES_COM_MR_EDITBOOKINGTITLE}</th>
			<th>{_JOMRES_COM_MR_VIEWBOOKINGS_SURNAME}</th>
			<th>{_JOMRES_BOOKING_NUMBER}</th>
			<th>{ARRIVAL}</th>
			<th>{DEPARTURE}</th>
		</tr>
	</thead>
	<tbody>
		<patTemplate:tmpl name="rows" unusedvars="nbsp">
		<tr>
			<td align="center"><img src="{STATE_IMAGE}" /></td>
			<td><a href="{EDIT_URL}">{EDIT_TEXT}</a></td>
			<td>{FIRSTNAME} {SURNAME}</td>
			<td>{BOOKING_NO}</td>
			<td>{ARRIVALDATE}</td>
			<td>{DEPARTURE}</td>
		</tr>
		</patTemplate:tmpl>
	</tbody>
</table>
</patTemplate:tmpl>