<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<form action="{JOMRES_SITEPAGE_URL}"  method="post" name="adminForm">
<div class="ui-widget-content ui-corner-all"  style="margin-bottom: 10px;">
<table width="100%">
	<tr>
		<th colspan="6"><div class="ui-widget-header ui-corner-all">{PAGETITLE}</div></th>
	</tr>
	<tr>
		<th colspan="6">{JOMRESTOOLBAR}</th>
	</tr>
	<tr>
	
	<tr>
		<th colspan="6">{INFO}</td>
	</tr>
	<tr>
		<th class="ui-widget-header  ui-corner-left">{HEDITLINK}</th>
		<th class="ui-widget-header">{HCOUPONCODE}</th>
		<th class="ui-widget-header">{HVALIDFROM}</th>
		<th class="ui-widget-header">{HVALIDTO}</th>
		<th class="ui-widget-header">{HAMOUNT}</th>
		<th class="ui-widget-header ui-corner-right">{HISPERCENTAGE}</th>
	</tr>
	<patTemplate:tmpl name="rows">
	<tr>
		<td>{EDITLINK}</td>
		<td>{COUPONCODE}</td>
		<td>{VALIDFROM}</td>
		<td>{VALIDTO}</td>
		<td>{AMOUNT}</td>
		<td>{ISPERCENTAGE}</td>
	</tr>
	</patTemplate:tmpl>
</table>
</div>
<input type="hidden" name="task" value="newExtra" />
</form>
</patTemplate:tmpl>
