<patTemplate:tmpl name="pageoutput">
<script language="javascript">
<!--
function OnChange(dropdown)
	{	
	cty=jomresJquery("select#country").val();
	var baseURL= "{JOMRES_SITEPAGE_URL}&task=registerProp_step1"
	location.href = baseURL + "&selectedCountry="+cty;
	return true;
	}
function submitCountry(){
	document.regForm.action = "{JOMRES_SITEPAGE_URL}&task=registerProp_step2"
	document.regForm.submit();
	return true;
	}
//-->
</script>

<form action="{JOMRES_SITEPAGE_URL}" method="post" name="regForm" >
<table class="jradmin_table">
	<tr>
		<td class="jradmin_field_ca">{REGISTRATION_INSTRUCTIONS_STEP1}</td>
	</tr>
	<tr>
		<td>
			<table class="jradmin_table">
				<tr>
					<td class="jradmin_field_ca">{HCOUNTRY}</td>
					<td class="jradmin_field_ca">{COUNTRIESDROPDOWN}</td>
					<td class="jradmin_field_ca">&nbsp;</td>
				</tr>
				<tr>
					<td class="jradmin_field_ca">{HREGION}</td>
					<td class="jradmin_field_ca">{REGIONDROPDOWN}</td>
					<td class="jradmin_field_ca">&nbsp;</td>
				</tr>
				<tr>
					<td class="jradmin_field_ca">{HPROPERTY_TYPE}</td>
					<td class="jradmin_field_ca">{PROPERTY_TYPE_DROPDOWN}</td>
					<td class="jradmin_field_ca">&nbsp;</td>
				</tr>
				<tr>
					<td class="jradmin_field_ca">{MANAGEMENTPROCESS}</td>
					<td class="jradmin_field_ca">{REALESTATEDROPDOWN}</td>
					<td class="jradmin_field_ca">{MANAGEMENTPROCESS_DESC}<br/>
					<ul>
					<patTemplate:tmpl name="rows">
					<li>{DESCRIPTION}</li>
					</patTemplate:tmpl>
					</ul>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<input type="hidden" name="task" value="registerProp_step2" />
<input type="button" name="send" value="Submit" class="button" onclick="submitCountry();" />
</form>
</patTemplate:tmpl>
