<patTemplate:tmpl name="pageoutput" >
<table class="jradmin_innerwrapper">
	<tr>
		<td>
			<table class="jradmin_table">
				<tr>
					<td class="jradmin_subheader_la">{HFIRSTNAME}</b></td>
					<td class="jradmin_field_la">{FIRSTNAME}</td>
					<td class="jradmin_subheader_la">{HSURNAME}</td>
					<td class="jradmin_field_la">{SURNAME}</td>
				</tr>
				<tr>
					<td class="jradmin_subheader_la">{HSTREET}</td>
					<td class="jradmin_field_la">{HOUSE}</td>
					<td class="jradmin_subheader_la">{HHOUSE}</td>
					<td class="jradmin_field_la">{STREET}</td>
				</tr>
				<tr>
					<td class="jradmin_subheader_la">{HPOSTCODE}</td>
					<td class="jradmin_field_la">{POSTCODE}</td>
					<td class="jradmin_subheader_la">{HTOWN}</td>
					<td class="jradmin_field_la">{TOWN}</td>
				</tr>
				<tr>
					<td class="jradmin_subheader_la">{HREGION}</td>
					<td class="jradmin_field_la">{REGION}</td>
					<td class="jradmin_subheader_la">{HCOUNTRY}</td>
					<td class="jradmin_field_la">{COUNTRY}</td>
				</tr>
				<tr>
					<td class="jradmin_subheader_la">{HLANDLINE}</td>
					<td class="jradmin_field_la">{LANDLINE}</td>
					<td class="jradmin_subheader_la">{HMOBILE}</td>
					<td class="jradmin_field_la">{MOBILE}</td>
				</tr>
				<tr>
					<td class="jradmin_subheader_la">{HFAX}</td>
					<td class="jradmin_field_la">{FAX}</td>
					<td class="jradmin_subheader_la">{HEMAIL}</td>
					<td class="jradmin_field_la">{EMAIL}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</patTemplate:tmpl>