<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<form action="{JOMRES_SITEPAGE_URL}" method="post" name="adminForm">
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all"  style="margin-bottom: 10px;">

<table class="jradmin_innerwrapper">
	<tr>
		<th><div class="fg-toolbar ui-widget-header ui-corner-all">{PAGETITLE}</div></th>
	</tr>
	<tr>
		<td>{JOMRESTOOLBAR}</td>
	</tr>
	<tr>
		<td>
			<table class="jradmin_table">
				<tr>
					<th>{BBDATE}</th>
					<td>{BBSTART}</td>
				</tr>
				<tr>
					<th>{BBDATEENDS}</th>
					<td>{BBENDS}</td>
				</tr>
			</table>
			<br />
			<table>
				<tr>
					<th colspan="2">{INFO}</th>
				</tr>
				<patTemplate:tmpl name="bookingsrows" unusedvars="nbsp">
				<tr>
					<td><b>{ROOMNO}</b></td>
					<td>{ROOMNAME}</td>
				</tr>
				</patTemplate:tmpl>
			</table>
			<br />
			<table>
				<tr>
					<td>{REASON}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

</div>
<input type="hidden" name="contract_uid" value="{CONTRACTID}" />
<input type="hidden" name="task" value="deleteBlackBooking" />
</form>
</patTemplate:tmpl>