<patTemplate:tmpl name="pageoutput" >
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<patTemplate:tmpl name="heads" >
{HEADS}
</patTemplate:tmpl>
</head>

<body>
	<div align="center">
		<div id="wrap">
			<div id="header">
				<div id="logo" title="LOGO"></div>
				<div id="header_right">
					<div id="menu_wrap">
					<patTemplate:tmpl name="menurows" >
						{CONTENT}
					</patTemplate:tmpl>
					</div>
				</div>
			</div>
			<div id="content">
			<patTemplate:tmpl name="content" >
				{CONTENT}
			</patTemplate:tmpl>
			</div>
		</div>
	</div>
</body>
</html>
</patTemplate:tmpl>