<patTemplate:tmpl name="pageoutput" >
<h2>{_JOMRES_SA_LOG_IN}</h2>
<p><b>{ERROR}</b></p>
<p>{_JOMRES_SA_FORMS_ENTERLOGINDETAILS}</p>
<form name="form1" method="post" action="{POSTACTION}">
  <label for="login">{_JOMRES_SA_FORMS_USERNAME}</label>
  <input type="text" name="login" size="20" value="{LOGIN}"><br>
  <label for="password">{_JOMRES_SA_FORMS_PASSWORD}</label>
  <input type="password" name="password" size="8" value="{PASSWORD}"><br>
  <label for="remember">{_JOMRES_SA_FORMS_AUTOLOGIN}</label>
  <input type="checkbox" name="remember" value="yes" {CHECKED}>
  <br>
  <input type="submit" name="Submit" value="Login">
</form>
</patTemplate:tmpl>