<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<style type="text/css">
table.ui-widget-header ui-corner-all tr.row2 {
	background-color: #fc0000;
	text-align: left;
}
</style>

<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<table class="ui-widget-content ui-corner-all" border="0" width="75%">
	<tr>
		<th class="ui-widget-header ui-corner-all">{PAGETITLE}</th>
	</tr>
</table>
{LEGEND}
<table class="ui-widget-content ui-corner-all" border="0" width="75%">
	<tr>
		<td >{HPROPERTYNAME}</td><td >{HPROPERTYADDRESS}</td><td >{HCRATE_DROPDOWN}</td>
	</tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr class="{STYLE}">
		<td>{VIEWLINK}{PROPERTYNAME}</a></td><td >{PROPERTYADDRESS}</td><td >{CRATE_DROPDOWN}</td>
	</tr>		
	</patTemplate:tmpl>
</table>
{JOMRESTOKEN}
<input type="hidden" name="option" value="com_jomres" />
<input type="hidden" name="task" value="editcrate" />
<input type="hidden" name="boxchecked" value="0">
</form>
</patTemplate:tmpl>
