<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">

<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<table  class="jradmin_table" border="0">
	<tr>
		<th class="jomres_title" colspan="2">{PAGETITLE}</th>
	</tr>
	<tr>
		<th class="jomres_title" colspan="2">{INFO}</th>
	</tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr>
		<td class="jradmin_subheader_la">{PROPERTY_NAME}</td><td class="jradmin_subheader_la">{DATE_TOOTIP}</td>
	</tr>
	</patTemplate:tmpl>
</table>
<input type="hidden" name="option" value="com_jomres" />
<input type="hidden" name="task" value="editcrate" />
<input type="hidden" name="boxchecked" value="0">
</form>
</patTemplate:tmpl>
