<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<table border="0" width="100%" class="ui-widget-content ui-corner-all">
	<tr>
		<td colspan="2">{PLUGIN_CHECK}</td>
	</tr>
	<tr>
		<th class="ui-state-default ui-corner-all" style="padding:10px">News</th>
		<th class="ui-state-default ui-corner-all" style="padding:10px">System Status</th>
	</tr>
	<tr>
		<td valign="top" width="50%">
			<table width="100%">
				<patTemplate:tmpl name="news_rows" unusedvars="strip">
				<tr>
					<td>
						<p class="{STATE} ui-corner-all" style="padding-left:10px;margin:5px">
							{TITLE} {DATE}
						</p>
						<p>
							{NEWS}
						</p>
						<a href="{URL}" target="_blank">{URL_TEXT}</a>
					</td>
				</tr>
				</patTemplate:tmpl>
			</table>
		</td>
		<td valign="top">
			<table width="100%">
				<tr>
					<td class="{ACCESS_CONTROL_HIGHLIGHT}" >
						{ACCESS_CONTROL_ALERT}
					</td>
				</tr>
				<tr>
					<td>
						<strong>{_JOMRES_VERSIONCHECK_THISJOMRESVERSION} {THIS_JOMRES_VERSION}</strong><br/> 
						<strong>{_JOMRES_VERSIONCHECK_LATESTJOMRESVERSION} {LATEST_JOMRES_VERSION}</strong>
					</td>
				</tr>
				<tr>
					<td id="version_check_warning" class="{HIGHLIGHT}" >
						{ALERT}{EFFECT}
					</td>
				</tr>
				<tr>
					<td id="cache_check_warning" class="{CACHE_HIGHLIGHT}" >
						{CACHE_WARNING}
					</td>
				<tr>
					<td>
						{_JOMRES_PRODUCT_INFORMATION}
					</td>
				</tr>
				<tr>
					<td>
						{_JOMRES_PRODUCT_INFORMATION2}
					</td>
				</tr>
				<tr>
					<th class="ui-state-default ui-corner-all" style="padding:10px" width="100%">
						Writability check
					</th>
				</tr>
				<tr>
					<td valign="top">
						If any of the above folders is not writable you may experience problems with running Jomres. It is recommended that you resolve any problems before attempting to use Jomres further. Whilst it is preferable that Jomres can write to the /jomres folders it is not vital (but it's better if it can because you can then use the updates feature) but folders such as the sessions and temp folders <i> have </i> to be writable for the system to work.</p>{WRITABILITY_TESTS}
					</td>
			</table>
		</td>
	</tr>
</table>
<br />
<table border="0" width="100%" class="ui-widget-content ui-corner-all">
	<tr>
		<td style="text-align:left;" width="52"><img src="{LIVESITE}/jomres/images/User_Ninja.png" width="48" height="48" align="middle" border="0" /></td>
		<td style="text-align:left;"><strong>Copyright:</strong> &copy; 2005 - 2012 Vince Wooll</td>
		<td style="text-align:right;">Thanks to Piranha for your continuing help in providing support to Jomres users.</td>
	</tr>
</table>
</patTemplate:tmpl>