<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<h2>{_JOMRES_COM_A_CRON_TITLE}</h2>
<p>{_JOMRES_COM_A_CRON_DESC}</p>
<form action="<?{JOMRES_SITEPAGE_URL_ADMIN; ?>" method="post" name="adminForm">
<table width="100%" class="ui-widget-content ui-corner-all" border="0">
	<tr>
    	<td colspan="3"><h3>Settings</h3></td>
    </tr>
	<tr align="center" class="ui-state-default">
		<th width="20%">&nbsp;</th>
		<th width="20%">{_JOMRES_COM_A_CURRENT_SETTINGS}</th>
		<th width="60%">{_JOMRES_COM_A_EXPLANATION}</th>
	</tr>
	<tr valign="middle" class="odd">
		<td valign="middle">{_JOMRES_COM_A_CRON_METHOD}</td>
		<td valign="middle">{METHODDROPDOWN}</td>
		<td valign="middle">{_JOMRES_COM_A_CRON_METHOD_DESC}</td>
	</tr>
	<tr valign="middle" class="even">
		<td valign="middle">{_JOMRES_COM_A_CRON_LOGGING}</td>
		<td valign="middle">{DISPLAYLOGGINGDROPDOWN}</td>
		<td valign="middle">{_JOMRES_COM_A_CRON_LOGGING_DESC}</td>
	</tr>
	<tr valign="middle" class="odd">
		<td valign="middle">{_JOMRES_COM_A_CRON_LOGGINGENABLED}</td>
		<td valign="middle">{LOGGINGDROPDOWN}</td>
		<td valign="middle">{_JOMRES_COM_A_CRON_LOGGINGENABLED_DESC}</td>
	</tr>
	<tr valign="middle" class="even">
		<td valign="middle">{_JOMRES_COM_A_CRON_VERBOSELOGS}</td>
		<td valign="middle">{VERBOSEDROPDOWN}</td>
		<td valign="middle">{_JOMRES_COM_A_CRON_VERBOSELOGS_DESC}</td>
	</tr>
	<tr valign="middle">
		<td colspan="3">&nbsp;</td>
	</tr>
    <tr valign="middle" align="center">
		<td colspan="3"><input type="submit" value="Save settings" class="fg-button ui-state-default ui-corner-all" /></td>
	</tr>
</table>
<input type="hidden" name="task" value="pseudocron" />
<input type="hidden" name="option" value="com_jomres" />
</form>
<br />
<table class="ui-widget-content ui-corner-all" border="0" width="100%">
	<tr>
    	<td>
        	<h3>Current Cron Jobs</h3>
            <p>{_JOMRES_COM_A_CRON_IMMEDIATERUN}</p>
        </td>
    </tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr>
		<td>{JOB}</td>
 	</tr>
	</patTemplate:tmpl>
</table>
<br />
<table class="ui-widget-content ui-corner-all" border="0" width="100%">
	<patTemplate:tmpl name="logs" unusedvars="nbsp">
	<tr>
		<td>{LOG}</td>
	</tr>
	</patTemplate:tmpl>
</table>
</patTemplate:tmpl>