<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">

<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<table class="ui-widget-header ui-corner-all" border="0">
	<tr>
		<th colspan="4" class="ui-widget-header ui-corner-all">{PAGETITLE}</th>
	</tr>
	<tr>
		<th class="ui-widget-header ui-corner-all">{HTITLE}</th><th class="ui-widget-header ui-corner-all">{HTYPE}</th><th class="ui-widget-header ui-corner-all">{HVALUE}</th><th class="ui-widget-header ui-corner-all">{HCURRENCYCODE}</th>
	</tr>
	<tr>
		<td>
			<input class="inputbox" type="text" size="15" name="title" value="{TITLE}" />
		</td>
		<td>
			{TYPE}
		</td>
		<td>
			<input class="inputbox" type="text" size="15" name="value" value="{VALUE}" />
		</td>
		<td>
			{CURRENCYCODE}
		</td>
	</tr>
</table>
{JOMRESTOKEN}
<input type="hidden" name="id" value="{ID}" />
<input type="hidden" name="option" value="com_jomres" />
<input type="hidden" name="task" value="savecrate" />
</form>
</patTemplate:tmpl>
