<patTemplate:tmpl name="pageoutput" >
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
<table class="ui-widget-content ui-corner-all" border="0" width="75%">
	<tr>
		<td class="ui-widget-header ui-corner-all">{PAGETITLE}</td>
	</tr>
	<tr>
		<td>{JOMRESTOOLBAR}</td>
	</tr>
	<tr>
		<td>
			<table class="ui-widget-content ui-corner-all" width="75%">
				<tr>
					<td class="ui-widget-header ui-corner-all">ID</td>
					<td>{HNAME}</td>
					<td>{HDESCRIPTION}</td>
					<td>{HFREQUENCY}</td>
					<td>{HTRIALPERIOD}</td>
					<td class="ui-widget-header ui-corner-all">{HTRIALAMOUNT}</td>
					<td>{HFULLAMOUNT}</td>
					<!-- not supported yet so not offered<td>{HROOMSLIMIT}</td>-->
					<td>{HPROPERTYLIMIT}</td>
					<td>{HTAXCODE}</td>
				</tr>
				<tr>
					<td>{ID}</td>
					<td><input type="text" name="name" value="{NAME}" /></td>
					<td><input type="text" name="description" value="{DESCRIPTION}" /></td>
					<td>{FREQUENCYDROPDOWN}</td>
					<td>{TRIALPERIODDROPDOWN}</td>
					<td><input type="text" name="trial_amount" value="{TRIALAMOUNT}" size="7" /></td>
					<td><input type="text" name="full_amount" value="{FULLAMOUNT}" /></td>
					<!-- not supported yet so not offered<td>{ROOMSLIMIT}</td>-->
					<td>{PROPERTYLIMIT}</td>
					<td>{TAXCODEDROPDOWN}</td>
				</tr>
				<tr>
					<td colspan="6" >{FREQUENCY_DESC}</td>
				</tr>
				<tr>
					<td colspan="6" >{TRIALPERIOD_DESC}</td>
				</tr>
				<tr>
					<td colspan="6" >{FREEBIENOTES}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

{JOMRESTOKEN}
<input type="hidden" name="id" value="{ID}" />
<input type="hidden" name="option" value="com_jomres" />
<input type="hidden" name="task" value="save_subscription_package" />
</form>
</patTemplate:tmpl>