<patTemplate:tmpl name="pageoutput" >
				<script>
				var idarray = new Array();

				function updateInit_Total(id)
					{
					tax = jQuery('#tax_rate_'+id).val();
					qty = jQuery('#init_qty_'+id).val();
					dsc = jQuery('#init_discount_'+id).val();
					price = jQuery('#li_init_price_'+id).val();

					pre_tax_total=price*qty
					post_discount=pre_tax_total-dsc
					vat=(post_discount/100)*tax
					init_total=post_discount+vat
					
					jQuery("#init_total_"+id).text(init_total);
					updateInitGrandTotal();
					};

				function updateInitGrandTotal()
					{
					init_total = 0.00;
					for (i=0; i < idarray.length; i++) {
						tmp = jQuery("#init_total_"+idarray[i]).text();
						flt = parseFloat(tmp)
						init_total = init_total + flt;
						}
					jQuery("#init_grand_total").text(init_total);
					}
					
				function updateRecur_Total(id)
					{
					tax = jQuery('#tax_rate_'+id).val();
					qty = jQuery('#init_qty_'+id).val();
					dsc = jQuery('#init_discount_'+id).val();
					price = jQuery('#li_init_price_'+id).val();
					pre_tax_total=price*qty
					post_discount=pre_tax_total-dsc
					vat=(post_discount/100)*tax
					recur_total=post_discount+vat
					
					jQuery("#recur_total_"+id).text(recur_total);
					updateRecurGrandTotal();
					};

				function updateRecurGrandTotal()
					{
					init_total = 0.00;
					for (i=0; i < idarray.length; i++) {
						tmp = jQuery("#recur_total_"+idarray[i]).text();
						flt = parseFloat(tmp)
						recur_total = recur_total + flt;
						}
					jQuery("#recur_grand_total").text(recur_total);
					}
				</script>
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
<table class="jradmin_innerwrapper">
	<tr>
		<td class="jomres_title">{PAGETITLE}</td>
	</tr>
	<tr>
		<td>{JOMRESTOOLBAR}</td>
	</tr>
	<tr>
		<td>
			<table class="jradmin_table">
				<tr>
					<td class="jradmin_subheader_ca">&nbsp;</td>
					<td class="jradmin_subheader_la">{HSTATUS}</td>
					<td class="jradmin_subheader_la">{HRAISED}</td>
					<td class="jradmin_subheader_la">{HDUE}</td>
					<td class="jradmin_subheader_la">{HSUBSCRIPTION}</td>
					<td class="jradmin_subheader_la">{HCURRENCYCODE}</td>
					<td class="jradmin_subheader_la">{HINITTOTAL}</td>
					<td class="jradmin_subheader_la">{HRECURTOTAL}</td>
					<td class="jradmin_subheader_la">{HFREQ}</td>
				</tr>
				<tr>
					<td class="jradmin_rowtoolbar">{USERSINVOICESLINK}</td>
					<td class="jradmin_field_la">{STATUS}</td>
					<td class="jradmin_field_la">{RAISED}</td>
					<td class="jradmin_field_la"><input class="jomres_inputbox" type="text" name="due_date" value="{DUE}" /></td>
					<td class="jradmin_field_la">{SUBSCRIPTION}</td>
					<td class="jradmin_field_la">{CURRENCYCODE}</td>
					<td class="jradmin_field_la"><div id="init_grand_total">{INITTOTAL}</div></td>
					<td class="jradmin_field_la"><div id="recur_grand_total">{RECURTOTAL}</div></td>
					<td class="jradmin_field_la">{FREQ}</td>
				</tr>
			</table>
			

		</td>
	</tr>
</table>
<table class="jradmin_innerwrapper">
	<tr>
		<td class="jomres_title">{LIPAGETITLE}</td>
	</tr>
	<tr>
		<td>
			<table class="jradmin_table">
				<tr>
					<td class="jradmin_subheader_ca">&nbsp;</td>
					<td class="jradmin_subheader_la">{HLI_NAME}</td>
					<td class="jradmin_subheader_la">{HLI_DESCRIPTION}</td>
					
					<td class="jradmin_subheader_la">{HLI_INIT_PRICE}</td>
					<td class="jradmin_subheader_la">{HLI_INIT_QTY}</td>
					<td class="jradmin_subheader_la">{HLI_INIT_DISCOUNT}</td>
					<td class="jradmin_subheader_la">{HLI_INIT_TOTAL}</td>
					<td class="jradmin_subheader_la">{HLI_RECUR_PRICE}</td>
					<td class="jradmin_subheader_la">{HLI_RECUR_QTY}</td>
					<td class="jradmin_subheader_la">{HLI_RECUR_DISCOUNT}</td>
					<td class="jradmin_subheader_la">{HLI_RECUR_TOTAL}</td>
					<td class="jradmin_subheader_la">{HLI_TAX_CODE}</td>
					<td class="jradmin_subheader_la">{HLI_TAX_DESCRIPTION}</td>
					<td class="jradmin_subheader_la">{HLI_TAX_RATE}</td>
				</tr>

				<patTemplate:tmpl name="rows" unusedvars="nbsp">
				<script>idarray[{COUNTER}]={ID};</script>
				<input type="hidden" name="line_item[]" id="line_item[]" value="{ID}" />
				<input type="hidden" id="tax_rate_{ID}" value="{LI_TAX_RATE}" />
				<input type="hidden" id="li_init_price_{ID}" value="{LI_INIT_PRICE}" />
				<input type="hidden" value="{LI_RECUR_PRICE}" />
				<tr>
					<td class="jradmin_rowtoolbar">{ID}</td>
					<td class="jradmin_field_la">{LI_NAME}</td>
					<td class="jradmin_field_la">{LI_DESCRIPTION}</td>
					
					<td class="jradmin_field_la">{LI_INIT_PRICE}</td>
					<td class="jradmin_field_la"><input class="jomres_inputbox" type="text" size="5" id="init_qty_{ID}" name="init_qty_{ID}" value="{LI_INIT_QTY}" onChange="updateInit_Total({ID});"/></td>
					<td class="jradmin_field_la"><input class="jomres_inputbox" type="text" size="5" id="init_discount_{ID}" name="init_discount_{ID}" value="{LI_INIT_DISCOUNT}" onChange="updateInit_Total({ID});"/></td>
					<td class="jradmin_field_la"><div id="init_total_{ID}">{LI_INIT_TOTAL}</div></td>
					<td class="jradmin_field_la">{LI_RECUR_PRICE}</td>
					
					<td class="jradmin_field_la"><input class="jomres_inputbox" type="text" size="5" id="recur_qty_{ID}" name="recur_qty_{ID}" value="{LI_RECUR_QTY}" onChange="updateRecur_Total({ID});"/></td>
					<td class="jradmin_field_la"><input class="jomres_inputbox" type="text" size="5" id="recur_discount_{ID}" name="recur_discount_{ID}" value="{LI_RECUR_DISCOUNT}" onChange="updateRecur_Total({ID});"/></td>
					<td class="jradmin_field_la"><div id="recur_total_{ID}">{LI_RECUR_TOTAL}</div></td>

					<td class="jradmin_field_la">{LI_TAX_CODE}</td>
					<td class="jradmin_field_la">{LI_TAX_DESCRIPTION}</td>
					<td class="jradmin_field_la">{LI_TAX_RATE}%</td>
				</tr>
				</patTemplate:tmpl>
			</table>
			

				
		</td>
	</tr>
</table>

{JOMRESTOKEN}
<input type="hidden" name="id" value="{ID}" />
<input type="hidden" name="option" value="com_jomres" />
<input type="hidden" name="task" value="save_invoice" />
</form>
</patTemplate:tmpl>