<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
<table class="ui-widget-content ui-corner-all" border="0" width="75%">
	<tr>
		<td class="ui-widget-header ui-corner-all">{PAGETITLE}</td>
	</tr>
	<tr>
		<td>{JOMRESTOOLBAR}</td>
	</tr>
	<tr>
		<td>
			<table class="ui-widget-content ui-corner-all" width="75%">
				<tr>
					<td class="ui-widget-header ui-corner-all">ID</td>
					<td>{HCMS_USER_ID}</td>
					<td>{HGATEWAY_SUBSCRIPTION_ID}</td>
					<td>{HNAME}</td>
					<td>{HDESCRIPTION}</td>
					<td class="ui-widget-header ui-corner-all">{HFREQUENCY}</td>
					<td>{HTRIAL_PERIOD}</td>
					<td>{HTRIAL_AMOUNT}</td>
					<td>{HFULL_AMOUNT}</td>
					<td>{HPROPERTY_LIMIT}</td>
					<td class="ui-widget-header ui-corner-all">{HSTATUS}</td>
					<td>{HRAISED_DATE}</td>
					<td>&nbsp;</td>
				</tr>
				<patTemplate:tmpl name="rows" unusedvars="nbsp">
				<tr>
					<td>{ID}</td>
					<td>{CMS_USER_ID}</td>
					<td>{GATEWAY_SUBSCRIPTION_ID}</td>
					<td>{NAME}</td>
					<td>{DESCRIPTION}</td>
					<td>{FREQUENCY}</td>
					<td>{TRIAL_PERIOD}</td>
					<td>{TRIAL_AMOUNT}</td>
					<td>{FULL_AMOUNT}</td>
					<td>{PROPERTY_LIMIT}</td>
					<td>{STATUS}</td>
					<td>{RAISED_DATE}</td>
					<td>{DELETELINK}</td>
					
				</tr>
				</patTemplate:tmpl>
			</table>
		</td>
	</tr>
</table>
<input type="hidden" name="task" value="editTaxrate" />
</form>
</patTemplate:tmpl>
