<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
<table class="ui-widget-content ui-corner-all" border="0" width="75%">
	<tr>
		<td class="ui-widget-header ui-corner-all">{PAGETITLE}</td>
	</tr>
	<tr>
		<td>{JOMRESTOOLBAR}</td>
	</tr>
	<tr>
		<td>
			<table class="ui-widget-content ui-corner-all" width="75%">
				<tr>
					<td class="ui-widget-header ui-corner-all">ID</td>
					<td>{HNAME}</td>
					<td>{HDESCRIPTION}</td>
					<td>{HFREQUENCY}</td>
					<td>{HTRIALPERIOD}</td>
					<td class="ui-widget-header ui-corner-all">{HTRIALAMOUNT}</td>
					<td>{HFULLAMOUNT}</td>
					<!-- not supported yet so not offered <td>{HROOMSLIMIT}</td> -->
					<td>{HPROPERTYLIMIT}</td>
				</tr>
				<patTemplate:tmpl name="rows" unusedvars="nbsp">
				<tr>
					<td class="jradmin_rowtoolbar">{EDITLINK}</td>
					<td>{NAME}</td>
					<td>{DESCRIPTION}</td>
					<td>{FREQUENCY}</td>
					<td>{TRIALPERIOD}</td>
					<td>{TRIALAMOUNT}</td>
					<td>{FULLAMOUNT}</td>
					<!-- not supported yet so not offered <td>{ROOMSLIMIT}</td> -->
					<td>{PROPERTYLIMIT}</td>
				</tr>
				</patTemplate:tmpl>
			</table>
		</td>
	</tr>
</table>
<input type="hidden" name="task" value="editTaxrate" />
</form>
</patTemplate:tmpl>
