<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">

{_JOMRES_REVIEWS_ADMIN_PROPERTYLISTINFO}
<table class="jradmin_table">
	<tr>
		<td class="jradmin_subheader_la" >{HPROPERTYNAME}</td><td class="jradmin_subheader_la" >{_JOMRES_REVIEWS_ADMIN_NUMBERUNPUBLISHED}</td><td class="jradmin_subheader_la" >{_JOMRES_REVIEWS_ADMIN_NUMBERTOTAL}</td>
	</tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr class="{STYLE}">
		<td class="jradmin_field_la"><div class='{ROW_CLASS}'>{VIEWLINK}{PROPERTYNAME}</div></a></td><td class="jradmin_field_la">{NUMBERUNPUBLISHED}</td><td  class="jradmin_field_la">{NUMBERTOTAL}</td>
	</tr>		
	</patTemplate:tmpl>
</table>

</patTemplate:tmpl>
