<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">

<table class="ui-widget-content ui-corner-all" width="75%">
	<tr>
		<th class="ui-widget-header ui-corner-all">{_JOMRES_MANAGER_CHOOSE_SEARCHTITLE}</th>
	</tr>
	<tr>
		<td class="ui-widget-content">
			<div class="ui-widget">
				<input id="username_input" />
			</div>
			<br/>{_JOMRES_MANAGER_CHOOSE_SEARCH_INSTRUCTIONS}
		</td>
	</tr>
	<tr>
		<th colspan="2" class="ui-widget-header ui-corner-all">{KEY}</th>
	</tr>
	<tr>
		<th colspan="2" class="ui-widget-header ui-corner-all">{_JOMRES_MANAGER_CHOOSE_EXISTINGTITLE}</th>
	</tr>
	<tr>
		<td colspan="2">
			<table class="jradmin_table" border="0">
				<tr>
					<th class="ui-widget-header ui-corner-all">{HUSERNAME}</th>
					
					<th class="ui-widget-header ui-corner-all">{HLINKTEXT}</th>
					<th class="ui-widget-header ui-corner-all">{HACCESSLEVEL}</th>
					<th class="ui-widget-header ui-corner-all">{_JOMRES_CHOOSEMANAGER_NUMBEROFPROPERTIES_ASSIGNED}</th> 
					<th class="ui-widget-header ui-corner-all">{HSUSPENSION}</th> 
					<th class="ui-widget-header ui-corner-all">{HGRANTLINK}</th>
				</tr>
			<patTemplate:tmpl name="rows" unusedvars="nbsp">
				<tr>
					<td>{USERNAME}</td>
					
					<td>{LINKTEXT}</td>
					<td>{ACCESSLEVELIMAGE}</td>
					<td>{NUMBEROFPROPERTIES}</td>
					<td width="200px" >{SUSPENSIONLINK}</td>
					<td width="200px" >{GRANTLINK}</td>
				</tr>
			</patTemplate:tmpl>
			</table>
		</td>
	</tr>
</table>

<script type="text/javascript">
var ajaxurl	= "{AJAXURL}";
var livesite= "{LIVESITE}&task=grantMosUser&no_html=1&grantAct=y&name=";

	jomresJquery(function() {
		jomresJquery( "#username_input" ).autocomplete({
			source: ajaxurl+'managers_find',
			minLength: 2,
			select: function( event, ui ) {
				location.href = livesite+ui.item.value;
			}
		});
	});


</script>


</patTemplate:tmpl>
