<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">

<table>
	<tr>
		<th class="jomres_title" > {_JRPORTAL_LISTBOOKINGS_HEADER_PROPERTY_ID}</th>
		<th class="jomres_title" > {_JOMRES_SORTORDER_PROPERTYNAME}</th>
		<th class="jomres_title" > {_JOMRES_COM_MR_LISTTARIFF_VALIDFROM}</th>
		<th class="jomres_title" > {_JOMRES_COM_MR_LISTTARIFF_VALIDTO}</th>
		<th class="jomres_title" > {_JOMRES_AJAXFORM_BILLING_DISCOUNT} (%) </th>
		<th class="jomres_title" > &nbsp; </th>
	</tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr>
		<td class="jradmin_subheader_la">
			{PROPERTY_ID}
		</td>
		<td class="jradmin_subheader_la">
			{PROPERTY_NAME}
		</td>
		<td class="jradmin_subheader_la">
			{VALID_FROM}
		</td>
		<td class="jradmin_subheader_la">
			{VALID_TO}
		</td>
		<td class="jradmin_subheader_la">
			<input name="discount_{DISCOUNT_ID}" class="jomres_inputbox" type="text" value="{DISCOUNT}" />
		</td>
		<td class="jradmin_subheader_la">
			<a href="javascript:void(0);" onClick="save_discount_settings({DISCOUNT_ID},{PROPERTY_ID})"><img src="{LIVESITE}/jomres/images/jomresimages/small/Save.png" /></a>&nbsp;
			<a href="javascript:void(0);" onClick="delete_discount({DISCOUNT_ID},{PROPERTY_ID})"><img src="{LIVESITE}/jomres/images/jomresimages/small/WasteBasket.png" /></a>
		</td>
	</tr>
	</patTemplate:tmpl>
</table>
</patTemplate:tmpl>
