<patTemplate:tmpl name="pageoutput">
<script type="text/javascript" >
<!--
jomresJquery(document).ready(function () {
	var select = '#mySelect';
	jomresJquery(select).attr('selectedIndex', '-1');
	jomresJquery(select).change(function () {
		jomresJquery(select + ' option').each(function () {
			jomresJquery('#' + this.value).hide();
		});
		jomresJquery(select + ' option:selected').each(function () {
			jomresJquery('#' + this.value).show();
		});
	}).change();
});
//-->
</script>
<form action="{JOMRES_SITEPAGE_URL_ADMIN}&amp;task=saveregisterprop" method="post" name="adminForm">
{JOMRESTOOLBAR}
<table>
	<tr>
		<td>{JOMRES_REGISTRATION_INSTRUCTIONS_STEP2_1}</td>
		<td>{JOMRES_REGISTRATION_INSTRUCTIONS_STEP2_2}</td>
	</tr>
	<tr>
		<td>
		<br />
			<table class="ui-widget-content ui-corner-all" border="0" width="100%">
				<tr>
					<td >{HPROPERTY_TYPE}</td>
					<td colspan="2">{PROPERTY_TYPE_DROPDOWN}</td> 
				</tr>
				<tr>
					<td>{ISTHISANMRP}</td>
					<td colspan="2">{ISTHISANMRP_DROPDOWN}<br />{ISTHISANMRP_DESC}</td> 
				</tr>
				<tr>
					<td>{HNAME}</td>
					<td><input class="inputbox" type="text" size="15" name="property_name" value="{PROPERTY_NAME}" /></td>
					<td class="required">*</td>
				</tr>
				<tr>
					<td>{HSTREET}</td>
					<td><input class="inputbox" type="text" size="15" name="property_street" value="{PROPERTY_STREET}" /></td>
					<td class="required">*</td>
				</tr>
				<tr>
					<td>{HTOWN}</td>
					<td><input class="inputbox" type="text" size="15" name="property_town" value="{PROPERTY_TOWN}" /></td>
					<td class="required">*</td>
				</tr>
				<tr>
					<td>{HPOSTCODE}</td>
					<td><input class="inputbox" type="text" size="10" name="property_postcode" value="{PROPERTY_POSTCODE}" /></td>
					<td class="required">*</td>
				</tr>
				<tr>
					<td>{HTELEPHONE}</td>	
					<td><input class="inputbox" type="text" size="15" name="property_tel" value="{PROPERTY_TEL}" /></td>
					<td class="required">*</td>
				</tr>
				<tr>
					<td>{HFAX}</td>
					<td><input class="inputbox" type="text" size="15" name="property_fax" value="{PROPERTY_FAX}" /> </td>
					<td class="required"> </td>
				</tr>
				<tr>
					<td>{HEMAIL}</td>
					<td><input class="inputbox" type="text" size="40" name="property_email" value="{PROPERTY_EMAIL}" /></td>
					<td class="required">*</td>
				</tr>
				<tr>
					<td>{HSTARS}</td>
					<td colspan="2">{STARSDROPDOWN}</td>
				</tr>
				<tr>
					<td colspan="2">{HFEATURES}</td>
				</tr>
				<tr>
					<td colspan="2">{FEATURES}</td>
				</tr>
				<tr>
					<td >
									<patTemplate:tmpl name="globalPfeatures">
										<div style="float:left;margin:2px;border:1px solid #d1d1d1;">
											{FEATURE}<input type="checkbox" name="pid[]" value="{PID}" style="float:left;padding:0;margin:2px 2px 0 0;" {ISCHECKED}>
										</div>
									</patTemplate:tmpl>
					</td>
				</tr>
				<tr>
					<td>{HMAPPINGLINK}</td>
					<td><input class="inputbox" type="text" size="40" name="property_mappinglink" value="{PROPERTY_MAPPINGLINK}" /> </td>
				</tr>
				<tr>
					<td>{HPROPDESCRIPTION}</td>
					<td><textarea class="inputbox" cols="40" rows="3" name="property_description">{PROPERTY_DESCRIPTION}</textarea></td>
					<td class="required">*</td>
				</tr>
				<tr>
					<td>{HCHECKINTIMES}</td>
					<td colspan="2"><textarea class="inputbox" cols="40" rows="3" name="property_checkin_times">{PROPERTY_CHECKIN_TIMES}</textarea></td>
				</tr>
				<tr>
					<td>{HAREAACTIVITIES}</td>
					<td colspan="2"><textarea class="inputbox" cols="40" rows="3" name="property_area_activities">{PROPERTY_AREA_ACTIVITIES}</textarea></td>
				</tr>
				<tr>
					<td>{HDRIVINGDIRECTIONS}</td>
					<td colspan="2"><textarea class="inputbox" cols="40" rows="3" name="property_driving_directions">{PROPERTY_DRIVING_DIRECTIONS}</textarea></td>
				</tr>
				<tr>
					<td>{HAIRPORTS}</td>
					<td colspan="2"><textarea class="inputbox" cols="40" rows="3" name="property_airports">{PROPERTY_AIRPORTS}</textarea></td>
				</tr>
				<tr>
					<td>{HOTHERTRANSPORT}</td>
					<td colspan="2"><textarea class="inputbox" cols="40" rows="3" name="property_othertransport">{PROPERTY_OTHERTRANSPORT}</textarea></td>
				</tr>
				<tr>
					<td>{HPOLICIESDISCLAIMERS}</td>
					<td colspan="2"><textarea class="inputbox" cols="40" rows="3" name="property_policies_disclaimers">{PROPERTY_POLICIES_DISCLAIMERS}</textarea></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{JOMRESTOOLBAR}
{JOMRESTOKEN}
<input type="hidden" name="crate" value="{CRATE}" />
<input type="hidden" name="userid" value="{USERID}" />
<input type="hidden" name="property_region" value="{PROPERTY_REGION}" />
<input type="hidden" name="property_country" value="{PROPERTY_COUNTRY}" />
<input type="hidden" name="task" value="saveregisterprop" />


</form>
</patTemplate:tmpl>
