<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<script type="text/javascript" src="{LIVESITE}/components/com_jomres/javascript/jrportal.js"></script>

<form action="index2.php" method="post" name="adminForm">
{JOMRESTOOLBAR}
<table  class="jradmin_table" border="0">
	<tr>
		<th class="jomres_title">{PAGETITLE}</th>
	</tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr>
		<td class="jradmin_subheader_la"><center>{STAT}</center></td>
	</tr>
	</patTemplate:tmpl>
</table>
</form>
</patTemplate:tmpl>