<patTemplate:tmpl name="completed"  unusedvars="nbsp">
<div class="panelwrapper">
	<table class="innerwrapper">
		<tr class="completion_header">
			<td><center>{SAVEDMESSAGE}</center></td>
		</tr>
		<tr class="completion_content">
			<td><center>{JR_GATEWAY_AFTERWORD}</center></td>
		</tr>
		<tr class="completion_footer">
			<td><center><a href="{LIVESITE}/index.php?option=com_jomres&task=viewproperty&Itemid={ITEMID}&property_uid={PROPERTYUID}">{BACKTOPROPERTY}</a></div></center></td>
		</tr>
	</table>
</div>
</patTemplate:tmpl>