<patTemplate:tmpl name="pageoutput" >

<script type="text/javascript">
//getter
var fx = jQuery( ".selector" ).tabs( "option", "fx" );
//setter
jQuery( ".selector" ).tabs( "option", "fx", { opacity: 'toggle' } );

	jQuery(function(){
		//all hover and click logic for buttons
		jQuery(".fg-button:not(.ui-state-disabled)")
		.hover(
			function(){ 
				jQuery(this).addClass("ui-state-hover"); 
			},
			function(){ 
				jQuery(this).removeClass("ui-state-hover"); 
			}
		)
		.mousedown(function(){
				jQuery(this).parents('.fg-buttonset-single:first').find(".fg-button.ui-state-active").removeClass("ui-state-active");
				if( jQuery(this).is('.ui-state-active.fg-button-toggleable, .fg-buttonset-multi .ui-state-active') ){ jQuery(this).removeClass("ui-state-active"); }
				else { jQuery(this).addClass("ui-state-active"); }
		})
		.mouseup(function(){
			if(! jQuery(this).is('.fg-button-toggleable, .fg-buttonset-single .fg-button,  .fg-buttonset-multi .fg-button') ){
				jQuery(this).removeClass("ui-state-active");
			}
		});

		jQuery("#tabs").tabs({ fx: { opacity: 'toggle' } });
    });
</script>

<div >
	<table border="0" width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td class="viewproperty_rightcol" valign="top">
				<table border="0" width="100%" cellpadding="0" cellspacing="0" class="top_info">
					<tr>
						<td>
							<div class="fg-toolbar ui-widget-header ui-corner-all ui-helper-clearfix">
								<div class="fg-buttonset ui-helper-clearfix">
									<patTemplate:tmpl name="bookinglink" type="simpleCondition" requiredVars="bookinglink"  unusedvars="nbsp">
									<div class="fg-button ui-state-default ui-priority-primary ui-corner-all fg-button-icon-left"><span class="ui-icon ui-icon-circle-plus"></span>
										{BOOKINGLINK}
									</div>
									</patTemplate:tmpl>
									<patTemplate:tmpl name="slideshowlink" type="simpleCondition" requiredVars="slideshowlink"  unusedvars="nbsp">
									<div class="fg-button ui-state-default ui-priority-secondary ui-corner-all fg-button-icon-left"><span class="ui-icon ui-icon-bullet"></span>
										{SLIDESHOWLINK}
									</div>
									</patTemplate:tmpl>
									<patTemplate:tmpl name="tariffslink" type="simpleCondition" requiredVars="tariffslink"  unusedvars="nbsp">
									<div class="fg-button ui-state-default ui-priority-secondary ui-corner-all fg-button-icon-left"><span class="ui-icon ui-icon-bullet"></span>
										{TARIFFSLINK}
									</div>
									</patTemplate:tmpl>
									<patTemplate:tmpl name="roomslistlink" type="simpleCondition" requiredVars="roomslistlink"  unusedvars="nbsp">
									<div class="fg-button ui-state-default ui-priority-secondary ui-corner-all fg-button-icon-left"><span class="ui-icon ui-icon-bullet"></span>
										{ROOMSLISTLINK}
									</div>
									</patTemplate:tmpl>
									<div class="fg-button ui-state-default ui-priority-secondary ui-corner-all fg-button-icon-left"><span class="ui-icon ui-icon-bullet"></span>
										{CONTACTUS}
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="4">
							<div class="ui-widget ui-widget-content ui-corner-all" style="margin-top:10px;padding:5px" >
							<!-- This gallery link has now been reused and renamed to the external link -->
							<patTemplate:tmpl name="gallerylink" type="simpleCondition" requiredVars="gallerylink"  unusedvars="nbsp">
								{GALLERYLINK}
							</patTemplate:tmpl>
							<div style="clear:both;">
								&nbsp;&nbsp;{COM_A_BASICTEMPLATE_SHOWADDRESS} {STREET}, {TOWN}, {REGION}, {POSTCODE}, {COUNTRY} {TELEPHONE} 
							</div>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="viewproperty_leftcol " valign="top">
				<!-- Start jquery tabs -->
				<div id="tabs">
					<ul>
					<patTemplate:tmpl name="tabs_titles">
					<li><a href="#{TAB_ANCHOR}"><span>{TAB_TITLE}</span></a></li>
					</patTemplate:tmpl>
					</ul>
					<patTemplate:tmpl name="tabs_content">
					<div id="{TAB_ANCHOR}">
						<p>
							{TAB_CONTENT}
						</p>
					</div>
					</patTemplate:tmpl>
				</div>
				<!-- End jquery tabs -->
			</td>
		</tr>
		
		
	</table>
	<div style="clear:both;"></div>
</div>
</patTemplate:tmpl>