<patTemplate:tmpl name="pageoutput">
<style type="text/css">
#totalinparty, #selectedRooms,#roompernight,#rooms_listing {
	display: none;
	}

#availRooms {
	display:none;
	}
	
#totalsWrapper { /* required to avoid jumping */
  left: {PANELPOSITION}px;
  position: absolute;
}

#totals {
  position: absolute;
  top: 22px;
}

#totals.fixed {
  z-index: 1;
  position: fixed;
  top: 0;
}

/* Thanks @jen4web & @nternetinspired */
form div {
  margin:0px !important;
  text-align:left;
  }

</style>
<script type="text/javascript">
{BOOKEDDATES}
var isSRP=true;
var x
var mininterval = {MININTERVAL};
var rel_path	= "{RELPATH}";
var livesite	= "{LIVESITE}";
var ajaxurl	= "{AJAXURL}";

var blockui_recheckingroomavailability		= "{BLOCKUI_RECHECKINGROOMAVAILABILITY}";
var blockui_changingextra					= "{BLOCKUI_CHANGINGEXTRA}";
var blockui_changingroomselection 			= "{BLOCKUI_CHANGINGROOMSELECTION}";
var blockui_updatingaddress					= "{BLOCKUI_UPDATINGADDRESS}";
var blockui_addressinputerror				= "{BLOCKUI_ADDRESSINPUTERROR}";

var validation_firstname				= {VALIDATION_FIRSTNAME};
var validation_surname					= {VALIDATION_SURNAME};
var validation_houseno					= {VALIDATION_HOUSENO};
var validation_street					= {VALIDATION_STREET};
var validation_town						= {VALIDATION_TOWN};
var validation_postcode					= {VALIDATION_POSTCODE};
var validation_region					= {VALIDATION_REGION};
var validation_country					= {VALIDATION_COUNTRY};
var validation_landline					= {VALIDATION_LANDLINE};
var validation_cellmobile				= {VALIDATION_CELLMOBILE};
var validation_email					= {VALIDATION_EMAIL};

var show_extras		= {SHOWEXTRAS};
var rooms_list_enabled		= {JOMRES_ROOMSLISTENABLED};

var error_class = "ui-state-error";
var highlight_class = "ui-state-highlight";

function dateStatus(date) {
	var min = new Date({EARLIESTYEAR},{EARLIESTMON},{EARLIESTDAY});
	//var max = new Date(2050,10,05);
	if (date.getTime() < min.getTime())
		return true; // true says "disable"
	else
		return false; // leave other dates enabled
	//if (date.getTime() < min.getTime() || date.getTime() > max.getTime())
}
jomresJquery(document).ready(function() {
	{MODAL}
	jomresJquery.jheartbeat.set({
		url: ajaxurl+"&task=handlereq&no_html=1&field=heartbeat",
		delay: 30000
	});
	var top = jomresJquery('#totals').offset().top - parseFloat(jomresJquery('#totals').css('margin-top').replace(/auto/, 0));
	var slider_enabled = '{SLIDER_ENABLED}';
	if (slider_enabled == 'true') {
		jomresJquery(window).scroll(function (event) {
			// what the y position of the scroll is
			var y = jomresJquery(this).scrollTop();

			// whether that's below the form
			if (y >= top) {
				// if so, ad the fixed class
				jomresJquery('#totals').addClass('fixed');
			} else {
			// otherwise remove it
				jomresJquery('#totals').removeClass('fixed');
				}
			});
		}

	jomresJquery( "#open_booking_form" )
		.button()
		.click(function() {
			jomresJquery( "#booking_form" ).dialog( "open" );
	});
});

<patTemplate:tmpl name="onload">toload[{COUNT}]= "{ONLOAD}"
</patTemplate:tmpl>
</script>

<br />
{OPENBOOKINGOFRM_BUTTON} {BUTTON_BACK_TO_PROPERTY_DETAILS}
<div id="booking_form" {HIDDENSTYLE} title="{PROPERTYNAME}">
<form action="javascript:dobooking_validate()" name="ajaxform" id="ajaxform" method="post">
	<div class="ui-widget ui-widget-content ui-corner-all">
		<div>
			<div>
				<div id="messages">&nbsp;</div>
			</div>
			<div class="block_ui_bookingform" style="float: left; width:{BOOKINGFORMWIDTH}px;">
				<table border="0" width="100%">
					<tr>
						<td valign="top">
							<div id="arrivalcontainer">
								<table class="bform_table ui-tabs ui-widget ui-widget-content ui-corner-all" border="0" width="100%" cellpadding="0" cellspacing="0">
									<tr>
										<th colspan="4"><img border="0" style="vertical-align:top;" src="jomres/images/number1.png" width="32" height="32" /><br/> {AJAXFORM_PARTICULARS}</th>
									</tr>
									<tr>
										<th class="bform_small" colspan="4">{AJAXFORM_PARTICULARS_DESC}</th>
									</tr>
									<tr>
										<td>{HARRIVALDATE}</td>
										<td>{ARRIVALDATE}</td>
										<td>{HDEPARTUREDATE}</td>
										<td>{DEPARTUREDATE}</td>
									</tr>
									<tr>
										<patTemplate:tmpl name="guesttypes">
										<td>{TEXT}</td>
										<td>{DROPDOWN}</td>
										</patTemplate:tmpl>
									</tr>
								</table>
                            </div>
                        </td>
					</tr>
					<patTemplate:tmpl name="coupons" type="simpleCondition" requiredVars="coupon_title">
                    <tr>
						<td valign="top">
								<table class="bform_table ui-tabs ui-widget ui-widget-content ui-corner-all" border="0" width="100%" cellpadding="0" cellspacing="0">
									<tr>
										<th colspan="2">{COUPON_TITLE}</th>
									</tr>
									<tr>
										<td colspan="2">{COUPON_INSTRUCTIONS}</td>
									</tr>
									<tr>
										<td><input class="inputbox" size="15" type="text" name="coupon" id="coupon" value="{COUPON_CODE}" /></td>
										<td><a href ="javascript:void(0);" onclick="getResponse('coupon',jomresJquery('#coupon').val())" class="fg-button ui-state-default ui-corner-all">{COUPON_BUTTON}</a></td>
									</tr>
									<tr>
										<td colspan="2">
											<div id="coupon_response" class="jomres_message">&nbsp;</div>
										</td>
									</tr>
								</table>
						</td>
					</tr>
                    </patTemplate:tmpl>
                    <patTemplate:tmpl name="extrasrow" type="simpleCondition" requiredVars="extras_header">
					<tr>
						<td valign="top">
							<div id="extrascontainer">
								<table class="bform_table ui-tabs ui-widget ui-widget-content ui-corner-all" border="0" width="100%" cellpadding="0" cellspacing="0">
									<tr>
										<th colspan="5">{EXTRAS_HEADER}</th>
									</tr>
									<patTemplate:tmpl name="third_party_extras" type="simpleCondition" requiredVars="third_party_extra">
										<tr>{THIRD_PARTY_EXTRA}</tr>
									</patTemplate:tmpl>
									<patTemplate:tmpl name="extras" type="simpleCondition" requiredVars="ajaxform_extras">
									<tr>
										<td>{INPUTBOX}</td>
										<td>{OVERLIB_DESCRIPTION}</td>
										<td>{NAME}</td>
										<td>&nbsp;</td>
                                        <td style="text-align:right;">{PRICE}</td>
									</tr>
									</patTemplate:tmpl>
									<tr>
										<td colspan="4"><b>{EXTRAS_TOTAL}</b></td>
										<td>
											<b><div id="extrastotal" style="text-align:right;"></div></b>
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
                    </patTemplate:tmpl>
                    <tr>
						<td>
							<div style="text-align:center">
								<patTemplate:tmpl name="customOutput_dobooking_total" type="simpleCondition" requiredVars="total_header">
								<b>{TOTAL_HEADER}&nbsp;{TOTAL_INPUT}</b>
								{TOTAL_AJAXSTRING}
								</patTemplate:tmpl>
								<patTemplate:tmpl name="customOutput_dobooking_deposit" type="simpleCondition" requiredVars="deposit_header">
								<b>{DEPOSIT_HEADER}&nbsp;{DEPOSIT_INPUT}</b>
								{DEPOSIT_AJAXSTRING}
								</patTemplate:tmpl>
							</div>
						</td>
					</tr>
					<tr>
						<td valign="top" id="bookingform_address">
							<table class="bform_table ui-tabs ui-widget ui-widget-content ui-corner-all" border="0" width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<th colspan="6" ><img border="0" style="vertical-align:top;" src="jomres/images/number2.png" width="32" height="32" /><br/>{AJAXFORM_ADDRESS}</th>
								</tr>
								<tr>
									<td colspan="6">{GUESTDROPDOWN}</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td colspan="2">{HFIRSTNAME}</td>
									<td>&nbsp;</td>
									<td colspan="2">{HSURNAME}</td>
								</tr>
								<tr>
									<td>{REQUIRED_FIRSTNAME}</td>
									<td colspan="2"><input class="inputbox" type="text" size="12" name="firstname" id="firstname" value="{FIRSTNAME}" /></td>
									<td>{REQUIRED_SURNAME}</td>
									<td colspan="2"><input  class="inputbox" type="text" size="12" name="surname" id="surname" value="{SURNAME}" /></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td colspan="2">{HHOUSENO}</td>
									<td>&nbsp;</td>
									<td colspan="2">{HSTREET}</td>
								</tr>
								<tr>
									<td>{REQUIRED_HOUSENO}</td>
									<td colspan="2"><input   class="inputbox" size="12" type="text" name="house" id="house" value="{HOUSENO}" /></td>
									<td>{REQUIRED_STREET}</td>
									<td colspan="2"><input  class="inputbox" size="12" type="text" name="street" id="street" value="{STREET}" /></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td colspan="2">{HTOWN}</td>
									<td>&nbsp;</td>
									<td colspan="2">{HREGION}</td>
								</tr>
								<tr>
									<td>{REQUIRED_TOWN}</td>
									<td colspan="2"><input  class="inputbox" size="12" type="text" name="town" id="town" value="{TOWN}" /></td>
									<td>{REQUIRED_REGION}</td>
									<td colspan="2"><input  class="inputbox" size="12" type="text" name="region" id="region" value="{REGION}" /></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td colspan="2">{HPOSTCODE}</td>
									<td>&nbsp;</td>
									<td colspan="2">{HCOUNTRY}</td>
								</tr>
								<tr>
									<td>{REQUIRED_POSTCODE}</td>
									<td colspan="2"><input  class="inputbox" size="12" type="text" name="postcode" id="postcode" value="{POSTCODE}" /></td>
									<td>{REQUIRED_COUNTRY}</td>
									<td colspan="2">{COUNTRY}</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td colspan="2">{HTEL}</td>
									<td>&nbsp;</td>
									<td colspan="2">{HMOBILE}</td>
								</tr>
								<tr>
									<td>{REQUIRED_LANDLINE}</td>
									<td colspan="2"><input  class="inputbox" size="12" type="text" name="tel_landline" id="tel_landline" value="{TEL}" /></td>
									<td>{REQUIRED_CELLMOBILE}</td>
									<td colspan="2"><input  class="inputbox" size="12" type="text" name="tel_mobile" id="tel_mobile" value="{MOBILE}" /></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td colspan="5">{HEMAIL}</td>
								</tr>
								<tr>
									<td>{REQUIRED_EMAIL}</td>
									<td colspan="5"><input  class="inputbox" size="39" name="eemail" id="eemail" value="{EMAIL}"  type="email" /></td>
								</tr>
								{CUSTOMFIELD_JAVASCRIPT}
								<patTemplate:tmpl name="customfields" type="simpleCondition" requiredVars="fieldname">

								<tr>
									<td>{REQUIRED}</td>
									<td colspan="2">{DESCRIPTION}</td>
									<td>&nbsp;</td>
									<td colspan="2"><input class="inputbox" size="{SIZE}" type="text" name="{FIELDNAME}" id="{FIELDNAME}" value="{DEFAULT_VALUE}" /></td>
								</tr>
								</patTemplate:tmpl>
								<tr>
									<td colspan="6">{INSTRUCTIONS}</td>
								</tr>
								<tr>
									<td colspan="6">{REQUIREDTEXT}</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<div id="bookingform_footer">
								<table class="bform_table ui-tabs ui-widget ui-widget-content ui-corner-all" border="0" width="100%" cellpadding="0" cellspacing="0">
									<tr class="bookingform_footer">
										<th><img border="0" style="vertical-align:top;" src="jomres/images/number3.png" width="32" height="32" /></th>
									</tr>
									<tr>
										<td valign="top" style="text-align:center;">
											<div id="submitbutton">
										<input type="submit" name="confirmbooking" class="fg-button ui-state-default ui-corner-all" value="{SUBMIT}"></input>
										 <a href="#" id="testLink"></a>  
											</div>
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div id="totalsWrapper">
				<div id="totals">
					<div class="ui-widget ui-corner-all" style="background-color:#ffffff;background-image:url('{TOTALS_PANEL_BG_PATH}totals_panel_bg.jpg');background-repeat:no-repeat;width:250px;padding:5px;font-size:0.8em;">
						<div id="totals_container">
							<div class="ui-widget-header">{PRICE_SUMMARY}</div>
							<div>
								&nbsp;
							</div>
							<strong>
							<div class="ui-widget ui-widget-content ui-corner-all" style="padding-left:5px;">
								{BILLING_TOTAL}
								<div id="grandtotal"  style="float:right;padding-right:5px;"></div>
							</div>
							</strong>
							<div>
								&nbsp;
							</div>
							<patTemplate:tmpl name="tax_totals" type="simpleCondition" requiredVars="room_total_ex_tax">
							<div  class="ui-widget ui-widget-content ui-corner-all" style="padding-left:5px;">
								{EXTRAS_TAX}
								<div id="extra_tax" style="float:right;padding-right:5px;"></div>
							</div>
							</patTemplate:tmpl>
							<div class="ui-widget ui-widget-content ui-corner-all" style="padding-left:5px;">
								{_JOMRES_BOOKINGORM_ROOMTOTAL_BALANCE}
								<div id="balance" style="float:right;padding-right:5px;"></div>
							</div>
							<div>
								&nbsp;
							</div>
							<patTemplate:tmpl name="coupons_totals" type="simpleCondition" requiredVars="coupon_discount_value">
							<div class="ui-widget ui-widget-content ui-corner-all" style="padding-left:5px;">
								{COUPON_DISCOUNT_VALUE}
								<div id="coupon_discount_value"  style="float:right;padding-right:5px;"></div>
							</div>
							</patTemplate:tmpl>
							<div style="padding-left:5px;">
								{PERSONAL_DISCOUNT}
								<div id="personal_discount"  style="float:right;padding-right:5px;"></div>
							</div>
							<div {DEPOSIT_CLASS} style="padding-left:5px;">
								{DEPOSIT}<div id="deposit" style="float:right;padding-right:5px;"></div>
							</div>
							<div>
								&nbsp;
							</div>
						</div>
						<patTemplate:tmpl name="rooms_list_accommodation_panel_output" type="simpleCondition" requiredVars="billing_roomtotal">
						<div id="accommodation_container">
							<div class="ui-widget-header" style="padding-left:5px;">{BILLING_ROOMTOTAL}</div>
							<div>
								&nbsp;
							</div>
							<div>
								<span id="discount" class="jomres_message">&nbsp;</span>
							</div>
							<div>
								&nbsp;
							</div>
						</div>
						</patTemplate:tmpl>
					</div>
				</div>
			</div>
		</div>
	</div>
<div style="float: left; width:600px;">{AJAXFORM_INSTRUCTIONS}</div>
<input type="hidden" name="property_uid" value="{PROPERTYUID}">
</form>
</div>
<br />
</patTemplate:tmpl>