<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">

<form action="index.php" method="post" name="adminForm">
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all"  style="margin-bottom: 10px;">
<table class="jradmin_table" border="0">
	<tr>
		<th colspan="3"><div class="fg-toolbar ui-widget-header ui-corner-all">{PAGETITLE}</div></th>
	</tr>
	<tr>
		<th>{HPROPERTYNAME}</th><th>{HPROPERTYADDRESS}</th><th>{HPUBLISHLINK}</th>
	</tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr>
		<td>{PROPERTYNAME}</a></td><td>{PROPERTYADDRESS}</td><td>{PUBLISHLINK}</td>
	</tr>
	</patTemplate:tmpl>
</table>
</div>
<input type="hidden" name="option" value="com_jomres" />
<input type="hidden" name="task" value="" />
</form>

</patTemplate:tmpl>
