<patTemplate:tmpl name="pageoutput" >
<script src="http://maps.google.com/maps?file=api&v=2.x&key={APIKEY}" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
var Gmap = null;
var geocoder = null;

function showAddress(address) {
	if (geocoder) {
		geocoder.getLatLng(
			address,
			function(point) {
				if (!point) 
					{
					//a = 1;
					} else {
					Gmap.setCenter(point, 13);
				var marker = new GMarker(point);
				Gmap.addOverlay(marker);
				}
			}
		);
	}
}
//]]>
</script>
<div class="panelwrapper">
	<table class="innerwrapper">
		<tr>
			<td class="header" colspan="2">
				<center><div id="map"></div></center>
			</td>
		</tr>
	</table>
</div>
<script>

jQuery(document).ready(function() {
	if (GBrowserIsCompatible()) {
		var WIDTH = 600;
        var HEIGHT = 400;
		Gmap = new GMap2(document.getElementById("map"),{size:new GSize(WIDTH,HEIGHT)});
		Gmap.addControl(new GSmallMapControl());
		Gmap.addControl(new GMapTypeControl());
		geocoder = new GClientGeocoder();
		showAddress("{ADDRESS}");
		};
	
	});
</script>
</patTemplate:tmpl>