<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<script src="http://maps.google.com/maps?file=api&v=2.x&key={APIKEY}&hl=en" type="text/javascript"></script>
<div id="map"></div>
<script>
jomresJquery(document).ready(function() {
	if (GBrowserIsCompatible()) {
		var WIDTH = 600;
		var HEIGHT = 400;
		{VAR} Gmap = new GMap2(document.getElementById("map"),{size:new GSize(WIDTH,HEIGHT)});
		Gmap.setUIToDefault();
		Gmap.setMapType(G_HYBRID_MAP);
		Gmap.setCenter(new GLatLng({LAT}, {LONG}), 13);
		var point = new GLatLng({LAT}, {LONG});
		var marker = new GMarker(point);
		Gmap.addOverlay(marker);
		};
	});
</script>
</patTemplate:tmpl>