<patTemplate:tmpl name="pageoutput" >
<script src="http://maps.google.com/maps?file=api&v=2.x&key={APIKEY}&hl=en" type="text/javascript"></script>
<table class="panelwrapper">
	<tr>
		<td>
			<table class="innerwrapper">
				<tr>
					<td class="header" colspan="2">
						<center><div id="map"></div></center>
					</td>
			</table>
		</td>
	</tr>
</table>
<script>
jQuery(document).ready(function() {
	if (GBrowserIsCompatible()) {
		var WIDTH = 600;
        var HEIGHT = 400;
		map = new GMap2(document.getElementById("map"),{size:new GSize(WIDTH,HEIGHT)});
		map.addControl(new GSmallMapControl());
		map.addControl(new GMapTypeControl());
		map.setCenter(new GLatLng({LAT}, {LONG}), 13);
		var point = new GLatLng({LAT}, {LONG});
		var marker = new GMarker(point);
		map.addOverlay(marker);
		};
	
	});
</script>
</patTemplate:tmpl>