<patTemplate:tmpl name="pageoutput" >
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" >
<table width="100%">
    <tr class="ui-widget-header">
		<td colspan="7">{TITLE}</td>
	</tr>
	<tr class="ui-widget-header">
		<td>{HPNAME}</td><td>{HARRIVAL}</td><td>{HDEPARTURE}</td><td>{HEXTRAS}</td><td>{HTOTAL}</td><td>&nbsp;</td><td>&nbsp;</td>
	</tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr class="{STYLE}">
		<td><b><a href="{PROPERTYDETAILSLINK}">{PROPERTYNAME}</a></b></td><td width="15%">{ARRIVAL}</td><td width="15%">{DEPARTURE}</td><td>{EXTRASVALUE}</td><td>{CONTRACT_TOTAL}</td><td>{IMAGE}</td><td><a href="{VIEWLINK}">{VIEWLINK_TEXT}</a></td>
	</tr>
	</patTemplate:tmpl>
</table>
</div>
</patTemplate:tmpl>