<patTemplate:tmpl name="pageoutput" unusedvars="strip">
{JOMRES_SITEPAGE_URL_AJAX}
<div>
<patTemplate:tmpl name="layout_rows" type="simpleCondition" requiredVars="title">
<a href="{LINK}" class="ui-state-default ui-corner-all plist-button">{TITLE}</a>&nbsp;
</patTemplate:tmpl>
</div>
<patTemplate:tmpl name="property_details" unusedvars="strip">
<div width="200px" class="ui-widget-content ui-corner-all jomres_property_list_propertywrapper" id="{UID}" style="float:left">
	<div class="property-image"><a href="{MOREINFORMATIONLINK}">{IMAGE_POPUP}</a></div>
	<div class="property-title"><a href="{MOREINFORMATIONLINK}">{PROPERTYNAME}</a>&nbsp;{STARS}</div>
</div>
</patTemplate:tmpl>
</patTemplate:tmpl>