<patTemplate:tmpl name="pageoutput" unusedvars="strip">
	<li><a href="#" style="font-size:0.8em">{CATEGORY}&nbsp;<img  src="{LIVE_SITE}/jomres/images/down.png" class="menu" /></a>
		<ul id="profilemenu">
			<patTemplate:tmpl name="rows" unusedvars="strip">
			<li style="width:300px;" {DISABLED_CLASS}><a href="{LINK}" {TARGET} style="text-align:left;"><img src="{IMAGE_PATH}{IMAGE}" border="0" width="15px" height="15px" style="vertical-align:middle;margin-right:5px;"  class="menu"/>{MENU_NAME}</a></li>
			</patTemplate:tmpl>
		</ul>
	</li>
</patTemplate:tmpl>