<patTemplate:tmpl name="pageoutput">
<script>
	jomresJquery(function() {
		jomresJquery( "#accordion" ).accordion({
			autoHeight: false,
			navigation: true,
			collapsible: true
		});
	});
</script>

<style>
#jomres_menu {
	font-size:.9em;
	}
	
#jomres_menu_trigger {
	position:fixed;
	top:0px;
	left:0px;
	height:20px;
	}
#jomres_menu_wrapper {
	position:fixed;
	top:26px;
	left:0px;
	width:200px;
	}
</style>
<div id="jomres_menu">
	<div id="jomres_menu_wrapper" class="ui-helper-clearfix ui-helper-hidden">
		<div id="accordion" style="font-size:.9em;height:400px">
			<patTemplate:tmpl name="button_output">
				{DIV}
			</patTemplate:tmpl>
		</div>
	</div>
	<div id="jomres_menu_trigger">
		<a href="javascript:void(0);" style="width:177px;font-size:.9em;" class="fg-button ui-state-default ui-corner-all">{_JOMRES_CONTROLPANEL}</a>
	</div>
</div>
</patTemplate:tmpl>