<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<div class="full-width ui-helper-clearfix">
    <div class="property-title"><h2>{PROPERTY_NAME}&nbsp;{STARS}</h2></div>
    <div>{STREET}, {TOWN}, {REGION}, {POSTCODE}, {COUNTRY}<br />{HTELEPHONE}{TELEPHONE}, {HFAX}{FAX}</div>
    <div>{GALLERYLINK}</div>
    <!--<patTemplate:tmpl name="roomtypes" type="simpleCondition" requiredVars="room_type">{ROOM_TYPE}</patTemplate:tmpl>
    <patTemplate:tmpl name="featurelist" type="simpleCondition" requiredVars="feature">{FEATURE}</patTemplate:tmpl>-->
</div>
</patTemplate:tmpl>