<patTemplate:tmpl name="room_headers">
	<table>
		<tr class="roomslist_header">
			<td>{HEADER_IMAGEHEADER}</td>
			<td>{HEADER_ROOMNUMBER}</td>
			<td>{HEADER_ROOMTYPE}</td>
			<td>{HEADER_SMOKING}</td>
			<td>{HEADER_ROOMNAME}</td>
			<td>{HEADER_AVLCALLINK}</td>
			<td>{HEADER_ROOMFLOOR}</td>
			<td>{HEADER_DISABLEDACCESS}</td>
			<td>{HEADER_MAXPEOPLE}</td>
		</tr>
		<patTemplate:tmpl name="room_details">
		<tr>
			<td>{IMAGE}</td>
			<td>{ROOMNUMBER}</td>
			<td>{ROOMTYPE}</td>
			<td>{SMOKING}</td>
			<td>{ROOMNAME}</td>
			<td>{AVLCALLINK}</td>
			<td>{ROOMFLOOR}</td>
			<td>{DISABLEDACCESS}</td>
			<td>{MAXPEOPLE}</td>
		</tr>
		</patTemplate:tmpl>
	</table>
</patTemplate:tmpl>