<patTemplate:tmpl name="room_headers">
	<table class="ui-tabs ui-widget ui-widget-content ui-corner-all" style="margin-bottom: 20px;" width="100%">
		<tr>
			<td class = "ui-widget-header ui-corner-left">{HEADER_IMAGEHEADER}</td>
			<td class = "ui-widget-header">{HEADER_ROOMNUMBER}</td>
			<td class = "ui-widget-header">{HEADER_ROOMTYPE}</td>
			<td class = "ui-widget-header">{HEADER_SMOKING}</td>
			<td class = "ui-widget-header">{HEADER_ROOMNAME}</td>
			<td class = "ui-widget-header">{HEADER_AVLCALLINK}</td>
			<td class = "ui-widget-header">{HEADER_ROOMFLOOR}</td>
			<td class = "ui-widget-header">{HEADER_DISABLEDACCESS}</td>
			<td class = "ui-widget-header ui-corner-right">{HEADER_MAXPEOPLE}</td>
		</tr>
		<patTemplate:tmpl name="room_details">
		<tr>
			<td>{IMAGE}</td>
			<td>{ROOMNUMBER}</td>
			<td>{ROOMTYPE}</td>
			<td>{SMOKING}</td>
			<td>{ROOMNAME}</td>
			<td>{AVLCALLINK}</td>
			<td>{ROOMFLOOR}</td>
			<td>{DISABLEDACCESS}</td>
			<td>{MAXPEOPLE}</td>
		</tr>
		</patTemplate:tmpl>
	</table>
</patTemplate:tmpl>