<patTemplate:tmpl name="room_headers" unusedvars="strip">
<table width="100%" border="0" class="ui-widget-content ui-corner-all">
	<tr>
		<td class="ui-widget-header">{HEADER_IMAGEHEADER}</td>
		<td class="ui-widget-header">{HEADER_ROOMNUMBER}</td>
		<td class="ui-widget-header">{HEADER_ROOMTYPE}</td>
		<td class="ui-widget-header">{HEADER_MAXPEOPLE}</td>
		<td class="ui-widget-header">{HEADER_ROOMNAME}</td>
		<td class="ui-widget-header">{HEADER_ROOMFLOOR}</td>
		<td class="ui-widget-header">{HEADER_SMOKING}</td>
		<td class="ui-widget-header">{HEADER_DISABLEDACCESS}</td>
		<td class="ui-widget-header">{HEADER_AVLCALLINK}</td>
	</tr>
	<patTemplate:tmpl name="room_details">
	<tr class="{CLASS}">
		<td>{IMAGE}</td>
		<td>{ROOMNUMBER}</td>
		<td>{ROOMTYPE}</td>
		<td>{MAXPEOPLE}</td>
		<td>{ROOMNAME}</td>
		<td>{ROOMFLOOR}</td>
		<td>{SMOKING}</td>
		<td>{DISABLEDACCESS}</td>
		<td><a href="{AVLCALLINK}" class="fg-button ui-state-default ui-corner-all">{AVLCALTITLE}</a></td>
	</tr>
	</patTemplate:tmpl>
</table>
</patTemplate:tmpl>