<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
								<div class="contentheading">
									{HAREAACTIVITIES}
								</div>
								<p>
									{AREAACTIVITIES}
								</p>
								<div class="contentheading">
									{HPOLICIESDISCLAIMERS}
								</div>
								<p>
									{POLICIESDISCLAIMERS}
								</p>
								<div class="contentheading">
									{HCHECKINTIMES}
								</div>
								<p>
									{CHECKINTIMES}
								</p>
								<div class="contentheading">
									{HDRIVINGDIRECTIONS}
								</div>
								<p>
									{DRIVINGDIRECTIONS}
								</p>
								<div class="contentheading">
									{HAIRPORTS}
								</div>
								<p>
									{AIRPORTS}
								</p>
								<div class="contentheading">
									{HOTHERTRANSPORT}
								</div>
								<p>
									{OTHERTRANSPORT}
								</p>
</patTemplate:tmpl>
