<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
	<div class="fg-toolbar ui-widget-header ui-corner-all">
	{HDESCRIPTION}
	</div>
	<p>{DESCRIPTION}</p>
	<patTemplate:tmpl name="discount_output" type="simpleCondition" requiredVars="discount_output">
	<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
	<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
	{DISCOUNT_OUTPUT}</p>
	</div>
	</patTemplate:tmpl>
</patTemplate:tmpl>
