<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<script language="JavaScript" type="text/javascript">
jomresJquery(document).ready(function() {
	var oTable = jomresJquery('#booking_data_archive').dataTable({
		"bJQueryUI": true,
		"bStateSave": true,
		"sPaginationType": "full_numbers"
	});
} );
</script>
<h2>{PAGETITLE}</h2>
<!--<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}-->
<p>{INFO}</p>
<table id="booking_data_archive" border="0" width="100%">
	<thead>
		<tr>
			<td>{_JOMRES_SORTORDER_PROPERTYNAME}</td>
			<td>{_JRPORTAL_LISTBOOKINGS_HEADER_DATEARCHIVED}</td>
		</tr>
	</thead>
	<tbody>
		<patTemplate:tmpl name="rows" unusedvars="nbsp">
		<tr>
			<td>{PROPERTY_NAME}</td>
			<td>{DATE_TOOTIP}</td>
		</tr>
		</patTemplate:tmpl>
	</tbody>
</table>
<!--</form>-->
</patTemplate:tmpl>