<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">

<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<div class="ui-widget-header ui-corner-all">{PAGETITLE}</div><br/>
<p>{INFO}</p>
<table class="ui-widget-content ui-corner-all" border="0" width="100%">
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr>
		<td>{PROPERTY_NAME}</td><td>{DATE_TOOTIP}</td>
	</tr>
	</patTemplate:tmpl>
</table>
<input type="hidden" name="option" value="com_jomres" />
<input type="hidden" name="task" value="editcrate" />
<input type="hidden" name="boxchecked" value="0">
</form>
</patTemplate:tmpl>
