<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">

<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<table class="ui-widget-content ui-corner-all" width="75%">
	<tr>
		<th class="ui-widget-header ui-corner-all" colspan="2">{PAGETITLE}</th>
	</tr>
	<tr>
		<th class="ui-widget-header ui-corner-all" colspan="2">{INFO}</th>
	</tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr>
		<td>{PROPERTY_NAME}</td><td>{DATE_TOOTIP}</td>
	</tr>
	</patTemplate:tmpl>
</table>
<input type="hidden" name="option" value="com_jomres" />
<input type="hidden" name="task" value="editcrate" />
<input type="hidden" name="boxchecked" value="0">
</form>
</patTemplate:tmpl>
