<patTemplate:tmpl name="pageoutput">

{VERSION_CHECK}

<table border="1" width="100%" class="adminform">
	<tr>
		<td bgcolor="#FFFFFF" colspan="2">
			<br />
			<div style="width=100%" align="center">
				<a href="http://www.jomres.net" target="_blank"><img src="{LIVESITE}/jomres/images/jrlogo.png" align="middle" border="0" alt="Jomres logo"/></a>
				<br /><br />
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			{PLUGIN_CHECK}
		</td>
	</tr>
	<tr>
		<th class="cpanel" colspan="2">Writability check</th>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" colspan="2">
			{WRITABILITY_TESTS}
		</td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" colspan="2">
			If any of the above folders is not writable you may experience problems with running Jomres. It is recommended that you resolve any problems before attempting to use Jomres further. Whilst it is preferable that Jomres can write to the /jomres folders it is not vital (but it's better if it can because you can then use the updates feature) but folders such as the sessions and temp folders <i> have </i> to be writable for the system to work.
		</td>
	</tr>
	<tr>
		<td style="text-align:center" bgcolor="#FFFFFF"><strong><em>Copyright:</em></strong></td>
		<td bgcolor="#FFFFFF">&copy; 2005, 2006, 2007, 2008, 2009, 2010, 2011 Vince Wooll</td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFF" style="text-align:center"><img src="<?php echo get_showtime('live_site'); ?>/jomres/images/User_Ninja.png" width="48" height="48" align="middle" border="0" /></td>
		<td bgcolor="#FFFFFF">Thanks to Piranha for your continuing help in providing support to Jomres users.</td>
	</tr>
</table>
</patTemplate:tmpl>
