<patTemplate:tmpl name="pageoutput" unusedvars="strip">
<h2>{PAGETITLE}</h2>
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<table width="100%" class="ui-widget-content ui-corner-all">
    <tr>
        <td width="30%">{HFEATUREABBV}</td>
        <td><input class="inputbox" type="text" name="feature_abbv" value="{FEATURE_ABBV}" /></td>
    </tr>
    <tr>
        <td>{HFEATUREDESCRIPTION}</td>
        <td><input class="inputbox" type="text" name="feature_description" value="{FEATURE_DESCRIPTION}" /></td>
    </tr>
    <tr>
        <td>{_JOMRES_FEATURE_PROPERTY_TYPE_ASSIGNMENT}</td>
        <td>{PROPERTY_TYPE_DROPDOWN}</td>
    </tr>
    <tr>
        <td>{PROPERTYFEATUREINFO}</td>
        <td>
        	<patTemplate:tmpl name="rows">
                <span style="white-space:nowrap" ><input type="radio" name="image" value="{IMAGEPATH}" {ISCHECKED}><img src="{IMAGE}" /></span>
            </patTemplate:tmpl>
        </td>
    </tr>
</table>
<input type="hidden" name="propertyFeatureUid" value="{PROPERTYFEATUREUID}">
<input type="hidden" name="property_uid" value="{PROPERTYUID}" />
<input type="hidden" name="Itemid" value="{ITEMID}" />
<input type="hidden" name="option" value="com_jomres" />	
<input type="hidden" name="task" value="savePropertyFeature" />
</form>
</patTemplate:tmpl>