<patTemplate:tmpl name="pageoutput">
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<div class="ui-widget-header ui-corner-all">{PAGETITLE}</div><br/>
<table class="ui-widget-content ui-corner-all" border="0" width="100%">
	<tr>
		<th class="ui-widget-header ui-corner-all">{HABBV}</th>
		<th class="ui-widget-header ui-corner-all">{HDESC}</th>
		<th class="ui-widget-header ui-corner-all">{HJOMRES_A_ICON}</th>
		<th class="ui-widget-header ui-corner-all">{HSRP_ONLY}</th>
	</tr>
	<tr>
		<td><input type="text" name="room_class_abbv" value="{CLASSABBV}" /></td>
		<td><input type="text" name="room_class_full_desc" value="{CLASSDESC}" /></td>
		<td>
			<patTemplate:tmpl name="rows">
			<input type="radio" name="image" value="{IMAGEPATH}" {ISCHECKED}><img src="{IMAGE}" />
			</patTemplate:tmpl>
		</td>
		<td>{SRP_ONLY}</td>
	</tr>
	<tr>
		<td  colspan = "4">
			<patTemplate:tmpl name="all_ptype_rows">
			<input type="checkbox" name="ptype_ids[]" value="{PROPERTYTYPE_ID}" {CHECKED} />{PROPERTYTYPE_DESC} 
			</patTemplate:tmpl>
		</td>
	</tr>
</table>

<input type="hidden" name="roomClassUid" value="{ROOMCLASSUID}">
<input type="hidden" name="property_uid" value="{PROPERTYUID}" />
<input type="hidden" name="Itemid" value="{ITEMID}" />
<input type="hidden" name="option" value="com_jomres" />
<input type="hidden" name="task" value="{TASK}" />
</form>
<hr>
</patTemplate:tmpl>