<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<h2>Edit Custom field (title to be generated)</h2>
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<table class="ui-widget-content ui-corner-all" border="0" width="100%">
	<tr>
		<td width="30%">{HFIELD}</td>
        <td><input class="inputbox" type="text" name="fieldname" value="{FIELDNAME}" /></td>
    </tr>
    <tr>
		<td>{HDEFAULT_VALUE}</td>
        <td><input class="inputbox" type="text" name="default_value" value="{DEFAULT_VALUE}" /></td>
    </tr>
    <tr>
		<td>{HDESCRIPTION}</td>
        <td><input class="inputbox" type="text" name="description" value="{DESCRIPTION}" /></td>
    </tr>
    <tr>
		<td>{HREQUIRED}</td>
        <td>{REQUIRED}</td>
	</tr>
</table>
<input type="hidden" name="uid" value="{UID}">
<input type="hidden" name="task" value="{TASK}" />
</form>
</patTemplate:tmpl>