<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<script language="JavaScript" type="text/javascript">
function selectAll() {
    jomresJquery("input[type='checkbox']:not([disabled='disabled'])").attr('checked', true);
}

</script>
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<p>{INSTRUCTIONS}</p>
<table class="ui-widget-content ui-corner-all" width="75%">
	<tr>
		<th colspan="4" class="ui-widget-header ui-corner-all">{PAGETITLE}</th>
	</tr>
	<tr>
		<th class="ui-widget-header ui-corner-all">{HACCESSLEVEL}</th>
		<td class="ui-widget-header ui-corner-all">{ACCESSLEVEL}</td>
		<th class="ui-widget-header ui-corner-all">{HSUPERPROP}</th>
		<td class="ui-widget-header ui-corner-all">{SUPERPROP}</td>
	</tr>
	<tr>
		<td>APIKEY:</td>
		<td><input type="text" size="80" class="inputbox" name="apikey" value="{APIKEY}" READONLY onclick="select_all(this)"/></td>
		<td colspan="2">{NEWAPIKEY_LINK}</td>
	</tr>
	<tr align="left"><th><input type="CheckBox" id="SelectAllCheckBox" onclick="selectAll()"></th><th colspan="3">&nbsp;</th></tr>
<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr>
		<td>{INPUT}</td>
		<td>{PROPERTYNAME}</td>
		<td colspan="2">{MANAGERS}</td>
	</tr>
</patTemplate:tmpl>	
</table>

	
{JOMRESTOKEN}
<input type="hidden" name="no_html" value="1" />
<input type="hidden" name="userid" value="{ID}" />
<input type="hidden" name="option" value="com_jomres" />
<input type="hidden" name="task" value="saveProfile" />
</form>
</patTemplate:tmpl>
