<patTemplate:tmpl name="pageoutput">
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<table  class="jradmin_table" border="0">
	<tr>
		<th class="jomres_title" colspan="4">{PAGETITLE}</th>
	</tr>
	<tr>
		<th class="jomres_title">{HFIELD}</th>
		<th class="jomres_title">{HDEFAULT_VALUE}</th>
		<th class="jomres_title">{HDESCRIPTION}</th>
		<th class="jomres_title">{HREQUIRED}</th>
	</tr>
	<tr>
		<td class="jradmin_subheader_la"><input class="inputbox" type="text" name="fieldname" value="{FIELDNAME}"></td>
		<td class="jradmin_subheader_la"><input class="inputbox" type="text" name="default_value" value="{DEFAULT_VALUE}"></td>
		<td class="jradmin_subheader_la"><input class="inputbox" type="text" name="description" value="{DESCRIPTION}"></td>
		<td class="jradmin_subheader_la">{REQUIRED}</td>
	</tr>
</table>
{JOMRESTOKEN}
<input type="hidden" name="uid" value="{UID}">
<input type="hidden" name="task" value="{TASK}" />
</form>
<hr>
</patTemplate:tmpl>