<patTemplate:tmpl name="pageoutput">
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<table class="ui-widget-content ui-corner-all" width="75%">
	<tr>
		<th colspan="4" class="ui-widget-header ui-corner-all">{PAGETITLE}</th>
	</tr>
	<tr>
		<th class="ui-widget-header ui-corner-all">{HFEATUREABBV}</th>
		<th class="ui-widget-header ui-corner-all">{HFEATUREDESCRIPTION}</th>
		<th class="ui-widget-header ui-corner-all">{HPROPERTY_TYPE}</th>
		<th class="ui-widget-header ui-corner-all">{PROPERTYFEATUREINFO}</th>
	</tr>
	<tr>
		<td><input class="inputbox" type="text" name="feature_abbv" value="{FEATURE_ABBV}" /></td>
		<td><input class="inputbox" type="text" name="feature_description" value="{FEATURE_DESCRIPTION}" /></td>
		<td>{PROPERTY_TYPE_DROPDOWN}</td>
		<td>
			<patTemplate:tmpl name="rows">
			<span style="white-space:nowrap" ><input type="radio" name="image" value="{IMAGEPATH}" {ISCHECKED}><img src="{IMAGE}" /></span>
			</patTemplate:tmpl>
		</td>
	</tr>
</table>

<input type="hidden" name="propertyFeatureUid" value="{PROPERTYFEATUREUID}">
<input type="hidden" name="property_uid" value="{PROPERTYUID}" />
<input type="hidden" name="Itemid" value="{ITEMID}" />
<input type="hidden" name="option" value="com_jomres" />	
<input type="hidden" name="task" value="savePropertyFeature" />
</form>
</patTemplate:tmpl>