<patTemplate:tmpl name="pageoutput">
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<div class="ui-widget-header ui-corner-all">{PAGETITLE}</div><br/>
<table class="ui-widget-content ui-corner-all" border="0" width="100%">
	<tr>
		<th class="ui-widget-header ui-corner-all">{HFIELD}</th>
		<th class="ui-widget-header ui-corner-all">{HDEFAULT_VALUE}</th>
		<th class="ui-widget-header ui-corner-all">{HDESCRIPTION}</th>
		<th class="ui-widget-header ui-corner-all">{HREQUIRED}</th>
	</tr>
	<tr>
		<td><input class="inputbox" type="text" name="fieldname" value="{FIELDNAME}" /></td>
		<td><input class="inputbox" type="text" name="default_value" value="{DEFAULT_VALUE}" /></td>
		<td><input class="inputbox" type="text" name="description" value="{DESCRIPTION}" /></td>
		<td>{REQUIRED}</td>
	</tr>
</table>

<input type="hidden" name="uid" value="{UID}">
<input type="hidden" name="task" value="{TASK}" />
</form>
<hr>
</patTemplate:tmpl>