<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<div class="ui-widget-header ui-corner-all">{PAGETITLE}</div><br/>
<table class="ui-widget-content ui-corner-all" border="0" width="100%">
	<tr>
		<th class="ui-widget-header ui-corner-all"><input type="checkbox" name="toggle" value="" onclick="jomres_checkAll({TOTALINLISTPLUSONE});" /></th>
		<th class="ui-widget-header ui-corner-all">&nbsp;</th>
		<th class="ui-widget-header ui-corner-all">{HPFEATURETITLE}</th>
		<th class="ui-widget-header ui-corner-all">{HPFEATUREDESCRIPTION}</th>
		<th class="ui-widget-header ui-corner-all">{HPROPERTY_TYPE}</th>
		<th class="ui-widget-header ui-corner-all">{HJOMRES_A_ICON}</th>
	</tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr>
		<td class="ui-widget-content" width="20">{CHECKBOX}</td>
		<td class="ui-widget-content">{LINKTEXT}</td> 
		<td class="ui-widget-content">{PFEATURETITLE}</td>
		<td class="ui-widget-content">{PFEATUREDESCRIPTION}</td>
		<td class="ui-widget-content">{PROPERTY_TYPE}</td>
		<td class="ui-widget-content"><img src="{IMAGE}" /></td>
	</tr>
	</patTemplate:tmpl>
</table>

<input type="hidden" name="boxchecked" value="0">
<input type="hidden" name="option" value="com_jomres" />
<input type="hidden" name="task" value="editPfeature" />
<input type="hidden" name="Itemid" value="{ITEMID}" />
</form>
</patTemplate:tmpl>
