<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">

{JOMRESTOOLBAR}
<p>{TITLE}</p>
<p>{INSTRUCTIONS}</p>
<p>{EDITWARNINGNOTE}</p>
<table class="ui-widget-header ui-corner-all" border="0">
	<tr>
		<th class="ui-widget-header ui-corner-all">{HTEMPLATENAME}</th>
		<th class="ui-widget-header ui-corner-all">{HCUSTOMISED}</th>
		<th class="ui-widget-header ui-corner-all">{HLAST_EDITED_DISK}</th>
		<th class="ui-widget-header ui-corner-all">{HLAST_EDITED_DB}</th>
		<th class="ui-widget-header ui-corner-all">{HLAST_WARNINGICON}</th>
		
		
	</tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr>
		<td>{EDITLINK}</td>
		<td>{EDITED}</td>
		<td>{LAST_EDITED_DISK}</td>
		<td>{LAST_EDITED_DB}</td>
		<td>{WARNINGICON}</td>
	</tr>
	</patTemplate:tmpl>
</table>
</patTemplate:tmpl>