<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<script type="text/javascript">
<!--
jomresJquery(document).ready(function() {
	var oTable = jomresJquery('#list_subscription_packages').dataTable({
		"bJQueryUI": true,
		"bStateSave": true,
		"sPaginationType": "full_numbers"
	});
} );
//-->
</script>
<h2>{PAGETITLE}</h2>
{JOMRESTOOLBAR}
<table id="list_subscription_packages" border="0" width="100%">
	<thead>
		<tr>
			<th>&nbsp;</th>
            <th>ID</th>
			<th>{HNAME}</th>
			<th>{HDESCRIPTION}</th>
			<th>{HFREQUENCY}</th>
			<th>{HTRIALPERIOD}</th>
			<th>{HTRIALAMOUNT}</th>
			<th>{HFULLAMOUNT}</th>
			<!-- not supported yet so not offered <th>{HROOMSLIMIT}</th> -->
			<th>{HPROPERTYLIMIT}</th>
		</tr>
	</thead>
	<tbody>
		<patTemplate:tmpl name="rows" unusedvars="nbsp">
		<tr>
			<td>{EDITLINK}</td>
            <td>{ID}</td>
			<td>{NAME}</td>
			<td>{DESCRIPTION}</td>
			<td>{FREQUENCY}</td>
			<td>{TRIALPERIOD}</td>
			<td>{TRIALAMOUNT}</td>
			<td>{FULLAMOUNT}</td>
			<!-- not supported yet so not offered <td>{ROOMSLIMIT}</td> -->
			<td>{PROPERTYLIMIT}</td>
		</tr>
		</patTemplate:tmpl>
	</tbody>
</table>
</patTemplate:tmpl>