<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<table class="ui-widget-content ui-corner-all" width="75%">
	<tr>
		<td class="ui-widget-header ui-corner-all" colspan="12">{PAGETITLE}</td>
	</tr>
	<tr>
		<td class="ui-widget-header ui-corner-all" colspan="3">{TASK_FILTER_ANY}</td><td class="ui-widget-header ui-corner-all" colspan="3">{TASK_FILTER_UNPAID}</td><td class="ui-widget-header ui-corner-all" colspan="2">{TASK_FILTER_PAID}</td><td class="ui-widget-header ui-corner-all" colspan="2">{TASK_FILTER_CANCELLED}</td><td class="ui-widget-header ui-corner-all" colspan="2">{TASK_FILTER_PENDING}</td>
	</tr>
	<tr>
		<td class="">&nbsp;</td>
		<td class="ui-widget-header ui-corner-all">ID</td>
		<td class="ui-widget-header ui-corner-all">{HUSER}</td>
		<td class="ui-widget-header ui-corner-all">{HSTATUS}</td>
		<td class="ui-widget-header ui-corner-all">&nbsp;</td>
		<td class="ui-widget-header ui-corner-all">{HRAISED}</td>
		<td class="ui-widget-header ui-corner-all">{HDUE}</td>
		<td class="ui-widget-header ui-corner-all">{HPAID}</td>
		<td class="ui-widget-header ui-corner-all">{HSUBSCRIPTION}</td>
		<td class="ui-widget-header ui-corner-all">{HINITTOTAL}</td>
		<td class="ui-widget-header ui-corner-all">{HRECURTOTAL}</td>
		<td class="ui-widget-header ui-corner-all">{HFREQ}</td>
	</tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr class=stripeMe">
		<td>{EDITLINK}</td>
		<td>{ID}</td>
		<td>{USER}</td>
		<td>{STATUS}</td>
		<td>{ITEMS}</td>
		<td>{RAISED}</td>
		<td>{DUE}</td>
		<td>{PAID}</td>
		<td>{SUBSCRIPTION}</td>
		<td>{INITTOTAL}  <span class="small">({CURRENCYCODE})</td>
		<td>{RECURTOTAL}  <span class="small">({CURRENCYCODE})</td>
		<td>{FREQ}</td>
	</tr>
	</patTemplate:tmpl>
</table>
<input type="hidden" name="task" value="edit_invoice" />
</form>
</patTemplate:tmpl>
