<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<p>{TITLE}</p>
<p>{INSTRUCTIONS}</p>
<table class="ui-widget-content ui-corner-all" border="0" width="75%">
	<tr>
		<th class="ui-widget-header ui-corner-all">{HFIELDNAME}</th>
		<th class="ui-widget-header ui-corner-all">{HDEFAULTVALUE}</th>
		<th class="ui-widget-header ui-corner-all">{HDESCRIPTION}</th>
		<th class="ui-widget-header ui-corner-all">{HREQUIRED}</th>
	</tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr>
		<td>{EDITLINK}</td>
		<td>{DEFAULT_VALUE}</td>
		<td>{DESCRIPTION}</td>
		<td>{REQUIRED}</td>
	</tr>
	</patTemplate:tmpl>
</table>
<input type="hidden" name="task" value="edit_custom_field" />
</form>
</patTemplate:tmpl>