<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
{JOMRESTOOLBAR}
<table class="ui-widget-content ui-corner-all" width="75%">
	<tr>
		<th class="ui-widget-header ui-corner-all" colspan="4">{PAGETITLE}</th>
	</tr>
	<tr>
		<td class="ui-widget-header ui-corner-all">ID</td>
		<td class="ui-widget-header ui-corner-all">{HCODE}</td>
		<td class="ui-widget-header ui-corner-all">{HDESCRIPTION}</td>
		<td class="ui-widget-header ui-corner-all">{HRATE}</td>
	</tr>
	<patTemplate:tmpl name="rows" unusedvars="nbsp">
	<tr>
		<td class="ui-widget-content">{EDITLINK}</td>
		<td class="ui-widget-content">{CODE}</td>
		<td class="ui-widget-content">{DESCRIPTION}</td>
		<td class="ui-widget-content">{RATE}</td>
	</tr>
	</patTemplate:tmpl>
</table>
<input type="hidden" name="task" value="editTaxrate" />
</form>
</patTemplate:tmpl>
