<patTemplate:tmpl name="list_ptypes" unusedvars="nbsp">
<form action="{JOMRES_SITEPAGE_URL_ADMIN}" method="post" name="adminForm">
<div class="ui-widget-header ui-corner-all">{PAGETITLE}</div><br/>

<table class="ui-widget-content ui-corner-all" border="0" width="100%">
	<patTemplate:tmpl name="pageheaders" unusedvars="nbsp">
	<tr>
		<th>{HPTYPE}</th>
		<th>{HPTYPE_DESC}</th>
		<th>{HPUBLISHED}</th>
	</tr>
	</patTemplate:tmpl>
	<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">
	<tr>
		<td><a href="index.php?option=com_jomres&task=editpropertytype&id={ID}">{PTYPE}</a></td>
		<td>{PTYPE_DESC}</td>
		<td>{PUBLISHED}</td>
	</tr>
	</patTemplate:tmpl>
</table>
<input type="hidden" name="option" value="com_jomres" />
<input type="hidden" name="task" value="editcrate" />
<input type="hidden" name="boxchecked" value="0">
</form>
</patTemplate:tmpl>