<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">

<table>
	<tr>
		<th class="jomres_title">Search users </th>
		<th class="jomres_title">Search results</th>
	</tr>
	<tr>
		<td class="jradmin_subheader_la">
			<div class="ui-widget">
				<label for="username_input"> Search for a user </label>
				<input id="username_input" /><br/>
				Enter a few characters to search for a user.<br/> When you select a user you will automatically add them as a Partner and you will be taken to the next page where you can assign properties and discounts to the user
			</div>
		</td>
		<td class="jradmin_subheader_la">
			<div id="usernames" style="float:left"></div>
		</td>
	</tr>
	<tr>
		<th colspan="2" class="jomres_title">Existing partners</th>
	</tr>
	<tr>
		<td colspan="2" class="jradmin_subheader_la">
			<patTemplate:tmpl name="rows" unusedvars="nbsp">
				{LINK}<br/>
			</patTemplate:tmpl>
		</td>
	</tr>
</table>

<script type="text/javascript">
var ajaxurl	= "{AJAXURL}";
var livesite= "{LIVESITE}&task=partner_show&name=";

	jQuery(function() {
		jQuery( "#username_input" ).autocomplete({
			source: ajaxurl+'partners_find',
			minLength: 2,
			select: function( event, ui ) {
				location.href = livesite+ui.item.value;
			}
		});
	});


</script>

</patTemplate:tmpl>
