<patTemplate:tmpl name="pageoutput" unusedvars="nbsp">

<h3>{_JOMRES_PARTNER_SHOW_TITLE} {USERNAME}</h3>

<table width="100%">
	<tr>
		<th class="jomres_title" colspan="2">{_JOMRES_PARTNER_SHOW_SEARCHTITLE}</th>
	</tr>
	<tr>
		<td colspan="2">
			<br/>
			<div class="ui-widget">
				<input id="propertyname_input" />
			</div>
			<br/>
			{_JOMRES_PARTNER_SHOW_SEARCHINSTRUCTIONS}
		</td>
	</tr>
	<tr><th class="jomres_title"  colspan="2">{_JOMRES_PARTNER_SHOW_CURRENTPROPERTIES}</th></tr>
	<tr>
		<td>
			{_JOMRES_PARTNER_SHOW_CURRENTPROPERTIES_INSTRUCTIONS}<br/>
			<div id="discount_list">{DISCOUNT_LIST}</div>
		</td>
		<td>
			<div id="property_discounts"></div>
		</td>
	</tr>
</table>

<script>
	jQuery(function() {
		jQuery( "#propertyname_input" ).autocomplete({
			source: ajaxurl+'partners_property_find',
			minLength: 2,
			select: function( event, ui ) {
				addPropertyToPartner(ui.item.value);
			}
		});
	});

var ajaxurl	= "{AJAXURL}";
var cmsuserid	= "{CMSUSERID}";

function addPropertyToPartner(property_name) {
	jQuery.get(ajaxurl+'partners_add_property_to_partner_portfolio',{ 'property_name': property_name, 'cmsuserid' : cmsuserid },
		function(data){
			jQuery('#discount_list').html(data);
			}
		);
	}
	
function show_property_discounts(property_id) {
	jQuery.get(ajaxurl+'partner_show_discounts_for_property',{ 'partner_id': cmsuserid, 'property_id' : property_id },
		function(data){
			jQuery('#property_discounts').html(data);
			}
		);
	}
	
function save_discount_settings(discount_id,property_id) {
	valid_from_input = 'valid_from_'+discount_id;
	valid_to_input = 'valid_to_'+discount_id;
	discount_input = 'discount_'+discount_id;
	var valid_from = jQuery('[name='+valid_from_input+']').val();
	var valid_to = jQuery('[name='+valid_to_input+']').val();
	var discount = jQuery('[name='+discount_input+']').val();
	jQuery.get(ajaxurl+'partner_save_discount_settings',{ 'discount_id': discount_id, 'valid_from' : valid_from, 'valid_to' : valid_to, 'discount' : discount },
		function(data){
			jQuery.get(ajaxurl+'partner_list_discounts',{ 'id': cmsuserid },
				function(data){
					jQuery('#discount_list').html(data);
					}
				);
			}
		);
	}
	
function delete_discount(discount_id,property_id) {
	jQuery.get(ajaxurl+'partner_delete_discount',{ 'discount_id': discount_id },
		function(data){
			document.getElementById('property_discounts').innerHTML = "";
			jQuery.get(ajaxurl+'partner_list_discounts',{ 'id': cmsuserid },
				function(data){
					jQuery('#discount_list').html(data);
					}
				);
			}
		);
	}
</script>

</patTemplate:tmpl>
