<patTemplate:tmpl name="pageoutput" >
<h2>{_JOMRES_SA_FORMS_FORGOT_TITLE}</h2>
<p><b>{USERNAME}</b></p>
<form name="form1" method="post" action="{POSTACTION}">
  <label for="password">{_JOMRES_SA_FORMS_ENTERNEWPASSWORD}</label>
  <input type="password" name="password" value=""><br/>
  <label for="confirm">{_JOMRES_SA_FORMS_UPDATEUSER_CONFIRMPASSWORD}</label>
  <input type="password" name="confirm" value=""><br/>
  <input type="hidden" name="user" value="{USERNAME}">
  <input type="submit" name="Submit" value="{_JOMRES_SA_SUBMIT}">
</form>

</patTemplate:tmpl>